<div class="row lops2019">
    <div class="col-md-12 ep-sisalto-inner">

        <div class="pull-right" ng-if="!editEnabled">
            <button icon-role="edit"
                    class="btn btn-default"
                    ng-click="edit()"
                    kaanna="'muokkaa'"></button>
        </div>

        <h1 kaanna="'laaja-alaiset-osaamiset'"></h1>

        <div ng-repeat="osaaminen in laajaalaiset.laajaAlaisetOsaamiset">
            <div ng-if="!editEnabled">
                <h2 ng-bind="osaaminen.nimi || 'nimeton' | kaanna"></h2>
                <div ng-if="osaaminen.koodi">
                    <strong kaanna="'koodi'"></strong>
                    <p>{{osaaminen.koodi.arvo | kaanna}}</p>
                </div>
                <div ng-bind-html="osaaminen.kuvaus | kaanna | unsafe" ng-if="osaaminen.kuvaus"></div>
            </div>
            <div ng-if="editEnabled">
                <div class="clearfix">
                    <button icon-role="remove"
                            class="btn btn-warning pull-right"
                            ng-click="remove(laajaalaiset.laajaAlaisetOsaamiset, osaaminen)"
                            kaanna="'poista'"></button>
                </div>
                <label for="{{'nimi-input-' + $index}}" class="header">{{'nimi' | kaanna}}</label>
                <input id="{{'nimi-input-' + $index}}" class="form-control" ng-model="osaaminen.nimi" slocalized>

                <div class="clearfix">
                    <label for="{{'koodi-input-' + $index}}" class="header" kaanna="koodi"></label>
                    <div class="input-group">
                        <input id="{{'koodi-input-' + $index}}"
                               class="form-control"
                               type="text"
                               ng-model="osaaminen.koodi.arvo"
                               editointi-kontrolli
                               ng-disabled="true">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="openKoodisto(osaaminen, 'laajaalainenosaaminenlops2021', false)" kaanna="hae-koodistosta"></button>
                        </span>
                    </div>
                    <button icon-role="remove"
                            class="btn btn-warning pull-right"
                            ng-click="osaaminen.koodi = null"
                            kaanna="'poista'"
                            style="margin-top: 10px"></button>
                </div>

                <div>
                    <label for="{{'kuvaus-input-' + $index}}" class="header" kaanna="kuvaus"></label>
                    <div id="{{'kuvaus-input-' + $index}}"
                         ng-model="osaaminen.kuvaus"
                         slocalized
                         ckeditor
                         editor-placeholder="laaja-alainen-osaaminen-kuvaus"></div>
                </div>
            </div>
            <hr ng-show="!$last"/>
            <div style="margin-bottom: 10px" ng-show="$last"></div>
        </div>

        <div class="pull-right" ng-if="editEnabled">
            <button icon-role="add"
                    class="btn btn-primary"
                    ng-click="add(laajaalaiset, 'laajaAlaisetOsaamiset')"
                    kaanna="'lisaa-laaja-alainen-osaaminen'"></button>
        </div>

    </div>
</div>
