<div class="row lops2019">
    <div class="col-md-12 ep-sisalto-inner">

        <div class="pull-right" ng-if="!editEnabled">
            <button icon-role="edit"
                    class="btn btn-default"
                    ng-click="edit()"
                    kaanna="'muokkaa'"></button>
        </div>
        <div class="pull-right" ng-if="editEnabled">
            <button icon-role="remove"
                    class="btn btn-danger"
                    ng-click="removeModuuli()"
                    kaanna="'poista-moduuli'"></button>
        </div>

        <h1 kaanna="moduuli.nimi || 'nimeton'"></h1>

        <div ng-if="!editEnabled">
            <div ng-if="moduuli.kuvaus">
                <div ng-bind-html="moduuli.kuvaus | kaanna | unsafe"></div>
            </div>

            <div ng-if="moduuli.koodi">
                <strong kaanna="'koodi'"></strong>
                <p>{{moduuli.koodi.nimi || moduuli.koodi.arvo | kaanna}}</p>
            </div>

            <div>
                <strong kaanna="'tyyppi'"></strong>
                <p>{{ moduuli.pakollinen ? 'pakollinen' : 'valinnainen' | kaanna}}</p>
            </div>

            <div ng-if="moduuli.laajuus">
                <strong kaanna="'laajuus'"></strong>
                <p>{{moduuli.laajuus}}</p>
            </div>

            <div ng-if="moduuli.tavoitteet && moduuli.tavoitteet.kohde">
                <strong class="header" kaanna="'tavoitteet'"></strong>
                <p kaanna="moduuli.tavoitteet.kohde"></p>
                <ul>
                    <li ng-repeat="tavoite in moduuli.tavoitteet.tavoitteet">
                        <span ng-bind="tavoite || 'nimeton' | kaanna"></span>
                    </li>
                </ul>
            </div>

            <div ng-if="moduuli.sisallot && moduuli.sisallot.length > 0">
                <strong class="header" kaanna="'sisallot'"></strong>
                <div ng-repeat="sisalto in moduuli.sisallot">
                    <p kaanna="sisalto.kohde"></p>
                    <ul>
                        <li ng-repeat="osa in sisalto.sisallot">
                            <span ng-bind="osa || 'nimeton' | kaanna"></span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div ng-if="editEnabled">
            <label for="{{'moduuli-nimi-input-' + $index}}"
                   class="header">{{'nimi' | kaanna}}</label>
            <input id="{{'moduuli-nimi-input-' + $index}}"
                   class="form-control"
                   ng-model="moduuli.nimi"
                   slocalized
                   style="margin-bottom: 10px">

            <div style="margin-bottom: 10px">
                <label for="moduuli-kuvaus-input" kaanna="'kuvaus'"></label>
                <div id="moduuli-kuvaus-input"
                     ng-model="moduuli.kuvaus"
                     slocalized
                     ckeditor
                     editor-placeholder="moduulin-kuvaus-placeholder"></div>
            </div>

            <div style="margin-bottom: 10px">
                <label for="koodi-input" class="header" kaanna="koodi"></label>
                <div class="input-group">
                    <input id="koodi-input"
                           class="form-control"
                           type="text"
                           ng-model="moduuli.koodi.arvo"
                           editointi-kontrolli
                           ng-disabled="true">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="openKoodisto(moduuli, 'moduulikoodistolops2021')" kaanna="hae-koodistosta"></button>
                    </span>
                </div>
            </div>

            <div>
                <strong kaanna="'tyyppi'"></strong>
                <ohje teksti="ohje-moduuli-pakollinen"></ohje>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="moduuli.pakollinen"> {{ moduuli.pakollinen ? 'pakollinen' : 'valinnainen' | kaanna}}
                    </label>
                </div>
            </div>

            <div style="margin-bottom: 10px">
                <label kaanna="'laajuus'"></label>
                <numberinput luokka="form-control"
                             model="moduuli.laajuus"
                             type="float"
                             step="0.5"></numberinput>
            </div>

            <div>
                <strong class="header" kaanna="'tavoitteet'"></strong>
                <div class="tavoitealue">
                    <label for="tavoitealue-nimi-input" class="header">{{'kohde' | kaanna}}</label>
                    <input id="tavoitealue-nimi-input" class="form-control" ng-model="moduuli.tavoitteet.kohde" slocalized style="margin-bottom: 10px">

                    <div ng-repeat="tavoite in moduuli.tavoitteet.tavoitteet" style="margin-bottom: 10px; margin-left: 40px">
                        <div class="input-group">
                            <input class="form-control" ng-model="tavoite" slocalized>
                            <span class="input-group-btn">
                                <button icon-role="remove"
                                        class="btn btn-warning"
                                        ng-click="remove(moduuli.tavoitteet.tavoitteet, tavoite)"
                                        kaanna="'poista'"></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button icon-role="add"
                                class="btn btn-primary pull-right"
                                ng-click="add(moduuli.tavoitteet, 'tavoitteet')"
                                kaanna="'lisaa-tavoite'"
                                style="margin-right: 10px"></button>
                    </div>
                </div>
            </div>

            <div>
                <strong class="header" kaanna="'sisallot'"></strong>
                <div ng-repeat="sisalto in moduuli.sisallot">
                    <label for="{{'sisalto-kohde-input-' + $index}}" class="header">{{'kohde' | kaanna}}</label>
                    <input id="{{'sisalto-kohde-input-' + $index}}" class="form-control" ng-model="sisalto.kohde" slocalized style="margin-bottom: 10px">

                    <div ng-repeat="osa in sisalto.sisallot" style="margin-bottom: 10px; margin-left: 40px">
                        <div class="input-group">
                            <input class="form-control" ng-model="osa" slocalized>
                            <span class="input-group-btn">
                                <button icon-role="remove"
                                        class="btn btn-warning"
                                        ng-click="remove(sisalto.sisallot, osa)"
                                        kaanna="'poista'"></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button icon-role="add"
                                class="btn btn-primary pull-right"
                                ng-click="add(sisalto, 'sisallot')"
                                kaanna="'lisaa-sisalto-osa'"
                                style="margin-bottom: 10px"></button>
                    </div>

                </div>
                <div class="clearfix">
                    <button icon-role="add"
                            class="btn btn-primary pull-right"
                            ng-click="add(moduuli, 'sisallot', { sisallot: [] })"
                            kaanna="'lisaa-sisalto'"></button>
                </div>
            </div>
        </div>

    </div>
</div>
