<div class="row lops2019">
    <div class="col-md-12 ep-sisalto-inner">

        <div class="sivunavi-takaisin" ng-if="!oppiaine._oppiaine">
            <a ui-sref="root.perusteprojekti.suoritustapa.lops2019oppiaineet"
               icon-role="back"
               kaanna="takaisin-oppiaineet"></a>
        </div>
        <div class="sivunavi-takaisin" ng-if="oppiaine._oppiaine">
            <a ui-sref="root.perusteprojekti.suoritustapa.lops2019oppiaine({oppiaineId: oppiaine._oppiaine})"
               icon-role="back"
               kaanna="takaisin-oppiaineeseen"></a>
        </div>

        <div class="pull-right" ng-if="!editEnabled">
            <button icon-role="edit"
                    class="btn btn-default"
                    ng-click="edit()"
                    kaanna="'muokkaa'"></button>
        </div>
        <div class="pull-right" ng-if="editEnabled">
            <button icon-role="remove"
                    class="btn btn-danger"
                    ng-click="removeOppiaine()"
                    kaanna="'poista-oppiaine'"></button>
        </div>

        <h1>{{oppiaine.nimi || 'nimeton' | kaanna}}</h1>

        <div ng-if="!editEnabled">
            <div ng-if="oppiaine.koodi">
                <strong kaanna="'koodi'"></strong>
                <p>{{oppiaine.koodi.nimi || oppiaine.koodi.arvo | kaanna}}</p>
            </div>

            <div ng-if="oppiaine.tehtava && oppiaine.tehtava.kuvaus">
                <h2 kaanna="'oppiaine-ja-tehtava'"></h2>
                <div ng-bind-html="oppiaine.tehtava.kuvaus | kaanna | unsafe"></div>
            </div>

            <div ng-if="oppiaine.laajaAlaisetOsaamiset && oppiaine.laajaAlaisetOsaamiset.length > 0">
                <h2 kaanna="'laaja-alaiset-osaamiset'"></h2>
                <div ng-repeat="osaaminen in oppiaine.laajaAlaisetOsaamiset">
                    <div ng-bind-html="osaaminen.kuvaus | kaanna | unsafe"></div>
                    <div ng-if="osaaminen.koodit && osaaminen.koodit.length > 0">
                        <strong kaanna="'koodi'"></strong>
                        <p>
                            <span ng-repeat="koodi in osaaminen.koodit">
                                {{koodi.arvo}} {{koodi.nimi | kaanna}}{{!$last ? ', ' : '' }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div ng-if="oppiaine.tavoitteet && oppiaine.tavoitteet.kuvaus">
                <h2 kaanna="'tavoitteet'"></h2>
                <div ng-bind-html="oppiaine.tavoitteet.kuvaus | kaanna | unsafe"></div>
                <div ng-if="oppiaine.tavoitteet.tavoitealueet && oppiaine.tavoitteet.tavoitealueet.length > 0">
                    <h3 kaanna="'tavoitealueet'"></h3>
                    <div ng-repeat="tavoitealue in oppiaine.tavoitteet.tavoitealueet">
                        <strong kaanna="tavoitealue.nimi"></strong>
                        <p kaanna="tavoitealue.kohde"></p>
                        <ul>
                            <li ng-repeat="tavoite in tavoitealue.tavoitteet">
                                <span ng-bind="tavoite || 'nimeton' | kaanna"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div ng-if="oppiaine.arviointi && oppiaine.arviointi.kuvaus">
                <h2 kaanna="'arviointi'"></h2>
                <div ng-bind-html="oppiaine.arviointi.kuvaus | kaanna | unsafe"></div>
            </div>

            <div ng-if="oppiaine.moduulit">
                <h2 kaanna="'moduulit'"></h2>
                <div ng-repeat="moduuli in oppiaine.moduulit" class="moduuli" ng-class="{'moduuli-pakollinen': moduuli.pakollinen}">
                    <a ui-sref="root.perusteprojekti.suoritustapa.lops2019moduuli({oppiaineId: oppiaine.id, moduuliId: moduuli.id})">
                        <span ng-bind="moduuli.nimi || 'nimeton' | kaanna"></span>
                    </a>
                </div>
            </div>

            <div ng-if="oppiaine.oppimaarat && !oppiaine._oppiaine">
                <h2 kaanna="'oppimaarat'"></h2>
                <div ng-repeat="oppimaara in oppiaine.oppimaarat">
                    <a ui-sref="root.perusteprojekti.suoritustapa.lops2019oppiaine({oppiaineId: oppimaara.id})">
                        <div class="oppiaine">
                            <span ng-bind="oppimaara.nimi || 'nimeton' | kaanna"></span>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <div ng-if="editEnabled">
            <label for="oppiaine-nimi-input"
                   class="header">{{'nimi' | kaanna}}</label>
            <input id="oppiaine-nimi-input"
                   class="form-control"
                   ng-model="oppiaine.nimi"
                   slocalized
                   style="margin-bottom: 10px">

            <label for="koodi-input" class="header" kaanna="koodi"></label>
            <div class="input-group">
                <input id="koodi-input"
                       class="form-control"
                       type="text"
                       ng-model="oppiaine.koodi.arvo"
                       editointi-kontrolli
                       ng-disabled="true">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="openKoodisto(oppiaine, 'oppiaineetjaoppimaaratlops2021', false)" kaanna="hae-koodistosta"></button>
                </span>
            </div>

            <h2 kaanna="'oppiaine-ja-tehtava'"></h2>
            <div ng-model="oppiaine.tehtava.kuvaus"
                 slocalized
                 ckeditor
                 editor-placeholder="oppiaineen-tehtava-kuvaus-placeholder"></div>

            <h2 kaanna="'laaja-alaiset-osaamiset'"></h2>
            <div ng-repeat="osaaminen in oppiaine.laajaAlaisetOsaamiset" style="margin-bottom: 10px;">
                <div ng-model="osaaminen.kuvaus"
                     slocalized
                     ckeditor></div>
                <strong kaanna="'koodi'"></strong>
                <p>
                    <span ng-repeat="koodi in osaaminen.koodit">
                        {{koodi.arvo}} {{koodi.nimi | kaanna}}{{!$last ? ', ' : '' }}
                    </span>
                </p>
                <div class="clearfix" style="margin-top: 10px">
                    <button icon-role="remove"
                            class="btn btn-danger pull-right"
                            ng-click="remove(oppiaine.laajaAlaisetOsaamiset, osaaminen)"
                            kaanna="'poista-laaja-alainen-osaaminen'"></button>
                    <button icon-role="add"
                            class="btn btn-primary pull-right"
                            ng-click="openKoodisto(osaaminen.koodit, 'laajaalainenosaaminenlops2021', true)"
                            kaanna="'lisaa-koodi'"
                            style="margin-right: 10px"></button>
                </div>
            </div>
            <div class="clearfix">
                <button icon-role="add"
                        class="btn btn-primary pull-right"
                        ng-click="add(oppiaine, 'laajaAlaisetOsaamiset', { koodit: [] })"
                        kaanna="'lisaa-laaja-alainen-osaaminen'"></button>
            </div>

            <h2 kaanna="'tavoitteet'"></h2>
            <div ng-model="oppiaine.tavoitteet.kuvaus"
                 slocalized
                 ckeditor
                 editor-placeholder="oppiaineen-tavoitteet-kuvaus-placeholder"></div>
            <br>

            <div>
                <div ng-repeat="tavoitealue in oppiaine.tavoitteet.tavoitealueet" class="tavoitealue">
                    <label for="{{'tavoitealue-nimi-input-' + $index}}" class="header">{{'nimi' | kaanna}}</label>
                    <input id="{{'tavoitealue-nimi-input-' + $index}}" class="form-control" ng-model="tavoitealue.nimi" slocalized style="margin-bottom: 10px">

                    <label for="{{'tavoitealue-kohde-input-' + $index}}" class="header">{{'kohde' | kaanna}}</label>
                    <input id="{{'tavoitealue-kohde-input-' + $index}}" class="form-control" ng-model="tavoitealue.kohde" slocalized style="margin-bottom: 10px">

                    <div ng-repeat="tavoite in tavoitealue.tavoitteet" style="margin-bottom: 10px; margin-left: 40px">
                        <div class="input-group">
                            <input class="form-control" ng-model="tavoite" slocalized>
                            <span class="input-group-btn">
                                    <button icon-role="remove"
                                            class="btn btn-warning"
                                            ng-click="remove(tavoitealue.tavoitteet, tavoite)"
                                            kaanna="'poista'"></button>
                            </span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button icon-role="remove"
                                class="btn btn-warning pull-right"
                                ng-click="remove(oppiaine.tavoitteet.tavoitealueet, tavoitealue)"
                                kaanna="'poista'"></button>
                        <button icon-role="add"
                                class="btn btn-primary pull-right"
                                ng-click="add(tavoitealue, 'tavoitteet')"
                                kaanna="'lisaa-tavoite'"
                                style="margin-right: 10px"></button>
                    </div>
                </div>
                <div class="clearfix">
                    <button icon-role="add"
                            class="btn btn-primary pull-right"
                            ng-click="add(oppiaine.tavoitteet, 'tavoitealueet')"
                            kaanna="'lisaa-tavoitealue'"></button>
                </div>
            </div>

            <h2 kaanna="'arviointi'"></h2>
            <div ng-model="oppiaine.arviointi.kuvaus"
                 slocalized
                 ckeditor
                 editor-placeholder="oppiaineen-arviointi-kuvaus-placeholder"></div>

            <h2 kaanna="'moduulit'"></h2>
            <div style="margin-bottom: 10px;"
                 ui-sortable="sortableOptions"
                 ng-model="oppiaine.moduulit">
                <div ng-repeat="moduuli in oppiaine.moduulit">
                    <div class="moduuli handle" ng-class="{'moduuli-pakollinen': moduuli.pakollinen}">
                        <span icon-role="drag" class="handle"></span>
                        <span ng-bind="moduuli.nimi || 'nimeton' | kaanna"></span>
                        <a class="action-link pull-right" icon-role="remove" ng-click="remove(oppiaine.moduulit, moduuli)"></a>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <button icon-role="add"
                        class="btn btn-primary pull-right"
                        ng-click="addModuuli()"
                        kaanna="'lisaa-moduuli'"></button>
            </div>

            <div ng-if="!oppiaine._oppiaine">
                <h2 kaanna="'oppimaarat'"></h2>
                <div style="margin-bottom: 10px"
                     ui-sortable="sortableOptions"
                     ng-model="oppiaine.oppimaarat">
                    <div ng-repeat="oppimaara in oppiaine.oppimaarat">
                        <div class="oppiaine handle">
                            <span icon-role="drag"></span>
                            <span ng-bind="oppimaara.nimi || 'nimeton' | kaanna"></span>
                            <a class="action-link pull-right" icon-role="remove" ng-click="remove(oppiaine.oppimaarat, oppimaara)"></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <button icon-role="add"
                            class="btn btn-primary pull-right"
                            ng-click="addOppimaara()"
                            kaanna="'lisaa-oppimaara'"></button>
                </div>
            </div>

        </div>
    </div>
</div>
