<!-- modals/haetutkinnonosa.html -->
<div class="modal-header">
    <h1><span kaanna="'hae-tutkinnon-osia'"></span>
        <span ng-if="haku">
            <ohje teksti="ohje-tutkinnon-osan-tuonti"></ohje>
        </span>
    </h1>
    <h3 ng-if="!haku">{{ valittu.nimi | kaanna }}</h3>
</div>

<div class="modal-body">
    <div ng-show="haku">
        <div class="checkbox pull-right">
            <label>
                <input type="checkbox" ng-model="luonnokset" ng-change="hakuMuuttui()">
                {{'myos-luonnokset' | kaanna}}
            </label>
        </div>
        <label style="margin-top: 10px;">{{'tutkinnon-nimella' | kaanna}}</label>
        <input ng-change="hakuMuuttui()" ng-model="data.hakustr" class="form-control" type="text"
               placeholder="Hae tutkintoja...">
        <p class="results-amount">{{perusteet['kokonaismäärä']}} {{'hakutulosta' | kaanna}}</p>
        <div class="table-responsive results">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-md-8" kaanna="'haku-nimi'"></th>
                        <th class="col-md-4" kaanna="'haku-voimaantulopvm'"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="peruste in perusteet.data" ng-click="jatka(peruste)" style="cursor: pointer;">
                        <td>{{peruste.nimi | kaanna}}</td>
                        <td>
                            <span ng-if="peruste.voimassaoloAlkaa">{{peruste.voimassaoloAlkaa | date:'dd.MM.yyyy'}}</span>
                            <span ng-if="!peruste.voimassaoloAlkaa">{{peruste.tila | kaanna}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ep-pagination ng-model="data.nykyinensivu"
                       ng-change="paivitaHaku"
                       total-items="perusteet['kokonaismäärä']"
                       items-per-page="sivukoko"
                       boundary-links="false"></ep-pagination>
    </div>

    <div ng-hide="haku">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2" kaanna="'valitse'"></th>
                        <th class="col-md-6" kaanna="'tutkinnon-osa'"></th>
                        <th class="col-md-2" kaanna="'laajuus'"></th>
                        <th class="col-md-2" kaanna="'suoritustapa'"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="osa in osat">
                        <td class="has-checkbox">
                            <input ng-model="osa.$$valitse" type="checkbox" class="form-control">
                        </td>
                        <td>{{osa.nimi | kaanna}}</td>
                        <td>{{osa.laajuus}}</td>
                        <td>{{osa.suoritustapakoodi | kaanna}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button ng-hide="haku" class="btn" ng-click="takaisin()" kaanna="'takaisin'"></button>
    <button class="btn" ng-click="peruuta()" kaanna="'peru'"></button>
    <button ng-show="!haku" class="btn btn-primary" ng-click="valitse()" kaanna="'tuo-valitut'"></button>
</div>
