<div class="modal-header">
  <h2>{{ 'hae-koodi-koodistosta' | kaanna }} ({{ tyyppi | kaanna }})</h2>
</div>

<div class="modal-body">
  <input ng-hide="lataa" ng-change="haku(syote, kieli)" type="text" ng-model="syote" class="form-control" placeholder="{{ 'rajaa-tuloksia' | kaanna }}" />
  <input ng-show="lataa" class="form-control" value="{{ 'haetaan-tutkinnon-osia' | kaanna }}" disabled />
  <p class="results-amount"><span ng-show="!!syote">{{totalItems}} {{'hakutulosta' | translate}}</span></p>
  <div class="results">
    <table class="table table-striped">
      <tr>
        <th class="col-xs-3">{{ 'koodi' | kaanna }}</th>
        <th class="col-xs-9">{{ 'nimi' | kaanna }}</th>
      </tr>
      <tr ng-repeat="l in loydetyt | startFrom:itemsPerPage*(nykyinen-1) | limitTo:itemsPerPage">
        <td class="col-xs-3"><a href="" ng-click="ok(l)">{{ l.koodi | koodisto }}</a></td>
        <td class="col-xs-9">{{ l.nimi | kaanna }}</td>
      </tr>
    </table>
  </div>
  <pagination ng-model="nykyinen" ng-change="valitseSivu(nykyinen)" total-items="totalItems" items-per-page="itemsPerPage"></pagination>
</div>

<div class="modal-footer">
  <button class="btn btn-danger" ng-click="peruuta()" translate>peru</button>
</div>
