<div class="modal-header">
  <h2>{{ 'hae-koodi-koodistosta' | translate }} ({{ tyyppi | translate }})</h2>
</div>

<div class="modal-body">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="clearfix"></div>
      <label translate>koodi</label>
      <input ng-hide="lataa" ng-change="haku(syote, kieli)" type="text" ng-model="syote" class="form-control" placeholder="{{ 'rajaa-tuloksia' | translate }}" />
      <input ng-show="lataa" class="form-control" value="{{ 'haetaan-tutkinnon-osia' | translate }}" disabled />
    </div>
  </div>

  <table ng-hide="lataa" class="table table-striped" ng-model="kieli">
    <tr>
      <th translate>koodi</th>
      <th translate>nimi</th>
    </tr>
    <tr ng-repeat="l in loydetyt | limitTo: 10">
      <td><a href="" ng-click="ok(l)">{{ l.koodi }}</a></td>
      <td>{{ l.nimi[kieli] }}</td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-danger" ng-click="peruuta()" translate>peru</button>
</div>
