<div class="modal-header">
  <h2 translate>perusteprojekti-tila-aseta</h2>
</div>

<div class="modal-body tilanvaihto">
  <div class="row">
    <div class="col-md-4">
      <statusbadge editable="data.editable" status="data.oldStatus"></statusbadge>
    </div>
    <div class="col-md-4 arrow">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </div>
    <div class="col-md-4">
      <statusbadge editable="data.editable" status="data.selected"></statusbadge>
    </div>
  </div>
  <p>Tämä tilanvaihdos aiheuttaa seuraavaa:
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
  <p class="confirmation" translate>haluatko-jatkaa</p>
</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="edellinen()" translate>edellinen</button>
  <button class="btn btn-primary" ng-click="ok()" translate>aseta-tila</button>
  <button class="btn btn-default" ng-click="peruuta()" translate>peruuta</button>
</div>
