<!-- perusteprojektinTilaVarmistus.html -->

<div class="modal-header">
  <h2 kaanna>perusteprojekti-tila-aseta</h2>
</div>

<div class="modal-body tilanvaihto">
  <div class="row">
    <div class="col-md-4">
      <statusbadge editable="data.editable" status="data.oldStatus"></statusbadge>
    </div>
    <div class="col-md-4 arrow">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </div>
    <div class="col-md-4">
      <statusbadge editable="data.editable" status="data.selected"></statusbadge>
    </div>
  </div>
  <div>
    <p kaanna="'tilanvaihdos-aiheuttaa'"></p>
    <div ng-bind-html="'tilanvaihdos-' + data.oldStatus + '-' + data.selected | kaanna | unsafe"></div>
  </div>
  <p class="confirmation" kaanna="'haluatko-jatkaa'"></p>
</div>

<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="edellinen()" kaanna>edellinen</button>
  <button class="btn btn-default" ng-click="peruuta()" kaanna>peruuta</button>
  <button class="btn btn-primary" ng-click="ok()" kaanna>aseta-tila</button>
</div>
