<!-- modals/perusteprojektinTila.html -->
<div class="modal-header">
    <h2 kaanna>perusteprojekti-tila-aseta</h2>
</div>

<div class="modal-body tilanvaihto">
    <div ng-if="data.statuses.length > 0">
        <h3 kaanna="'seuraava-tila'"></h3>
        <div class="tila"
             ng-class="{vanha: data.statuses[0].key === data.oldStatus, uusi: data.statuses[0].key === data.selected}"
             ng-click="data.selected = data.statuses[0].key"
             ng-dblclick="data.selected = data.statuses[0].key; (data.selected !== data.oldStatus) && valitse();">
            <statusbadge editable="data.editable" status="data.statuses[0].key"></statusbadge>
            <div class="description clearfix" ng-bind-html="data.statuses[0].description | kaanna | unsafe"></div>
        </div>
        <h3 kaanna="'edelliset-tilat'" ng-show="data.statuses.length > 1"></h3>
        <div class="tila"
             ng-repeat="tila in data.statuses"
             ng-hide="$first"
             ng-class="{vanha: tila.key === data.oldStatus, uusi: tila.key === data.selected}"
             ng-click="data.selected = tila.key"
             ng-dblclick="data.selected = tila.key; (data.selected !== data.oldStatus) && valitse();">
            <statusbadge editable="data.editable" status="tila.key"></statusbadge>
            <div class="description clearfix" ng-bind-html="tila.description | kaanna | unsafe"></div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="peruuta()" kaanna>peruuta</button>
    <button ng-disabled="!(data.selected && data.selected !== data.oldStatus)"
            class="btn btn-primary" ng-click="valitse()" kaanna>valitse
    </button>
</div>
