<div class="modal-header">
  <h2 translate>muokkaa</h2>
</div>

<div class="modal-body">
  <jasenkortti jasen="jasen" muokkaus-moodi="true"></jasenkortti>
</div>

<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="poista()"><span class="glyphicon glyphicon-remove"></span>{{'poista-projektista' | kaanna}}</button>
  <button class="btn btn-default" ng-click="tallenna()" translate>tallenna-nappi</button>
  <button class="btn btn-default" ng-click="peruuta()" translate>peruuta</button>
</div>
