<!-- rakenneosaModal.html -->

<div class="modal-header">
    <h2 kaanna="muokkaa-tutkinnon-osaa"></h2>
</div>

<div class="modal-body">
    <form class="form-horizontal" name="ryhmaForm">
        <div>
            <h3 kaanna="'perustiedot'"></h3>
            <formfield model="rakenneosa" model-var="kuvaus" label="kuvaus" type="text"></formfield>
            <formfield model="rakenneosa" model-var="pakollinen" label="pakollinen" type="checkbox"></formfield>
        </div>
        <div>
            <h3 kaanna="'tutkintokoodi'"></h3>
            <div ng-if="rakenneosa.erikoisuus === 'vieras'">
                <div class="input-group">
                    <span ng-if="rakenneosa.vieras" class="form-control" kaanna="rakenneosa.vieras.nimi"></span>
                    <span class="input-group-btn">
                        <button ng-click="vieraskoodiModaali()" class="btn btn-default" kaanna="'hae-koodi'"></button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="peruuta()" kaanna>peru</button>
    <button class="btn btn-primary" ng-click="ok(rakenneosa)" kaanna>tallenna</button>
</div>
