<div class="modal-header">
  <h2 kaanna="omat-suosikit"></h2>
</div>

<div class="modal-body suosikki-muokkaus">

  <div class="rajaus" ng-show="originals.length > 4">
    <rajaus callback="search.update()" model="search.term" placeholder="Rajaa nimellä..."></rajaus>
  </div>

  <table class="table table-striped table-hover">
    <tr>
        <th kaanna="suosikin-nimi"></th><th kaanna="luotu"></th><th class="actions"></th>
    </tr>
    <tr ng-repeat="suosikki in suosikit">
      <td>
        <span ng-if="editing.id !== suosikki.id"><a ng-href="{{suosikki.$url}}" target="_blank">{{suosikki.nimi}}</a></span>
        <input class="form-control" ng-if="editing.id === suosikki.id" ng-model="editing.nimi">
      </td>
      <td>{{suosikki.lisatty | aikaleima}}</td>
      <td>
        <div ng-show="!editing">
          <button class="btn btn-default" ng-click="edit(suosikki)" icon-role="edit" kaanna="'muokkaa'"></button>
          <button class="btn btn-default" ng-click="remove(suosikki)" icon-role="remove" ng-attr-title="{{'poista' | kaanna}}"></button>
        </div>
        <div ng-show="editing.id === suosikki.id">
          <button class="btn btn-default" ng-click="cancel()" kaanna="peruuta"></button>
          <button class="btn btn-primary" ng-click="save(suosikki)" ng-disabled="editing.nimi === ''" kaanna="tallenna"></button>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="$close()" kaanna="sulje"></button>
</div>
