<div class="modal-header">
    <h1 kaanna="hae-ryhma"></h1>
</div>

<div class="modal-body">
    <div ng-show="haetaan">
        <small-spinner></small-spinner>
        <span kaanna>haetaan-ryhmia</span>
    </div>
    <div ng-if="!haetaan && !error">
        <div style="margin-bottom: 10px">
            <rajaus style="" model="rajaus" placeholder="rajaa-ryhmia" callback="paivitaRajaus(value)"></rajaus>
        </div>
        <div class="projektiryhma-haku-rivi" ng-repeat="r in fryhmat = (ryhmat | filter:rajaa) | orderBy:lang | startFrom:itemsPerPage*(nykyinen-1) | limitTo:itemsPerPage">
            <span class="block"></span>
            <a href="" ng-click="valitse(r)" title="{{ r.kuvaus2 | kaanna }}">
                {{ r.nimi | kaanna }}
            </a>
        </div>
        <div class="clearfix"></div>
        <pagination ng-model="nykyinen" ng-change="valitseSivu(nykyinen)" total-items="fryhmat.length" items-per-page="itemsPerPage"></pagination>
    </div>
    <div class="alert alert-error" ng-show="error" kaanna>ryhmien-hakeminen-epaonnistui</div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="peruuta()" kaanna>peru</button>
</div>
