<!-- tyoryhmavalitsin.html -->

<div class="modal-header">
    <h2 kaanna="valitse-tyoryhmat"></h2>
</div>

<div class="modal-body">
  <div class="row">
    <div style="margin-bottom: 10px" class="col-sm-6" ng-repeat="t in valittavat">
      <div ng-click="valitse(t)" class="tyoryhma-modal-button" ng-class="{ 'tyoryhma-modal-button-selected': uudet[t] }">
        {{ t }}
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" ng-click="peruuta()" kaanna>peru</button>
    <button class="btn btn-primary" ng-click="ok()" kaanna>valitse</button>
</div>
