<!-- modals/varmistusdialogi.html -->
<div class="modal-header">
  <h3>{{otsikko | kaanna}}</h3>
</div>
<div ng-show="teksti.length > 0 || lisaTeksti.length > 0" class="modal-body">
  <p>{{teksti | kaanna}}</p>
  <p>{{lisaTeksti | kaanna}}</p>
</div>
<div class="modal-footer">
    <input ng-model="comment.text" ng-if="comment.enabled" placeholder="{{comment.placeholder | kaanna}}">
    <button class="btn" ng-click="peruuta()">{{opts.secondaryBtn | kaanna}}</button>
    <button class="btn btn-primary" ng-click="ok()">{{opts.primaryBtn | kaanna}}</button>
</div>
