<!-- partials/lukio/include/kurssiOsavalitsin.html -->
<div class="dropdown">
    <button editointi-kontrolli class="btn btn-default btn-sm dropdown-toggle"
            ng-show="isAddAvailable()"
            icon-role="add">{{'muokkaus-lisaa-osio' | kaanna}}
    </button>
    <ul class="pull-right dropdown-menu">
        <li ng-repeat="field in muokattavatOsat" ng-show="!field.obj">
            <a class="action-link" ng-click="addOsa(field.id)" kaanna="'kurssi-osa-'+field.id">
            </a>
        </li>
    </ul>
</div>
