<div>
    <projektin-murupolku></projektin-murupolku>

    <div ng-if="!editEnabled">
        <button icon-role="edit"
                style="margin-left: 10px;"
                ng-hide="!versiot.latest"
                ng-click="muokkaa()"
                class="btn btn-default pull-right"
                kaanna="'muokkaa'"
                oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]"></button>

        <button icon-role="plus"
                style="margin-left: 10px;"
                ng-hide="!versiot.latest || editableModel._oppiaine"
                ng-click="lisaaOppimaara()"
                class="btn btn-default pull-right"
                kaanna="'lisaa-oppimaara'"
                oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }]"></button>

        <button icon-role="plus"
                ng-hide="!versiot.latest"
                ng-click="lisaaKurssi()"
                class="btn btn-default pull-right"
                kaanna="'lisaa-kurssi'"
                oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }]"></button>

        <h1>
            <span>{{editableModel.nimi || 'nimeton-oppiaine' | kaanna}}</span>
        </h1>

        <versiotiedot></versiotiedot>

        <div ng-repeat="field in fields | filter:filterFn | orderBy:'order'">
            <div class="panel-heading">
                <h3 class="panel-title osio-otsikko" ng-click="field.$isCollapsed = !field.$isCollapsed">
                    <span class="glyphicon"
                          ng-class="field.$isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                    <span ng-bind="editableModel[field.path].otsikko | kaanna"></span>
                </h3>
            </div>
            <div class="panel-body" collapse="field.$isCollapsed">
                <div ng-bind-html="editableModel[field.path].teksti | kaanna | unsafe"></div>
            </div>
        </div>

        <!-- Kurssit -->
        <div class="panel-heading">
            <h3 class="panel-title osio-otsikko"
                ng-click="kurssit.$isCollapsed = !kurssit.$isCollapsed">
                    <span class="glyphicon"
                          ng-class="kurssit.$isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                <span kaanna="'oppiaine-kurssit'"></span>
            </h3>
        </div>
        <div class="panel-body" collapse="kurssit.$isCollapsed">
            <div ng-show="kurssit.length == 0">
                <span kaanna="'tyhja-placeholder-kurssit'"></span>
            </div>
        </div>

        <!-- Oppimäärät -->
        <div ng-if="!editableModel._oppiaine">
            <div class="panel-heading">
                <h3 class="panel-title osio-otsikko" ng-click="oppiaineet.$isCollapsed = !oppiaineet.$isCollapsed">
                    <span class="glyphicon"
                          ng-class="oppiaineet.$isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                    <span kaanna="'oppimaarat'"></span>
                </h3>
            </div>
            <div class="panel-body" collapse="oppiaineet.$isCollapsed">
                <div ng-show="oppimaarat.length == 0">
                    <span kaanna="'tyhja-placeholder-oppiaineet'"></span>
                </div>
                <table class="table table-striped" ng-show="oppimaarat.length > 0">
                    <tr>
                        <th>
                            {{'nimi'| kaanna}}
                        </th>
                    </tr>
                    <tr ng-repeat="oppimaara in oppimaarat">
                        <td>
                            <a ui-sref="root.perusteprojekti.suoritustapa.aipeosaalue.oppiaine({oppiaineId: oppimaara.id})"
                               ng-bind="oppimaara.nimi || 'nimeton-oppimaara' | kaanna"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div ng-if="editEnabled">
        <button icon-role="remove"
                style="margin-left: 10px;"
                ng-if="!isNew"
                class="btn btn-danger pull-right"
                ng-click="poista()">
            {{'poista-oppiaine' | kaanna}}
        </button>

        <div class="dropdown pull-right">
            <button editointi-kontrolli
                    class="btn btn-default dropdown-toggle"
                    icon-role="add">
                {{'muokkaus-lisaa-osio' | kaanna}}
            </button>

            <ul class="pull-right dropdown-menu">
                <li ng-repeat="field in fields | orderBy:'order'"
                    ng-class="{divider: field.divider}">
                    <a class="action-link"
                       ng-if="!field.divider"
                       ng-class="{'disabled-link': field.visible}"
                       ng-click="field.visible ? void(0) : fieldOps.add(field)">
                        {{field.localeKey | kaanna}}
                    </a>
                </li>
            </ul>
        </div>

        <h1>
            <span >{{isNew ? 'uusi-oppiaine' : 'muokkaa-oppiainetta' | kaanna}}</span>
        </h1>

        <hr>

        <form name="nimiForm" role="form">
            <div class="non-collapsibles">
                <label for="nimi-input" class="header">{{'muokkaus-tutkinnon-osan-nimi-header' | kaanna}}*</label>
                <input id="nimi-input" class="form-control" ng-model="editableModel.nimi" slocalized required>
                <p class="alert alert-error"
                   ng-show="(nimiForm.$error.required && nimiForm.$error.required[0].$dirty) || nimiValidationError"
                   kaanna="'nimi-on-pakollinen'"></p>
            </div>
        </form>

        <div class="non-collapsibles">
            <label for="koodi-input" class="header" kaanna="muokkaus-tutkinnon-osan-koodi-header"></label>
            <div class="fixed-group">
                <input id="koodi-input" class="form-control" type="text" ng-model="editableModel.koodi.arvo"
                       editointi-kontrolli disabled="disabled">
                <div class="addon">
                    <button class="btn btn-default" ng-click="openKoodisto()" kaanna="hae-koodistosta"></button>
                </div>
            </div>

            <label for="pakollinen-kurssi-kuvaus-input"
                   class="header">{{'pakollinen-kurssi-kuvaus-header' | kaanna}}</label>
            <input id="pakollinen-kurssi-kuvaus-input"
                   class="form-control"
                   ng-model="editableModel.pakollinenKurssiKuvaus"
                   slocalized>

            <label for="syventava-kurssi-kuvaus-input"
                   class="header">{{'syventava-kurssi-kuvaus-header' | kaanna}}</label>
            <input id="syventava-kurssi-kuvaus-input"
                   class="form-control"
                   ng-model="editableModel.syventavaKurssiKuvaus"
                   slocalized>

            <label for="soveltava-kurssi-kuvaus-input"
                   class="header">{{'soveltava-kurssi-kuvaus-header' | kaanna}}</label>
            <input id="soveltava-kurssi-kuvaus-input"
                   class="form-control"
                   ng-model="editableModel.soveltavaKurssiKuvaus"
                   slocalized>
        </div>

        <div ng-repeat="field in fields | filter:filterFn | orderBy:'order'">
            <div class="panel-heading vuosiluokka-osio" ng-class="'osio-' + field.path">
                <div class="action-buttons">
                    <span ng-show="field.$editing">
                        <button class="btn btn-default" kaanna="'peruuta'" ng-click="fieldOps.cancel(field)"></button>
                        <button class="btn btn-primary" kaanna="'ok'" ng-click="fieldOps.ok(field)"></button>
                    </span>
                    <span ng-hide="field.$editing">
                        <button icon-role="edit" class="btn btn-default" ng-click="fieldOps.edit(field)"></button>
                        <button icon-role="remove" class="btn btn-default" ng-click="fieldOps.remove(field)"
                                oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
                    </span>
                </div>

                <h3 class="panel-title osio-otsikko"
                    ng-click="!field.$editing ? field.$isCollapsed = !field.$isCollapsed : null">
                    <span ng-hide="field.$editing" class="glyphicon"
                          ng-class="field.$isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                    <span ng-hide="field.$editing"
                          ng-bind="editableModel[field.path].otsikko | kaanna"></span>
                    <span ng-if="field.$editing" class="form-group">
                        <input slocalized ng-model="editableModel[field.path].otsikko" class="form-control"
                               placeholder="{{'muokkaus-teksikappaleen-nimi-placeholder' | kaanna}}">
                    </span>
                </h3>
            </div>

            <div class="panel-body" collapse="field.$isCollapsed">
                <div ng-if="!field.$editing" ng-bind-html="editableModel[field.path].teksti | kaanna"></div>
                <div ng-if="field.$editing">
                    <div class="msd-elastic"
                         slocalized
                         ckeditor
                         ng-model="editableModel[field.path].teksti"
                         editor-placeholder="muokkaus-tekstikappaleen-teksti-placeholder"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<pre>{{editableModel | json}}</pre>
<pre>{{oppimaarat | json}}</pre>
<pre>{{kurssit | json}}</pre>
