mixin tavoite-painikkeet
  .muokkausnappi(ng-if="editing")
    button.btn.btn-default.icon-only(ng-click="poistaTavoite(tavoite)", icon-role="remove", title="{{'poista' | kaanna}}")

mixin tavoite-handle
  .sorter-handle.pull-left(ui-tree-handle)
    .icon(icon-role="drag")

mixin tavoite-naytto
  h4.tavoite-otsikko.action-link(kaanna="tavoite.tavoite || 'nimeton-tavoite'", ng-click="tavoite.$accordionOpen = !tavoite.$accordionOpen")

  .div(uib-collapse="!tavoite.$accordionOpen")
    h4(kaanna="'kohdealueet'")
    p(kaanna="tavoite.$valittuKohdealue.nimi || 'ei-asetettu'")

    h4(kaanna="'laaja-alainen-osaaminen'")
    div(tag-cloud="tavoite.$osaaminen", openable="true", edit-mode="editing", add-label="lisaa-laaja-alainen-osaaminen")

    h4(kaanna="'arvioinnin-kohde'")
    p(kaanna="getArvioinninKohteenTeksti(tavoite) || 'ei-asetettu'")

    h4(kaanna="tavoite.arvioinninOtsikko || 'arviointi'")
    +arviointi
    +vapaa-teksti

  .div(ng-hide="tavoite.$accordionOpen")
    .tavoite-collapser.action-link(ng-click="tavoite.$accordionOpen = true") …

mixin arviointi
  table.table.table-default.table-bordered.perusopetuksen-arviointi
    thead
      tr
        th(ng-bind="'osaamisen-kuvaus' | kaanna")
        th(ng-bind="'arvion-kuvaus' | kaanna")
        thead
    tbody
      tr(ng-repeat="arvioinninKohde in tavoite.arvioinninkohteet | orderBy:(!editing ? '-arvosana':'')")
        td
          span(ng-if="!editing" kaanna="'osaamisen-kuvaus-arvosanalle_'+arvioinninKohde.arvosana")
          select.form-control(ng-if="editing", ng-model='arvioinninKohde.arvosana')
            option(ng-repeat="arvosana in arvosanat" ng-value="{{arvosana.numero}}") {{arvosana.teksti}}
        td
          span(ng-if="!editing", kaanna="arvioinninKohde.osaamisenKuvaus")
          textarea.form-control.msd-elastic(ng-model='arvioinninKohde.osaamisenKuvaus', slocalized , ng-if="editing")
        td(ng-if="editing")
          a(icon-role="remove", ng-click="removeArvioinninKohde(tavoite, $index)", title="{{'poista' | kaanna}}", style="cursor: pointer;")

  button.btn.btn-default(icon-role="add", kaanna="'arviointi-uusi-kriteeri'", ng-click="addArvioinninKohde(tavoite)", ng-if="editing")

mixin tavoite-muokkaus
  h4(kaanna="'nimi'")
  input.form-control(ng-model="tavoite.tavoite", slocalized, placeholder="{{'tavoitteen-nimi-placeholder' | kaanna}}")

  h4(kaanna="'kohdealueet'")
  .input-group
    select.form-control(ng-model="tavoite.$valittuKohdealue",
                        ng-change="asetaKohdealue(tavoite)",
                        ng-options="kaannaKohdealue(ka) for ka in vaihe.opetuksenKohdealueet")
    span.input-group-btn
      button.btn.btn-default(ng-click='poistaValittuKohdealue(tavoite)', icon-role='remove', kaanna="'poista'", type='button')

  h4(kaanna="'laaja-alainen-osaaminen'")
  div(tag-cloud="tavoite.$osaaminen", openable="true", edit-mode="editing", add-label="lisaa-laaja-alainen-osaaminen")

  h4(kaanna="'arvioinnin-kohde'")
  input.form-control(ng-model="tavoite.arvioinninKuvaus", slocalized, placeholder="{{'arvioinnin-kohde' | kaanna}}")

  h4(kaanna="'arviointi'")
  input.form-control(ng-model="tavoite.arvioinninOtsikko", slocalized, placeholder="{{'arvioinnin-otsikko' | kaanna}}")
  br
  +arviointi
  +vapaa-teksti

mixin vapaa-teksti
  h4(ng-if="editing || tavoite.vapaaTeksti", kaanna="'vapaa-tekstisisalto'")
  input.form-control(ng-if="editing", ng-model="tavoite.vapaaTeksti", slocalized, placeholder="{{'vapaa-tekstisisalto' | kaanna}}")
  p(ng-if="!editing && tavoite.vapaaTeksti", kaanna="tavoite.vapaaTeksti")

mixin tavoite-sisalto
  .tavoite-sisalto
    .div(ng-if="!editing")
      +tavoite-naytto

    .div(ng-if="editing")
      +tavoite-muokkaus

mixin tavoite
  +tavoite-painikkeet

  div(ng-if="editing")
    +tavoite-handle

  +tavoite-sisalto

mixin tavoitteet
  span.toggler(ng-show="model.length")
    a.action-link(kaanna="'avaa-sulje-kaikki'", ng-click="toggleAll()")

  // Näyttö
  div(ng-if="!editing")
    .panel.panel-default.panel-small
      .panel-body
        .panel-group
          .panel.panel-default(ng-repeat="tavoite in model")
            .panel-body
              +tavoite

  // Muokkaus
  div(ng-if="editing")
    .panel.panel-default.panel-small
      .panel-body(ui-tree="treeOptions")
        .panel-group(ng-model="model", ui-tree-nodes="")
          .panel.panel-default(ng-repeat="tavoite in model" ui-tree-node="")
            .panel-body
              +tavoite

    button.btn.btn-default(ng-click="lisaaTavoite()", icon-role="add", kaanna="'lisaa-opetuksen-tavoite'")

div
  +tavoitteet
