<!-- aihekokonaisuudet.html -->
<div id="toolbar" class="navbar-fixed-top ck-toolbar" style="display: none">
  <div id="ck-toolbar-top"></div>
  <div id="ck-toolbar-bottom"></div>
</div>
<div class="row">
  <div class="col-md-12 ep-sisalto-inner">

    <div class="action-buttons" ng-if="!editEnabled">
      <button class="btn btn-default" icon-role="edit" ng-click="edit()" kaanna="muokkaa"
              oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]"></button>
    </div>
    <div ng-if="!editEnabled">
      <h1><span kaanna="otsikko"/>: {{aihekokonaisuudet.otsikko|kaanna}}</h1>
      <div ng-bind-html="aihekokonaisuudet.yleiskuvaus|kaanna|unsafe"></div>

      <hr />
      <div ng-repeat="v in model | orderBy:nro">
        <h1>{{v.nimi|kaanna}}</h1>
        <button class="btn btn-default" icon-role="edit" ng-click="gotoEditAihekokonaisuus(v.id)" kaanna="muokkaa"
                oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]"></button>
        <div ng-bind-html="v.kuvaus|kaanna|unsafe" />
        <div class="muokattu">{{ v.muokattu || 0 | aikaleima }}</div>
      </div>

    </div>

    <div ng-if="editEnabled">

      <form name="aihekokonaisuudetYleiskuvausForm" role="form">

        <label for="otsikko-input" class="header" kaanna="lisaa-aihekokonaisuus-otsikko-header" vaaditaan></label>
        <input id="otsikko-input" class="form-control" ng-model="aihekokonaisuudet.otsikko" slocalized type="text" required="true" data-empty-place-holder-enabled="true" placeholder="{{'otsikko' | kaanna}}"></input>
        <p class="alert alert-error" ng-show="(aihekokonaisuudetYleiskuvausForm.$error.required && aihekokonaisuudetYleiskuvausForm.$error.required[1].$dirty)"
           kaanna>Otsikko on pakollinen tieto</p>

        <label for="yleiskuvaus-input" class="header" kaanna="lisaa-aihekokonaisuus-yleiskuvaus-header"></label>
        <div id="yleiskuvaus-input" ckeditor ng-if="editEnabled" slocalized ng-model="aihekokonaisuudet.yleiskuvaus" editor-placeholder="aihekokonaisuudet-yleiskuvaus-placeholder"></div>
      </form>

    </div>

  </div>
</div>
