<!-- aihekokonaisuudet.html -->
<div id="toolbar" class="navbar-fixed-top ck-toolbar" style="display: none">
  <div id="ck-toolbar-top"></div>
  <div id="ck-toolbar-bottom"></div>
</div>
<div class="row">
  <div class="col-md-12 ep-sisalto-inner">

    <div class="action-buttons" ng-if="!editEnabled">
      <br />
      <br />
      <button class="btn btn-default" icon-role="edit" ng-click="edit()" kaanna="muokkaa"
              oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]"></button>
    </div>
    <div ng-if="!editEnabled">
      <div ng-if="!aihekokonaisuudet.otsikko" kaanna="aihekokonaisuudet-ei-otsikkoa"></div>
      <h1><span ng-bind="aihekokonaisuudet.otsikko | kaanna"></span></h1>
      <div ng-bind-html="aihekokonaisuudet.yleiskuvaus|kaanna|unsafe"></div>

      <hr />
      <div ng-repeat="v in model | orderBy:nro">
        <div>
          <div class="action-buttons">
            <button class="btn btn-default" icon-role="edit" ng-click="gotoEditAihekokonaisuus(v.id)"
                    oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]"></button>
            <button class="btn btn-default" icon-role="remove"
                    oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]" ng-click="poista(v.id)"></button>
          </div>

          <h3 class="panel-title osio-otsikko" ng-click="v.$isCollapsed = !v.$isCollapsed">
          <span class="glyphicon"
                ng-class="v.$isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
            <span ng-bind="v.nimi | kaanna" />
          </h3>

          <div class="panel-body" collapse="v.$isCollapsed">
            <div ng-bind-html="v.kuvaus|kaanna|unsafe" />
            <div class="muokattu">{{ v.muokattu || 0 | aikaleima }}</div>
          </div>

        </div>
      </div>

    </div>

    <div ng-if="editEnabled">

      <form name="aihekokonaisuudetYleiskuvausForm" role="form">

        <label for="otsikko-input" class="header" kaanna="lisaa-aihekokonaisuus-otsikko-header" vaaditaan></label>
        <input id="otsikko-input" class="form-control" ng-model="aihekokonaisuudet.otsikko" slocalized type="text" required="true" data-empty-place-holder-enabled="true" placeholder="{{'otsikko' | kaanna}}"></input>
        <p class="alert alert-error" ng-show="(aihekokonaisuudetYleiskuvausForm.$error.required && aihekokonaisuudetYleiskuvausForm.$error.required[1].$dirty)"
           kaanna>Otsikko on pakollinen tieto</p>

        <label for="yleiskuvaus-input" class="header" kaanna="lisaa-aihekokonaisuus-yleiskuvaus-header"></label>
        <div id="yleiskuvaus-input" ckeditor ng-if="editEnabled" slocalized ng-model="aihekokonaisuudet.yleiskuvaus" editor-placeholder="aihekokonaisuudet-yleiskuvaus-placeholder"></div>
      </form>

    </div>

  </div>
</div>
