<div>
    <div ui-tree data-empty-placeholder-enabled="false" data-drag-enabled="false">
        <ul class="list-group muokkaus" ui-tree-nodes ng-model="activeOsiot">
            <li class="sortable-box" ui-tree-node ng-repeat="osio in activeOsiot">
                <div class="closer">
                    <a class="action-link" icon-role="remove" ng-click="removeOsio(osio)"></a>
                </div>
                <div class="pull-left draghandle" ui-tree-handle><!-- icon-role="drag" --></div>
                <div class="content">
                    <div ng-if="hasEditableTitle(osio)" class="input-wrapper">
                        <input class="form-control"
                               ng-model="osio.model.otsikko"
                               slocalized
                               placeholder="{{'muokkaus-teksikappaleen-nimi-placeholder'|kaanna}}">
                    </div>
                    <span ng-if="!hasEditableTitle(osio)">{{osio.model.otsikko | kaanna}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
