<!-- arviointi.html -->
<div class="arviointi">
    <div ng-class="{'panel panel-default panel-small arviointi-kohdealueet': !eiKohdealueita, 'arviointi-ei-kohdealueita': eiKohdealueita}">
        <span class="toggler" ng-show="arviointi.length && !eiKohdealueita">
            <a class="action-link"
               kaanna="'avaa-sulje-kaikki'"
               ng-click="toggleAll()"></a>
        </span>
        <span class="toggler" ng-show="arviointi[0].arvioinninKohteet.length && eiKohdealueita">
            <a class="action-link"
               kaanna="'avaa-sulje-kaikki'"
               ng-click="toggleAll()"></a>
        </span>
        <div class="panel-body">
            <uib-accordion close-others="false">
                <div id="sortableKohdealueet" ui-sortable="sortableOptions" ng-model="arviointi">
                    <div uib-accordion-group
                         class="arvioinnin-kohdealue"
                         template-url="views/partials/accordiongroup.html"
                         heading="{{kohdealue.otsikko | kaanna}}"
                         ng-repeat="kohdealue in arviointi"
                         is-open="kohdealue.$accordionOpen">
                        <uib-accordion-heading>
                            <h3 class="panel-title" ng-hide="eiKohdealueita">
                                <arvioinnin-tekstikentta sisalto="kohdealue"
                                                         sisaltoalue="arviointi"
                                                         sisaltoteksti="kohdealue.otsikko"
                                                         sisaltoalue="$parent.arviointi.arvioinninKohdealueet"
                                                         edit-allowed="editAllowed"
                                                         editmode="editEnabled"></arvioinnin-tekstikentta>
                            </h3>
                        </uib-accordion-heading>

                        <uib-accordion close-others="false">
                            <div id="sortableKohteet"
                                 ui-sortable="sortableOptions"
                                 ng-model="kohdealue.arvioinninKohteet">
                                <div class="arvioinnin-kohde"
                                     uib-accordion-group
                                     ng-class="{'kohde-edit': arvioinninkohde === originalKohde}"
                                     ng-repeat="arvioinninkohde in kohdealue.arvioinninKohteet"
                                     is-open="arvioinninkohde.$accordionOpen"
                                     is-disabled="editableKohde">

                                    <uib-accordion-heading>
                                        <span ng-show="arvioinninkohde !== originalKohde">
                                            {{arvioinninkohde.otsikko | kaanna}}
                                            <a ng-show="editEnabled" ng-click="kohde.poista(kohdealue.arvioinninKohteet, arvioinninkohde, $event)"
                                               class="action-link muokkausnappi" icon-role="remove"
                                               oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></a>
                                            <a ng-show="editEnabled" ng-click="kohde.muokkaa(arvioinninkohde, $event)"
                                               class="muokkausnappi action-link" icon-role="edit"></a>
                                        </span>
                                    </uib-accordion-heading>

                                    <div ng-show="arvioinninkohde === originalKohde">
                                        <input class="form-control kohdeotsikko"
                                               ng-model="editableKohde.otsikko"
                                               slocalized
                                               placeholder="{{'arviointi-uusi-kohde-placeholder' | kaanna}}">
                                        <div class="muokkaus-napit pull-right" style="margin-top: -4px;">
                                            <button class="btn btn-default btn-xs" ng-click="kohde.peruMuokkaus()" kaanna>peru</button>
                                            <button class="btn btn-primary btn-xs" ng-click="kohde.poistuMuokkauksesta(kohdealue.arvioinninKohteet, $index)" kaanna="'ok'"></button>
                                        </div>
                                    </div>

                                    <div style="margin-bottom: 5px">
                                        <div ng-if="arvioinninkohde !== originalKohde"
                                             ng-bind="arvioinninkohde.selite | kaanna"></div>
                                        <input ng-if="arvioinninkohde === originalKohde" ng-model="editableKohde.selite"
                                               type="text" class="form-control" slocalized
                                               placeholder="{{'arviointi-uusi-kohde-selite-placeholder' | kaanna}}">
                                    </div>

                                    <table>
                                        <tr ng-repeat="taso in arviointiasteikot[arvioinninkohde._arviointiAsteikko].osaamistasot"
                                            ng-class-odd="'raita'"
                                            ng-class-even="'ei-raitaa'">
                                            <td class="otsikko" ng-bind="taso.otsikko | kaanna"></td>
                                            <td>
                                                <table ng-if="arvioinninkohde === originalKohde"
                                                       ng-repeat="osaamistasonKriteeri in editableKohde.osaamistasonKriteerit | filter:{_osaamistaso: taso.id}">
                                                    <tbody ui-sortable="kriteeriSortableOptions"
                                                           ng-model="osaamistasonKriteeri.kriteerit">
                                                        <tr ng-repeat="kriteeri in osaamistasonKriteeri.kriteerit">
                                                            <td class="dragger"
                                                                ng-class="{'drag-enable': osaamistasonKriteeri.kriteerit.length > 1}">
                                                                <span class="glyphicon glyphicon-resize-vertical"></span>
                                                            </td>
                                                            <td class="rivi">
                                                                <textarea class="form-control msd-elastic" ng-model="kriteeri" slocalized
                                                                          placeholder="{{'arviointi-uusi-kriteeri-placeholder' | kaanna}}"></textarea>
                                                            </td>
                                                            <td class="toiminnot">
                                                                <a class="action-link"
                                                                   ng-click="rivi.poista(osaamistasonKriteeri.kriteerit, $index)"
                                                                   icon-role="minus"
                                                                   title="{{'arviointi-poista-kriteeri' | kaanna}}"></a>
                                                            </td>
                                                        </tr>
                                                        <tr class="row-adder">
                                                            <td></td>
                                                            <td></td>
                                                            <td class="toiminnot">
                                                                <a class="action-link"
                                                                   ng-click="rivi.uusi(osaamistasonKriteeri, $event)"
                                                                   icon-role="add"
                                                                   title="{{'arviointi-uusi-kriteeri' | kaanna}}">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <ul ng-if="arvioinninkohde !== originalKohde"
                                                    ng-repeat="osaamistasonKriteeri in arvioinninkohde.osaamistasonKriteerit | filter:{_osaamistaso: taso.id}">
                                                    <li ng-repeat="kriteeri in osaamistasonKriteeri.kriteerit">
                                                        {{kriteeri | kaanna}}
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- Arviointiasteikon muuttaminen -->
                                    <div class="panel panel-default muokkaus-lisays" ng-if="arvioinninkohde === originalKohde">
                                        <div class="panel-body">
                                            <div ng-show="editableKohde.$editArviointiasteikko">
                                                <h4 kaanna="'arviointi-asteikon-valinta'"></h4>
                                                <label ng-repeat="arviointiasteikko in arviointiasteikot">
                                                    <input type="radio"
                                                           ng-model="editableKohde.$uusiArviointiAsteikko"
                                                           ng-value="arviointiasteikko"
                                                           name="asteikonvalinta">
                                                    <span ng-repeat="osaamistaso in arviointiasteikko.osaamistasot">
                                                        {{osaamistaso.otsikko | kaanna}}{{$index + 1 !== arviointiasteikko.osaamistasot.length ? '&nbsp;/&nbsp;': ''}}
                                                    </span>
                                                </label>
                                                <div class="muokkaus-napit">
                                                    <button class="btn btn-default btn-xs"
                                                            ng-click="kohde.cancelEditingArviointiasteikko(arvioinninkohde)"
                                                            kaanna="'peru'">
                                                    </button>
                                                    <button class="btn btn-primary btn-xs"
                                                            ng-disabled="!editableKohde.$uusiArviointiAsteikko"
                                                            oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"
                                                            ng-click="kohde.cahngeArviointiasteikko(arvioinninkohde)"
                                                            kaanna="'vahvista'">
                                                    </button>
                                                </div>
                                            </div>
                                            <button type="button"
                                                    class="btn btn-default btn-xs"
                                                    ng-show="!editableKohde.$editArviointiasteikko"
                                                    ng-click="kohde.editArviointiasteikko(arvioinninkohde)"
                                                    icon-role="edit"
                                                    kaanna="'vaihda-arviointiasteikko'"
                                                    oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }">
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <!-- uib-accordion-group-->
                            </div>
                        </uib-accordion>

                        <!-- Kohteen lisäys -->
                        <div class="panel panel-default muokkaus-lisays" ng-if="editAllowed && editEnabled">
                            <div class="panel-body">
                                <div ng-show="kohde.isAdding(kohdealue)">
                                    <input focus-me="kohdealue.$newkohde.showInputArea" class="form-control" type="text"
                                            ng-model="kohdealue.$newkohde.nimi"
                                            placeholder="{{'arviointi-uusi-kohde-placeholder' | kaanna}}"/><br/>
                                    <h4 kaanna>arviointi-asteikon-valinta</h4>
                                    <label ng-repeat="arviointiasteikko in arviointiasteikot">
                                        <input type="radio"
                                                ng-model="kohdealue.$newkohde.arviointiasteikko"
                                                ng-value="arviointiasteikko"
                                                name="asteikonvalinta"
                                                ng-change="arviointiasteikkoChanged(kohdealue)">
                                        <span ng-repeat="osaamistaso in arviointiasteikko.osaamistasot">
                                            {{osaamistaso.otsikko | kaanna}}{{$index + 1 !== arviointiasteikko.osaamistasot.length ? '&nbsp;/&nbsp;': ''}}
                                        </span>
                                    </label>
                                    <div class="muokkaus-napit">
                                        <button class="btn btn-default btn-xs"
                                                ng-click="kohde.cancel(kohdealue)"
                                                kaanna>peru
                                        </button>
                                        <button class="btn btn-primary btn-xs"
                                                ng-disabled="!kohdealue.$newkohde.arviointiasteikko"
                                                oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"
                                                ng-click="kohde.uusi(kohdealue)" kaanna>lisaa
                                        </button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-default btn-xs"
                                        ng-show="!kohde.isAdding(kohdealue)"
                                        ng-click="kohde.uusiWizard(kohdealue)" icon-role="add"
                                        kaanna="arviointi-uusi-kohde"
                                        oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
                            </div>
                        </div>
                    </div>
                </div><!-- sortableKohdealueet -->
            </uib-accordion>

            <!-- Kohdealueen lisäys -->
            <div class="panel panel-default muokkaus-lisays" ng-if="editAllowed && editEnabled && !eiKohdealueita">
                <div class="panel-body">
                    <input class="form-control" ng-show="$parent.showNewKohdealueInput" type="text"
                           ng-model="$parent.uudenKohdealueenNimi" on-enter="$parent.kohdealue.uusi()"
                           on-esc="$parent.cancelNewKohdealue()" focus-me="$parent.showNewKohdealueInput"
                           placeholder="{{'arviointi-uusi-kohdealue-placeholder' | kaanna}}"/>
                    <div class="muokkaus-napit" ng-show="$parent.showNewKohdealueInput">
                        <button class="btn btn-default btn-xs"
                                ng-click="$parent.kohdealue.cancel()"
                                kaanna="'peru'"></button>
                        <button class="btn btn-primary btn-xs"
                                ng-disabled="!$parent.uudenKohdealueenNimi"
                                ng-click="$parent.kohdealue.uusi()" kaanna="'lisaa'"></button>
                    </div>
                    <button type="button"
                            class="btn btn-default btn-xs"
                            ng-show="!$parent.showNewKohdealueInput"
                            ng-click="$parent.showNewKohdealueInput = true"
                            icon-role="add"
                            kaanna="arviointi-uusi-kohdealue"
                            oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
                </div>
            </div>
        </div>
    </div>
</div>
