<!-- editointikontrollit.html -->
<div class="edit-controls" ng-cloak ng-hide="hideControls || !editStarted">
    <div class="edit-control-content">
        <div class="edit-control-header">
            <span class="glyphicon glyphicon-pencil"></span>
            {{'muokattavana' | kaanna}}
        </div>
        <div class="edit-control-buttons">
            <button class="btn btn-default"
                    ng-click="cancel()">{{'peruuta' | kaanna}}</button>
            <button class="btn btn-primary"
                    ng-click="save()">{{'tallenna' | kaanna}}</button>
        </div>
        <div class="edit-control-comment">
            <input class="form-control"
                   type="text"
                   ng-model="kommentti"
                   placeholder="{{'kommentoi-muutosta' | kaanna}}">
        </div>
    </div>
</div>
