<!-- editointikontrollit.html -->
<div class="edit-controls" ng-cloak ng-hide="hideControls || !editStarted">
    <div class="edit-control-content">
        <div class="edit-control-header">
            <span class="glyphicon glyphicon-pencil"></span>
            {{kaanna('muokattavana')}}
        </div>
        <div class="edit-control-buttons">
            <button class="btn btn-default"
                    ng-click="cancel()">{{kaanna('peruuta')}}</button>
            <button class="btn btn-primary"
                    ng-click="save()">{{kaanna('tallenna')}}</button>
        </div>
        <div class="edit-control-comment">
            <input class="form-control"
                   type="text"
                   ng-model="kommentti"
                   placeholder="{{kaanna('kommentoi-muutosta')}}">
        </div>
    </div>
</div>
