<div ng-show="!alussa && !lukeeTiedostoa && errors.length === 0">
  <div ng-repeat="tk in tekstikentat">
    <h3 ng-hide="tk.id">{{ tk.nimi | kaanna }} (<a href="" ng-click="poistaTekstikentta(tk)" kaanna>poista</a>)</h3>
    <h3 ng-show="tk.id">{{ tk.nimi | kaanna }}</h3>
    <div class="well">
      <div class="alert alert-danger" ng-show="tk.$syy.length > 0">
        <div ng-repeat="syy in ot.$syy">
          {{ syy | kaanna }}
        </div>
      </div>
      <div class="alert alert-success" ng-show="tk.$syy.length === 0 && tk.id">
        {{ 'tekstikappale-tallennettiin-onnistuneesti' | kaanna }} (<b>id</b>: {{ tk.id }})
      </div>
      {{ tk.teksti | kaanna }}
    </div>
  </div>

  <button ng-click="tallennaTekstikappaleet(tekstikentat)" class="btn btn-primary" icon-role="save" kaanna="liita-perusteeseen"></button>
</div>
