<div ng-show="!alussa && !lukeeTiedostoa && errors.length === 0">
  <h3>{{ 'tutkinnonosat' | kaanna }} ({{ osatutkinnot.length }}kpl)</h3>
  <table class="table">
    <tr>
      <th kaanna>tila</th>
      <th kaanna>koodi</th>
      <th kaanna>nimi</th>
      <th></th>
    </tr>
    <tr ng-repeat="ot in osatutkinnot" ng-show="ot.$ladattu !== 0">
      <td class="glyphtila">
        <span ng-show="ot.$ladattu === 1">
          <span class="glyphicon glyphicon-remove"></span>
        </span>
        <span ng-hide="ot.$ladattu === 1" class="glyphicon glyphicon-minus"></span>
      </td>
      <td class="osatutkintoid">
        <div class="input-group input-group-sm">
          <input class="form-control osatutkintoid" type="text" ng-model="ot.$koodiArvo" readonly></input>
          <span class="input-group-btn">
            <button ng-click="liitaKoodiOT(ot)" class="btn btn-default btn-sm">Hae</button>
          </span>
        </div>
      </td>
      <td>
        {{ ot.nimi | kaanna }}
        <br>
        <div ng-show="ot.$syy.length > 0" class="alert alert-danger">
          <div ng-repeat="syy in ot.$syy">
            {{ syy | kaanna }}
          </div>
        </div>
      </td>
      <td class="text-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs" ng-click="poistaOsatutkinto(ot)" icon-role="remove">
          </button>
        </div>
      </td>
    </tr>
    <tr ng-repeat="ot in osatutkinnot" ng-show="ot.$ladattu === 0" class="success">
      <td class="glyphtila">
        <span class="glyphicon glyphicon-ok"></span>
      </td>
      <td class="osatutkintoid">{{ ot.koodiUri | koodisto }}</td>
      <td>
        <a target="_blank" ui-sref="root.muokkaus.vanha({ perusteenOsanId: ot.id, perusteenOsanTyyppi: 'tutkinnonosa' })">{{ ot.nimi | kaanna }}</a>
      </td>
      <td class="text-right"></td>
    </tr>
  </table>
</div>

<div ng-show="!alussa && !lukeeTiedostoa && errors.length === 0">
  <button ng-click="tallennaOsatutkinnot()" class="btn btn-primary" icon-role="save" kaanna="tallenna"></button>
</div>

<!-- Tallennusvirheet -->
<div class="alert alert-danger" ng-show="uploadErrors.length > 0">
  {{ 'tutkinnonosa-save-fail' | kaanna }}
  <table class="table">
    <tr>
      <th kaanna>tutkinnonosa</th>
      <th kaanna>syy</th>
    </tr>
    <tr ng-repeat="error in uploadErrors" class="danger">
      <td>{{ error.name | kaanna }}</td>
      <td>{{ error.message | kaanna }}</td>
    </tr>
  </table>
</div>
