<div ng-show="!alussa && !lukeeTiedostoa && errors.length === 0">
  <h3>{{ 'tutkinnonosat' | translate }} ({{ osatutkinnot.length }}kpl)</h3>
  <table class="table table-striped">
    <tr>
      <th translate>tila</th>
      <th translate>koodi</th>
      <th translate>nimi</th>
      <th></th>
    </tr>
    <tr ng-repeat="ot in osatutkinnot" title="{{ ot.syy }}" ng-show="ot.ladattu !== 0">
      <td class="glyphtila">
        <span ng-show="ot.ladattu === 1">
          <a href="" popover="{{ ot.syy }}" popover-placement="right" popover-title="Virhe">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </span>
        <span ng-hide="ot.ladattu === 1" class="glyphicon glyphicon-minus"></span>
      </td>
      <td class="osatutkintoid">
        <input class="form-control osatutkintoid" type="text" ng-model="ot.koodiUri" />
      </td>
      <td>{{ ot.nimi.fi }}</td>
      <td class="text-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs" ng-click="poistaOsatutkinto(ot)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </td>
    </tr>
    <tr ng-repeat="ot in osatutkinnot" ng-show="ot.ladattu === 0" class="success">
      <td class="glyphtila">
        <span class="glyphicon glyphicon-ok"></span>
      </td>
      <td class="osatutkintoid">{{ ot.koodiUri }}</td>
      <td><a target="_blank" href="#/muokkaus/tutkinnonosa/{{ ot.id }}">{{ ot.nimi.fi }}</a></td>
      <td class="text-right"></td>
    </tr>
  </table>
</div>

<div ng-show="!alussa && !lukeeTiedostoa && errors.length === 0">
  <button ng-click="tallennaOsatutkinnot()" class="btn btn-success">
    <span class="glyphicon glyphicon-cloud-upload"></span>
    Tallenna
  </button>
</div>

<!-- Tallennusvirheet -->
<div class="alert alert-danger" ng-show="uploadErrors.length > 0">
  Seuraavia tutkinnon osia ei pystytty tallentamaan onnistuneesti:
  <table class="table table-striped">
    <tr>
      <th translate>tutkinnonosa</th>
      <th translate>syy</th>
    </tr>
    <tr ng-repeat="error in uploadErrors" class="danger">
      <td>{{ error.name.fi }}</td>
      <td>{{ error.message }}</td>
    </tr>
  </table>
</div>
