<div class="form-group">
   <label class="col-sm-3 control-label">{{label | kaanna}}{{ postfix }}</label>
   <div class="input-group col-sm-9">
     <numberinput luokka="form-control" ng-if="!options && !isObject && type==='number'" name="{{name}}" model="input.model" min="{{min}}" max="{{max}}" form="form"></numberinput>
     <input id="{{inputElId}}" ng-if="!options && !isObject && type!=='number'" ng-class="inputClasses()" ng-model="input.model" type="{{type}}" placeholder="{{placeholder | kaanna}}" ng-required="!!postfix">
     <span ng-if="!options && isObject">
       <ml-input ml-data="input.model" ng-model="input.model"></ml-input>
     </span>
     <select id="{{inputElId}}" ng-if="options && !flatOptions" class="form-control" ng-model="input.model" ng-required="!!postfix"
       ng-options="obj.value as obj.label for obj in options" name="{{name}}">
       <option value="" ng-show="placeholder">{{placeholder | kaanna}}</option>
     </select>
     <select id="{{inputElId}}" ng-if="options && flatOptions" class="form-control" ng-model="input.model" ng-required="!!postfix"
       ng-options="kaanna(obj) for obj in options" name="{{name}}">
       <option value="" ng-show="placeholder">{{placeholder | kaanna}}</option>
     </select>
   </div>
</div>