<div>
  <script type="text/ng-template" id="viesti_piirtaja.html">
    <div ng-style="{ 'margin-left': indent }" class="kommentti">
      <div class="kommentti-poistettu" ng-if="viesti.poistettu">
        <h3>{{ 'viesti-poistettu' | kaanna }} {{ viesti.muokattu | aikaleima }}</h3>
      </div>

      <div ng-if="!viesti.poistettu">
        <div class="pull-left ryhma-jasen-avatar kommentti-avatar">
          <div class="nimikirjain-avatar">{{ nimikirjaimet(viesti.muokkaaja) }}</div>
        </div>
        <div class="kommentti-sisalto">
          <h3>
            {{ viesti.muokkaaja }}
            <span class="pull-right">
              <a href="" ng-click="editoi = true; editoitava = viesti.sisalto" icon-role="edit"></a>
              <a href="" ng-click="poistaKommentti(viesti)" icon-role="remove"></a>
            </span>
          </h3>
          <p ng-hide="editoi">{{ viesti.sisalto }}</p>
          <div ng-show="editoi" class="kommentti-muokkaus">
            <textarea class="form-control msd-elastic" ng-model="editoitava"></textarea>
            <div>
              <button class="btn" ng-click="editoi = false">{{ 'peruuta' | kaanna }}</button>
              <button class="btn btn-primary" ng-click="tallennaKommentti(viesti, editoitava); editoi = false">{{ 'tallenna' | kaanna }}</button>
            </div>
          </div>
          <div class="kommentti-footer">
            <span ng-show="viesti.muokattu"><i><b>Muokattu </b>{{ viesti.muokattu | aikaleima }}</i></span>
            <span ng-hide="viesti.muokattu"><i>{{ viesti.luotu | aikaleima }}</i></span>
            <a href="" ng-click="viesti.$lisaa = true">{{ 'vastaa' | kaanna }}</a>
            <span ng-show="viesti.viestit.length > 0">
              <a ng-show="viesti.$piilotaAliviestit" href="" ng-click="viesti.$piilotaAliviestit = false">{{ 'nayta-aliviestit' | kaanna }}</a>
              <a ng-hide="viesti.$piilotaAliviestit" href="" ng-click="viesti.$piilotaAliviestit = true">{{ 'piilota-aliviestit' | kaanna }}</a>
            </span>
          </div>
        </div>
      </div>
      <hr>
      <div ng-show="viesti.$lisaa">
        <div class="kommentti-uusi">
          <textarea class="form-control msd-elastic" ng-model="editoitava"></textarea>
          <div class="kommentti-painikkeet">
            <button class="btn" ng-click="viesti.$lisaa = false">{{ 'peruuta' | kaanna }}</button>
            <button class="btn btn-primary" ng-click="lisaaKommentti(viesti, editoitava); editoitava = ''; viesti.$lisaa = false">{{ 'tallenna' | kaanna }}</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <kommentti-viesti ng-if="!viesti.$piilotaAliviestit" parent="sisalto" depth="depth + 1" sisalto="viesti"></kommentti-viesti>
  </script>
  <div ng-repeat="viesti in sisalto.viestit" ng-include="'viesti_piirtaja.html'"></div>
</div>
