<div ng-if="isObject">
  <div class="input-group">
    <input ng-model="mlData[activeLang]" class="form-control" type="text"></input>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"> {{ activeLang }} <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <span ng-repeat="lang in langs">
          <li><a href="" ng-click="vaihdaKieli(lang)">No mitä ihmettä</a></li>
        </span>
      </ul>
    </div>
  </div>
</div>
