<ul class="nav nav-tabs">
  <li ui-sref-active="active"><a>{{'esiopetus'|translate}}</a></li>
  <li ui-sref-active="active"><a>{{'perusopetus'|translate}}</a></li>
  <li ui-sref-active="active"><a>{{'lukiokoulutus'|translate}}</a></li>
  <li ui-sref-active="active"><a ui-sref="selaus.ammatillinenperuskoulutus">{{'ammatillinenperuskoulutus'|translate}}</a></li>
  <li ui-sref-active="active"><a ui-sref="selaus.ammatillinenaikuiskoulutus">{{'ammatillinenaikuiskoulutus'|translate}}</a></li>
</ul>

<ol class="breadcrumb">
    <li ng-repeat="np in navigaatiopolku">
      <a ng-hide="$last" ng-href="{{ np.url }}">{{ np.arvo | translate }}</a>
      <span ng-show="$last">{{ np.arvo | translate }}</span>
    </li>
</ol>
