<div class="modal fade" id="{{modalid}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="alusta()">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Valitse haluamasi rajaukset - Arviointi</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
            <a class="list-group-item pointer-star" 
               ng-repeat="optio in muutettavatOptiot"
               ng-class="{active : optio.valittu}"
               ng-click="vaihdaOptio(muutettavatOptiot, $index)">{{optio.teksti}}</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="alusta()">Peruuta</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vahvistaMuutokset()">Valitse</button>
      </div>
    </div>
  </div>
</div>