<div>
  <script type="text/ng-template" id="psisaltosolmu.html">
    <div ng-show="sisalto.$filtered || rajaus.length === 0">
      <div ng-style="{ 'margin-left': 40 * indent + 'px' }" class="list-element" ng-class="{ 'striped': indent === 0 }">
        <div ng-click="sisalto.$opened = !sisalto.$opened" class="chevron" ng-style="{ 'background': sisalto.$opened ? '#29ABE2' : '#06526c' }">
          <span ng-hide="sisalto.$opened" class="glyphicon glyphicon-chevron-right"></span>
          <span ng-show="sisalto.$opened" class="glyphicon glyphicon-chevron-down"></span>
        </div>

        <div class="otsikko" ng-click="navigoi('perusteprojekti.suoritustapa.perusteenosa', { perusteenOsanTyyppi: 'tekstikappale', perusteenOsaId: sisalto.perusteenOsa.id})">
          <h3>
            <span ng-class="{ 'otsikko-pieni': indent !== 0 }">
              <a href="">{{ sisalto.perusteenOsa.nimi | kaanna }}</a>
            </span>
            <!-- <div class="pull-right list-element-info"> -->
            <!--   <div>{{ 'muokattu' | kaanna }}: Erkki Esimerkki {{ sisalto.perusteenOsa.muokattu | aikaleima:'time' }}</div> -->
            <!-- </div> -->
          </h3>
          <div ng-show="sisalto.$opened" class="list-element-info">
            <div>{{ 'muokattu-viimeksi' | kaanna }}: {{ sisalto.perusteenOsa.muokattu | aikaleima }}</div>
            <div>{{ 'muokkaaja' | kaanna }}: Erkki Esimerkki</div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="sisalto.$opened || (sisalto.$filtered && rajaus.length !== 0)">
      <div ui-sortable="sortableOptions" id="sisalto-sortable" class="sisalto-group" ng-model="sisalto.lapset">
        <div ng-init="indent = (indent || 0) + 1" ng-repeat="sisalto in sisalto.lapset" ng-include="'psisaltosolmu.html'"></div>
      </div>
    </div>
  </script>

  <div ui-sortable="sortableOptions" id="sisalto-sortable" class="sisalto-group" ng-model="peruste.sisalto.lapset">
    <div style="margin-bottom: 5px" ng-init="indent = 0" ng-repeat="sisalto in peruste.sisalto.lapset" ng-include="'psisaltosolmu.html'"></div>
  </div>
</div>
