<div class="sivunavi-outer">
  <div class="sivunavi-box">
    <div class="list-group">
      <div class="list-group-item header" ng-show="header">{{header | kaanna}}</div>
      <div class="list-group-item">
        <div class="sivunavi-tc-item" ng-show="hasTransclude">
          <div id="sivunavi-tc" ng-transclude></div>
        </div>
        <div class="input-group">
          <span class="input-group-addon input-sm" icon-role="search"></span>
          <input ng-model="search.term" placeholder="{{ 'etsi-sisällöstä' | kaanna }}" class="form-control input-sm">
        </div>
      </div>
      <div class="list-group-item item" ng-repeat="item in items" ng-class="itemClasses(item)"
        ng-hide="!item.$matched || item.root || (!search.term && (item.$hidden || item.$impHidden))">
        <span ng-show="!item.$leaf" ng-click="toggle(item)" class="glyphicon pointer"
              ng-class="{'glyphicon-chevron-right': item.$collapsed, 'glyphicon-chevron-down': !item.$collapsed}"></span>
        <a ng-class="{'action-link': !!item.href}"
           ng-href="{{item.href}}" ep-highlight="search.term">{{item.label|kaanna}}</a>
      </div>
      <div class="list-group-item" ng-show="!hasResults">
        <p translate>ei-tuloksia</p>
      </div>
    </div>
  </div>
</div>
