<div class="sivunavi-wrapper row" ng-class="{'osiot-piilossa': !data.osiot}">
<div class="sivunavi-sisempi-wrapper" ng-class="{piilota: isHidden()}">
<div class="sivunavi-takaisin">
  <a class="iconlink" href="" ng-click="goBackToMain()" icon-role="back">{{'takaisin-paanakymaan' | kaanna}}</a>
</div>
<div ng-show="data.osiot" class="sivunavi" ng-class="{'sivunavi-collapsed': menuCollapsed, 'sivunavi-open': !menuCollapsed}">
  <div class="sivunavi-toggler" ng-click="toggleSideMenu()"
       ng-attr-title="{{menuCollapsed && ('sivunavigointi-avaa-menu'|kaanna) || ('sivunavigointi-sulje-menu'|kaanna)}}">
    <div class="sivunavi-valinta">
      <span class="glyphicon glyphicon-align-justify"></span>
    </div>
  </div>
  <div class="sivunavi-linkit">
    <div class="list-group">
      <a class="list-group-item" ui-sref="perusteprojekti.suoritustapa.tutkinnonosat" ui-sref-active="navi-aktiivinen">
        <span class="glyphicon glyphicon-chevron-down"></span>
        <span class="linkkiteksti" translate>tutkinnonosat</span>
      </a>
      <a class="list-group-item" ui-sref="perusteprojekti.suoritustapa.muodostumissaannot" ui-sref-active="navi-aktiivinen">
        <span class="glyphicon glyphicon-chevron-down"></span>
        <span class="linkkiteksti" translate>tutkinnon-rakenne</span>
      </a>
      <a class="list-group-item" ng-repeat="sisalto in data.projekti.peruste.sisalto.lapset"
         ui-sref="perusteprojekti.suoritustapa.perusteenosa({ perusteenOsanTyyppi: 'tekstikappale', perusteenOsaId: sisalto.perusteenOsa.id})"
         ui-sref-active="navi-aktiivinen">
        <span class="glyphicon glyphicon-chevron-down"></span>
        <span class="linkkiteksti">{{ sisalto.perusteenOsa.nimi || 'uusi-tutkinnon-osa' | kaanna}}</span>
      </a>
    </div>
    <div ng-show="data.osiot" class="list-group">
      <a class="list-group-item" ng-repeat="hardkoodattuOtsikko in [
        'Perustutkinnon perusteiden toimeenpano ammatillisessa peruskoulutuksessa',
        'Perustutkinnon suorittaminen näyttötutkintona',
        'Opiskelijan arviointi ammatillisessa peruskoulutuksessa',
        'Muut määräykset ammatillisessa peruskoulutuksessa'
      ]">
        <span class="glyphicon glyphicon-chevron-down"></span>
        <span class="linkkiteksti">{{ hardkoodattuOtsikko }}</span>
      </a>
    </div>
  </div>
</div>
</div>
<div class="sivunavi-sisalto" ng-class="{disable: data.piilota}" ng-transclude></div>
</div>