<div class="sivunavi-wrapper row" ng-class="{'osiot-piilossa': !data.osiot}">
  <div class="sivunavi-sisempi-wrapper" ng-class="{piilota: isHidden()}">
    <div class="sivunavi-takaisin">
      <a href="" ng-click="goBackToMain()" icon-role="back">{{'takaisin-paanakymaan' | kaanna}}</a>
    </div>
    <div ng-show="data.osiot" class="sivunavi" ng-class="{'sivunavi-collapsed': menuCollapsed, 'sivunavi-open': !menuCollapsed}">
      <div class="sivunavi-toggler" ng-click="toggleSideMenu()"
        ng-attr-title="{{menuCollapsed && ('sivunavigointi-avaa-menu'|kaanna) || ('sivunavigointi-sulje-menu'|kaanna)}}">
        <div class="sivunavi-valinta">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
      </div>
      <div class="sivunavi-linkit">
        <div class="list-group">
          <div ng-show="suoritustapa" class="list-group-item list-group-static"><h4>{{ suoritustapa | kaanna }}</h4></div>
          <div class="list-group-item">
            <a class="linkkiteksti" ui-sref="root.perusteprojekti.suoritustapa.tutkinnonosat" ui-sref-active="navi-aktiivinen" kaanna>tutkinnonosat</a>
          </div>
          <div class="list-group-item">
            <a class="linkkiteksti" ui-sref="root.perusteprojekti.suoritustapa.muodostumissaannot" ui-sref-active="navi-aktiivinen" kaanna>tutkinnon-rakenne</a>
          </div>
          <div subnavi="data.projekti.peruste.sisalto.lapset">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sivunavi-sisalto" ng-class="{disable: isHidden()}" ng-transclude></div>
</div>
