<div class="sivunavi-outer">
  <!-- partials/sivunavi2.html -->
  <div class="sivunavi-box" ng-class="{'sivunavi-collapsed': menuCollapsed, 'sivunavi-open': !menuCollapsed}">

    <div class="sivunavi-toggler-wrapper">
      <div class="sivunavi-toggler" ng-click="toggleSideMenu()"
        ng-attr-title="{{menuCollapsed && ('sivunavigointi-avaa-menu'|kaanna) || ('sivunavigointi-sulje-menu'|kaanna)}}">
        <div class="sivunavi-valinta">
          <span class="glyphicon glyphicon-align-justify"></span>
        </div>
      </div>
    </div>

    <div class="list-group">
      <div class="list-group-item header" ng-class="{'empty-header': !header}">{{header | kaanna}}</div>
      <div class="list-group-item" ng-show="hasTransclude">
        <div class="sivunavi-tc-item">
          <div id="sivunavi-tc" ng-transclude></div>
        </div>
        <rajaus ng-if="!sections" size="small" model="search.term" placeholder="etsi-sisallosta"></rajaus>
      </div>

      <div ng-if="sections">
        <accordion close-others="showOne">
          <accordion-group ng-repeat="section in sections" is-open="section.$open" ng-class="{'panel-chosen': section.$open, 'menu': !section.include}">
            <accordion-heading><span ng-click="onSectionChange(section)">{{section.title | kaanna}}</span></accordion-heading>
            <div ng-if="section.include" ng-include="section.include"></div>
            <div ng-if="!section.include" class="list-group">
              <a class="list-group-item item" ng-repeat="item in section.items" ng-class="itemClasses(item)" ng-href="{{item.href}}"
                ng-hide="!item.$matched || item.root || (!search.term && (item.$hidden || item.$impHidden))">
                <div class="toggler">
                  <span ng-show="!item.$leaf" ng-click="toggle(section.items, item, $event)" class="glyphicon"
                    ng-class="{'glyphicon-chevron-right': item.$collapsed, 'glyphicon-chevron-down': !item.$collapsed}"></span>
                </div>
                <span class="linktext" ng-class="{'action-link': !!item.href}" ep-highlight="search.term" ng-bind="item.label|kaanna"></span>
              </a>
            </div>
          </accordion-group>
        </accordion>
      </div>

      <a class="list-group-item item" ng-repeat="item in items" ng-class="itemClasses(item)" ng-href="{{item.href}}"
        ng-hide="!item.$matched || item.root || (!search.term && (item.$hidden || item.$impHidden))">
        <div class="toggler">
          <span ng-show="!item.$leaf" ng-click="toggle(items, item, $event)" class="glyphicon"
            ng-class="{'glyphicon-chevron-right': item.$collapsed, 'glyphicon-chevron-down': !item.$collapsed}"></span>
          <span ng-show="item.$leaf && !item.$glyph" class="ep-icon" ng-class="item.$type ? item.$type : 'ep-text'"></span>
          <span ng-show="item.$leaf && item.$glyph" icon-role="{{item.$glyph}}"></span>
        </div>
        <span class="linktext" ng-class="{'action-link': !!item.href}" ep-highlight="search.term" ng-bind="item.label|kaanna"></span>
      </a>
      <div class="list-group-item" ng-if="!sections" ng-show="!hasResults && search.term">
        <p class="no-results">{{ 'ei-tuloksia' | kaanna }}</p>
      </div>
    </div>
    <div id="sivunavi-footer-content"></div>
  </div>
</div>
