<div>
  <accordion>
    <accordion-group class="panel-clean osa-alue" is-open="valmaTelmaSisalto.$$osaamistavoiteOpen">
      <accordion-heading>
        <span class="glyphicon" ng-class="valmaTelmaSisalto.$$osaamistavoiteOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
        <span kaanna="'osaamistavoitteet'"></span>
      </accordion-heading>

      <div class="non-collapsibles">
        <label class="space-magic" kaanna="'kohde'"></label>
        <input class="form-control" slocalized ng-model="valmaTelmaSisalto.osaamistavoitteet.kohde" type="text"></input>

        <div>
          <label class="space-magic" kaanna="'kriteerit'"></label>
          <div class="container-items" ui-sortable="sortableOptions" ng-model="valmaTelmaSisalto.osaamistavoitteet.kriteerit">
            <div ng-repeat="kriteeri in valmaTelmaSisalto.osaamistavoitteet.kriteerit">
              <div style="margin-bottom: 5px" class="input-group">
                <span class="input-group-addon handle" icon-role="drag"></span>
                <input ng-model="kriteeri" slocalized type="text" class="form-control" placeholder="Kirjoita kriteeri...">
                <span class="input-group-btn">
                  <button ng-click="kriteerit.poista(valmaTelmaSisalto.osaamistavoitteet.kriteerit, kriteeri)"
                          class="btn btn-danger" type="button" icon-role="remove" kaanna="'poista'"></button>
                </span>
              </div>
            </div>
          </div>
          <button ng-click="kriteerit.lisaa(valmaTelmaSisalto.osaamistavoitteet.kriteerit)"
                  class="btn btn-primary" icon-role="add" kaanna="'lisaa-kriteeri'"></button>
        </div>

        <label class="space-magic" kaanna="'osaamisen-arviointi-tekstina'"></label>
        <div ng-model="valmaTelmaSisalto.osaamistavoitteet.tekstina" slocalized
             ckeditor editing-enabled="true" editor-placeholder="Kirjoita tavoitteet"></div>
      </div>
    </accordion-group>
  </accordion>

  <accordion>
    <accordion-group class="panel-clean osa-alue" is-open="valmaTelmaSisalto.$$osaamisenArviointiOpen">
      <accordion-heading>
        <span class="glyphicon" ng-class="valmaTelmaSisalto.$$osaamisenArviointiOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
        <span kaanna="'osaamisen-arviointi'"></span>
      </accordion-heading>

      <div class="non-collapsibles">
        <label class="space-magic" kaanna="'kohde'"></label>
        <div ckeditor class="form-control" slocalized ng-model="valmaTelmaSisalto.osaamisenArviointi.kuvaus" type="text"></div>

        <div>
          <label class="space-magic" kaanna="'kriteerit'"></label>
          <div class="container-items-2" ui-sortable="sortableOptions2" ng-model="valmaTelmaSisalto.osaamisenArviointi.kriteerit">
            <div ng-repeat="kriteeri in valmaTelmaSisalto.osaamisenArviointi.kriteerit">
              <div style="margin-bottom: 5px" class="input-group">
                <span class="input-group-addon handle" icon-role="drag"></span>
                <input ng-model="kriteeri" slocalized type="text" class="form-control" placeholder="Kirjoita kriteeri...">
                <span class="input-group-btn">
                  <button ng-click="kriteerit.poista(valmaTelmaSisalto.osaamisenArviointi.kriteerit, kriteeri)"
                          class="btn btn-danger" type="button" icon-role="remove" kaanna="'poista'"></button>
                </span>
              </div>
            </div>
          </div>
          <button ng-click="kriteerit.lisaa(valmaTelmaSisalto.osaamisenArviointi.kriteerit)"
                  class="btn btn-primary" icon-role="add" kaanna="'lisaa-kriteeri'"></button>
        </div>

        <label class="space-magic" kaanna="'osaamisen-arviointi-tekstina'"></label>
        <div ng-model="valmaTelmaSisalto.osaamisenArviointi.tekstina" slocalized ckeditor editing-enabled="true" editor-placeholder="Kirjoita tavoitteet"></div>
      </div>
    </accordion-group>
  </accordion>
</div>
