<h2>
    {{ 'tutkinnon-rakenne' | kaanna }}
    <div class="painikkeet pull-right">
        <a href="" ng-click="asetaSuosikki()">
            <span class="glyphicon" ng-class="{'glyphicon-star': onSuosikki, 'glyphicon-star-empty': !onSuosikki}"></span>
            {{ onSuosikki ? 'poista-suosikeista' : 'merkitse-suosikiksi' | kaanna }}
        </a>
        <a class="left-space" ng-click="printSisalto()" href="">
            <span class="glyphicon glyphicon-print"></span>
            {{ 'tulosta-sivu' | kaanna }}
        </a>
    </div>
</h2>

<div ng-if="rakenne.$resolved" class="rakenne-sisalto max-sm-leveys"
     ng-bind-html="valitseKieli(rakenne.rakenne.kuvaus) | unsafe"></div>

<div ng-if="rakenne.$resolved" class="tree-presentation">
    <tree-wrapper esitys="true" muokkaus="false" rakenne="rakenne"></tree-wrapper>
</div>
