<h2>
    <span ng-bind="valittuSisalto.nimi | kaanna"></span>
    <div class="painikkeet pull-right">
        <a href="" ng-click="asetaSuosikki()">
            <span class="glyphicon" ng-class="{'glyphicon-star': onSuosikki, 'glyphicon-star-empty': !onSuosikki}"></span>
            {{ onSuosikki ? 'poista-suosikeista' : 'merkitse-suosikiksi' | kaanna }}
        </a>
        <a class="left-space" ng-click="printSisalto()" href="">
            <span class="glyphicon glyphicon-print"></span>
            {{ 'tulosta-sivu' | kaanna }}
        </a>
    </div>
</h2>
<div class="sisalto max-sm-leveys" ng-bind-html="valitseKieli(valittuSisalto.teksti) | unsafe"></div>
