<div>
    <!-- tutkinnonOsat.html -->
    <h2>
        {{ 'tutkinnonosat' | kaanna }}
    </h2>

    <rajaus model="tosarajaus" callback="paivitaRajaus(value)" placeholder="Rajaa tutkinnon osia..."></rajaus>

    <ul class="tutkinnonosat">
        <li ui-sref="root.esitys.peruste.tutkinnonosa({ id: v.id })"
            class="tutkinnonosa-laatikko list-group-item" ng-repeat="v in tutkinnonOsat | mapFilter:rajaaTutkinnonOsia">
            <div ng-hide="editoi" class="muokkaus" icon-role="forward"></div>
            <div class="otsikko otsikko-esitys">
                <h3>
                    <a ui-sref="root.esitys.peruste.tutkinnonosa({ id: v.id })">{{ v.nimi || 'uusi-tutkinnonosa' | kaanna }}</a>
                </h3>
                <div class="pienet-tiedot">
                    <div class="osan-laajuus" ng-if="suoritustapa !== 'naytto' && v.laajuus">{{ v.laajuus }} {{ yksikko || '' | kaanna }}</div>
                </div>
            </div>
        </li>
    </ul>
</div>
