<div class="row">
  <div class="col-md-12 ep-sisalto-inner">

  <div class="action-buttons">
    <div class="floater" ng-attr-title="{{lockNotification}}">
      <button ng-disabled="isLocked" ng-hide="editoi || !versiot.latest" ng-click="muokkaa()"
              class="btn btn-default" icon-role="edit" kaanna="'muokkaa'"></button>
    </div>
    <div class="floater" ng-if="!editoi && isLocked"><lukko tip="lockNotification"></lukko></div>
  </div>

  <revert-note object="rakenne" revert-cb="revert(response)" versions="versiot" change-version="vaihdaVersio()"></revert-note>
  <h1>
    <span ng-show="!editoi" kaanna>tutkinnon-rakenne</span>
    <span ng-show="editoi" kaanna>muokkaus-rakenne</span>
  </h1>
  <div class="max-sm-leveys">
    <versiotiedot ng-hide="editoi"></versiotiedot>
  </div>
  <div class="tree-presentation">
    <tree-wrapper muokkaus="editoi" ng-if="rakenne.$resolved" rakenne="rakenne"></tree-wrapper>
  </div>
  <div class="clearfix"></div>
  <kommentit depth="0"></kommentit>

  </div>
</div>
