<div class="main-content" id="main">
  <div class="row tutkinto-sisalto">
    <div class="tutkinto">
      <div ng-hide="muokkausTutkintokohtaisetOsat">
        <div class="toolbar-input pull-left">
          <rajaus model="rajaus" placeholder="etsi-sisallosta" callback="rajaaSisaltoa(value)"></rajaus>
        </div>
        <a ng-click="avaaSuljeKaikki()" class="open-close action-link"><span class="avaa-sulje" icon-role="ep-open-close">{{ 'avaa-sulje-kaikki' | kaanna }}</span></a>
      </div>

      <div class="clearfix"></div>

      <h2>{{'opetuksen-sisallot' | kaanna}}</h2>
            <!-- <div ng-show="muokkausTutkintokohtaisetOsat" class="rakenteen-muokkaus">
                <h2 kaanna>Muokkaa tekstikappaleiden rakennetta</h2>
                <a ng-click="avaaSuljeKaikki(peruste.sisalto)" class="action-link"><span class="avaa-sulje"><img src="images/expander.png" alt="">{{ 'avaa-sulje-kaikki' | kaanna }}</span></a>
            </div> -->
      <div class="clearfix"></div>

      <div content-tree="datat.opetus.lapset" filter-by="rajaus" no-content-placeholder="suoritustavalle-ei-ole-viela-sisaltoa"></div>

      <h2>
        {{ 'tekstikappaleet' | kaanna }} ({{ peruste.sisalto.lapset.length }})
        <div class="pull-right buttons">
          <button type="button" class="btn btn-default btn-sm" ng-click="addTekstikappale()" icon-role="ep-text-add" kaanna="lisaa-tutkintokohtainen-osa"></button>
          <button class="btn btn-default btn-sm"
                  ng-class="{ 'btn-primary': muokkausTutkintokohtaisetOsat }" ng-click="aloitaMuokkaus()"
                  ng-show="valittuSuoritustapa !== ''" icon-role="edit" kaanna="muokkaa-rakennetta">
          </button>
        </div>
      </h2>
      <!-- <div ng-show="muokkausTutkintokohtaisetOsat" class="rakenteen-muokkaus">
          <h2 kaanna>Muokkaa tekstikappaleiden rakennetta</h2>
          <a ng-click="avaaSuljeKaikki(peruste.sisalto)" class="action-link"><span class="avaa-sulje"><img src="images/expander.png" alt="">{{ 'avaa-sulje-kaikki' | kaanna }}</span></a>
      </div> -->
      <div class="clearfix"></div>
      <div ng-include="'views/partials/perusteprojekti/sisaltoOsa.html'"></div>

    </div>
  </div>
</div>
