<div>
  <button class="floater btn" href="" icon-role="import" ng-click="tuoTutkinnonosa()">
    {{ 'tuo-tutkinnonosa' | kaanna }}
  </button>
  <button class="floater btn" href="" icon-role="import" ng-click="tuoSuoritustavasta()">
    {{ 'tuo-toisesta-suoritustavasta' | kaanna }}
  </button>
  <button icon-role="add" class="floater btn" href="" ng-click="lisaaTutkinnonOsa()">
    {{ 'lisää' | kaanna }}
  </button>
  <button class="floater btn" icon-role="th" ng-click="nakymatyyli = 'palikka'"></button>
  <button class="floater btn" icon-role="list" ng-click="nakymatyyli = 'lista'"></button>
</div>

<h1>
  {{'tutkinnonosat' | kaanna}} ({{ tutkinnonOsat.length }} {{ 'kpl' | kaanna }})
</h1>

<div class="tutkinnonosa-lista-toolbar">
  <div class="pull-right">
    <input ng-change="paivitaRajaus(tosarajaus)" ng-model="tosarajaus" type="input" class="tosarajaus form-control input-sm" placeholder="Rajaa tutkinnon osia...">
  </div>
  <div ng-if="nakymatyyli === 'palikka'">
    <select class="jarjestys-select" ng-model="jarjestysTapa">
      <option value="nimi">{{ 'nimi' | kaanna }}</option>
      <option value="muokattu">{{ 'muokattu-viimeksi' | kaanna }}</option>
      <option value="laajuus">{{ 'laajuus' | kaanna }}</option>
    </select>
    <div class="lista-linkit">
      <a href="" ng-click="jarjestysOrder = !jarjestysOrder">
        <span ng-hide="jarjestysOrder" class="glyphicon glyphicon-sort-by-attributes"></span>
        <span ng-show="jarjestysOrder" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
      </a>
    </div>
  </div>
</div>

<div>
  <table ng-if="nakymatyyli === 'lista'" class="table table-striped" style="margin-top: 0px">
    <tr>
      <th width="50%">
        <a href="" ng-click="asetaJarjestys('nimi')">{{ 'nimi' | kaanna }}</a>
        <span ng-show="jarjestysTapa === 'nimi'">
          <span ng-hide="jarjestysOrder" class="glyphicon glyphicon-sort-by-alphabet"></span>
          <span ng-show="jarjestysOrder" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
        </span>
      </th>
      <th width="10%" ng-if="suoritustapa !== 'naytto'">
        <a href="" ng-click="asetaJarjestys('laajuus')">{{ 'laajuus' | kaanna }}</a>
        <span ng-show="jarjestysTapa === 'laajuus'">
          <span ng-hide="jarjestysOrder" class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="jarjestysOrder" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
        </span>
      </th>
      <th width="30%">
        <a href="" ng-click="asetaJarjestys('muokattu')">{{ 'muokattu-viimeksi' | kaanna }}</a>
        <span ng-show="jarjestysTapa === 'muokattu'">
          <span ng-hide="jarjestysOrder" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          <span ng-show="jarjestysOrder" class="glyphicon glyphicon-sort-by-attributes"></span>
        </span>
      </th>
    </tr>
    <tr ng-repeat="v in tutkinnonOsat | orderBy:jarjestys:jarjestysOrder | mapFilter:rajaaTutkinnonOsia">
      <td>
        <a ui-sref="perusteprojekti.suoritustapa.perusteenosa({ perusteenOsaId: v._tutkinnonOsa, perusteenOsanTyyppi: 'tutkinnonosa' })" href="">{{ v.nimi || 'uusi-tutkinnonosa' | kaanna }}</a>
      </td>
      <td ng-if="suoritustapa !== 'naytto'">
        <span ng-show="v.laajuus">{{ v.laajuus }} {{ v.yksikko || '' | kaanna }}</span>
      </td>
      <td>
        {{ v.muokattu || 0 | aikaleima }}
      </td>
    </tr>
  </table>

  <ul ng-if="nakymatyyli === 'palikka'" class="tutkinnonosat">
    <li ui-sref="perusteprojekti.suoritustapa.perusteenosa({ perusteenOsaId: v._tutkinnonOsa, perusteenOsanTyyppi: 'tutkinnonosa' })" class="col-xs-6 tutkinnonosa-laatikko list-group-item" ng-repeat="v in tutkinnonOsat | orderBy:jarjestys:jarjestysOrder | mapFilter:rajaaTutkinnonOsia">
      <div ng-hide="editoi" class="muokkaus">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </div>
      <div class="otsikko">
        <h3>{{ v.nimi || 'uusi-tutkinnonosa' | kaanna }}</h3>
        <div class="pienet-tiedot">
            <div class="osan-laajuus" ng-if="suoritustapa !== 'naytto' && v.laajuus">{{ v.laajuus }} {{ v.yksikko || '' | kaanna }}</div>
            <div>{{ 'muokattu-viimeksi' | kaanna }}: {{ v.muokattu | aikaleima }}</div>
        </div>
      </div>
    </li>
  </ul>

  <div class="info-box" ng-show="tutkinnonOsat.length === 0">
      {{ 'perusteella-ei-vielä-tutkinnonosia' | kaanna }}.
  </div>

</div>
