<h1 id="pikamenu-header" ng-transclude>
</h1>
<div id="tutkinnonosat-pikamenu-button" ng-show="!editEnabled" ng-click="pikamenu.opened = !pikamenu.opened"
     ng-class="{'pikamenu-opened': pikamenu.opened}">
  <span class="glyphicon glyphicon-chevron-down"></span>
</div>
<div id="pikamenu-wrapper">
  <div id="tutkinnonosat-pikamenu" ng-show="pikamenu.opened">
    <div id="tutkinnonosat-pikamenu-list">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="(key, value) in rakenne.tutkinnonOsat" ng-hide="value.poistettu">
          <a ng-show="tutkinnonOsa.id != key" ui-sref="root.perusteprojekti.suoritustapa.tutkinnonosa({ tutkinnonOsaViiteId: value.id, versio: '' })">{{value.nimi || 'nimetön' | kaanna}}</a>
          <span class="active" ng-show="tutkinnonOsa.id == key">{{value.nimi || 'nimetön' | kaanna}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
