<!-- partials/perusteprojekti/projektiryhma.html -->
<div class="row tyoryhma">
    <div class="col-md-12">
        <h1>
            {{ $$kaannokset['projekti-projektiryhma'] | kaanna }}
            <span ng-show="!lataa && !error" class="ryhmapalkki">
                <span class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    {{ tyyppi | kaanna }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li role="presentation">
                          <a ng-click="vaihdaTyyppi('kaikki')" role="menuitem" tabindex="-1"
                             class="action-link" kaanna>kaikki</a>
                      </li>
                      <li ng-repeat="(k, v) in tyoryhmat" role="presentation">
                          <a ng-click="vaihdaTyyppi(k)" role="menuitem" tabindex="-1" class="action-link">{{ k }}</a>
                      </li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation">
                          <a role="menuitem" tabindex="-1" ng-click="muokkaaTyoryhmaa()"
                             class="action-link" kaanna>luo-uusi</a>
                      </li>
                  </ul>
                </span>
                <button ng-click="muokkaaTyoryhmaa(tyyppi)" ng-show="tyyppi !== 'kaikki'" class="btn btn-default"
                        icon-role="edit" kaanna="muokkaa-ryhmaa"></button>
            </span>
        </h1>

        <div ng-show="lataa">
            <small-spinner></small-spinner>
            <span kaanna="ladataan-tyoryhman-tietoja"></span>
        </div>

        <projektiryhma-henkilot tyoryhmat="tyoryhmat" ryhma="ryhma" tyyppi="tyyppi"
                                ng-if="!lataa && !error"></projektiryhma-henkilot>

        <div ng-if="error" class="alert alert-error" kaanna>perustetyoryhman-tietojen-hakeminen-epaonnistui</div>
    </div>
</div>
