<div ng-show="sisalto.$filtered || sisalto.$filtered === undefined">
  <div class="sisalto-list-element">
    <a href="{{ sisalto.$url }}" class="otsikko">
      <div ng-show="muokkausTutkintokohtaisetOsat" icon-role="resize-vertical" class="draghandle" ui-tree-handle></div>
      <div ng-click="$event.preventDefault(); sisalto.$opened = !sisalto.$opened" class="chevron">
        <span ng-show="sisalto.lapset.length > 0" class="glyphicon" ng-class="sisalto.$opened ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
        <span ng-show="sisalto.lapset.length === 0" class="ep-icon" ng-class="sisalto.$type ? sisalto.$type : 'ep-text'"></span>
      </div>
      <h3>
        <span ep-highlight="rajaus">{{ sisalto.perusteenOsa.nimi | kaanna }}</span>

      </h3>
      <div class="ryhma-info">
        <span ng-if="tyoryhmaMap.$resolved">
          <span class="badge badge-tyoryhma" ng-repeat="tr in tyoryhmaMap[sisalto.perusteenOsa.id]">{{ tr }}</span>
        </span>
      </div>
      <div class="muokattu-info">
        <span ng-show="!muokkausTutkintokohtaisetOsat" ng-attr-title="{{ 'muokattu-viimeksi' | kaanna }}">{{ sisalto.perusteenOsa.muokattu | aikaleima }}</span>
      </div>
    </a>
  </div>
</div>
<div ng-show="sisalto.lapset.length === 0 || sisalto.$opened || (sisalto.$filtered && rajaus.length !== 0)">
  <div ui-tree-nodes class="sisalto-group" ng-model="sisalto.lapset">
    <div ui-tree-node ng-init="indent = (indent || 0) + 1" ng-repeat="sisalto in sisalto.lapset"
         ng-include="'views/partials/perusteprojekti/sisaltosolmu.html'"></div>
  </div>
</div>
