<!-- partials/perusteprojekti/tutkinnonosat.html -->
<div class="row">
    <div class="col-md-12 ep-sisalto-inner">
        <div class="part-header-wrapper">
          <div class="action-buttons">
              <button class="floater btn" icon-role="ep-part-import" ng-click="tuoTutkinnonosa()" kaanna="{{ vateConverter('tuo-tutkinnonosa') }}" oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
              <button ng-show="naytaToisestaSuoritustavastaTuonti" class="floater btn" icon-role="ep-part-import"
                      ng-click="tuoSuoritustavasta()" kaanna="{{ vateConverter('tuo-toisesta-suoritustavasta') }}" oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
              <button icon-role="add" class="floater btn" ng-click="lisaaTutkinnonOsa()" kaanna="{{ vateConverter('lisaa-tutkinnonosa') }}" oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
        </div>
        <h1>{{ vateConverter('tutkinnonosat') | kaanna }} ({{ tutkinnonOsat.length }} {{ 'kpl' | kaanna }})</h1>
    </div>
        <div ng-cloak osalistaus="tutkinnonOsat" search-placeholder="{{ vateConverter('tutkinnon-osa-haku-placeholder') }}"
             empty-placeholder="{{ vateConverter('perusteella-ei-viela-tutkinnonosia') }}" koulutustyyppi="peruste.koulutustyyppi"
             show-laajuus="true" url-generator="getHref(value)" yksikko="{{yksikko[suoritustapa]}}">
        </div>
    </div>
</div>
