<div class="row">
    <div class="col-md-12 ep-sisalto-inner">
        <div class="action-buttons">
            <button class="floater btn" icon-role="import" ng-click="tuoTutkinnonosa()" kaanna="tuo-tutkinnonosa" oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
            <button ng-show="naytaToisestaSuoritustavastaTuonti" class="floater btn" icon-role="import"
                    ng-click="tuoSuoritustavasta()" kaanna="tuo-toisesta-suoritustavasta" oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
            <button icon-role="add" class="floater btn" ng-click="lisaaTutkinnonOsa()" kaanna="lisaa" oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
        </div>
        <h1>{{'tutkinnonosat'| kaanna}} ({{ tutkinnonOsat.length}} {{ 'kpl' | kaanna }})</h1>
        <div osalistaus="tutkinnonOsat" search-placeholder="tutkinnon-osa-haku-placeholder"
             empty-placeholder="perusteella-ei-viela-tutkinnonosia"
             show-laajuus="{{suoritustapa !== 'naytto'}}" url-generator="getHref(value)" yksikko="{{yksikko[suoritustapa]}}">
        </div>
    </div>
</div>
