div.virheelliset-perusteet
  h1(kaanna="'virheelliset-otsikko'")
  p(kaanna="'virheelliset-kuvaus'")

  div(ng-if="virheelliset")
    table.table.table-striped
      thead
        tr
          th(kaanna="'perusteprojekti'")
          th(kaanna="'peruste'")
          th(kaanna="'virheet'")
          th
      tbody
        tr(ng-repeat="validation in virheelliset | orderBy:'peruste.globalVersion.aikaleima':true")
          td
            a(ng-href="{{ validation.perusteprojekti.$$url }}" ng-bind="validation.perusteprojekti.nimi | kaanna")
          td(ng-bind="validation.perusteprojekti.peruste.nimi | kaanna")
          td
            ul(ng-repeat="virhe in validation.infot")
              li.virheviesti
                span(ng-bind="virhe.viesti | kaanna")
              ul
                li.virhesijainti(ng-repeat="nimi in virhe.nimet" kaanna="nimi.teksti")

    ep-pagination(ng-model="sivu"
                  ng-change="haeVirheelliset"
                  total-items="kokonaismaara"
                  items-per-page="sivukoko")

  // button.btn.btn-primary(icon-role="refresh" kaanna="'virheelliset-hae'" ng-click="haeVirheelliset()")
