<div>
    <projektin-murupolku></projektin-murupolku>

    <div ng-if="!editEnabled">
        <button icon-role="edit"
                style="margin-left: 10px;"
                ng-hide="!versiot.latest"
                ng-click="muokkaa()"
                class="btn btn-default pull-right"
                kaanna="'muokkaa'"
                oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]"></button>

        <h1>
            <span>{{editableModel.nimi || 'nimeton-kurssi' | kaanna}}</span>
        </h1>

        <versiotiedot></versiotiedot>

        <table>
            <tbody>
            <tr>
                <th kaanna="muokkaus-tutkinnon-osan-koodi-header" style="padding-right: 20px;"></th>
                <td>{{editableModel.koodi.arvo ? editableModel.koodi.arvo : ('ei-asetettu' | kaanna)}}</td>
            </tr>
            </tbody>
        </table>

        <div class="panel-heading" ng-if="editableModel.kuvaus">
            <h3 class="panel-title osio-otsikko" ng-click="editableModel.kuvaus.$isCollapsed = !editableModel.kuvaus.$isCollapsed">
                <span class="glyphicon" ng-class="editableModel.kuvaus.$isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                <span ng-bind="'kurssi-kuvaus-header' | kaanna"></span>
            </h3>
        </div>
        <div class="panel-body" uib-collapse="editableModel.kuvaus.$isCollapsed">
            <div ng-bind-html="editableModel.kuvaus | kaanna"></div>
        </div>
    </div>

    <div ng-if="editEnabled">
        <button icon-role="remove"
                style="margin-left: 10px;"
                ng-if="!isNew"
                class="btn btn-danger pull-right"
                ng-click="poista()">
            {{'poista-kurssi' | kaanna}}
        </button>

        <div class="dropdown pull-right">
            <button editointi-kontrolli
                    class="btn btn-default dropdown-toggle"
                    icon-role="add">
                {{'muokkaus-lisaa-osio' | kaanna}}
            </button>

            <ul class="pull-right dropdown-menu">
                <li ng-repeat="field in fields | orderBy:'order'"
                    ng-class="{divider: field.divider}">
                    <a class="action-link"
                       ng-if="!field.divider"
                       ng-class="{'disabled-link': field.visible}"
                       ng-click="field.visible ? void(0) : fieldOps.add(field)">
                        {{field.localeKey | kaanna}}
                    </a>
                </li>
            </ul>
        </div>

        <h1>
            <span >{{isNew ? 'uusi-kurssi' : 'muokkaa-oppiainetta' | kaanna}}</span>
        </h1>

        <hr>

        <form name="nimiForm" role="form">
            <div class="non-collapsibles">
                <label for="nimi-input" class="header">{{'muokkaus-tutkinnon-osan-nimi-header' | kaanna}}*</label>
                <input id="nimi-input" class="form-control" ng-model="editableModel.nimi" slocalized required>
                <p class="alert alert-error"
                   ng-show="(nimiForm.$error.required && nimiForm.$error.required[0].$dirty) || nimiValidationError"
                   kaanna="'nimi-on-pakollinen'"></p>
            </div>
        </form>

        <div class="non-collapsibles">
            <!-- koodi -->
            <label for="koodi-input" class="header" kaanna="muokkaus-tutkinnon-osan-koodi-header"></label>
            <div class="fixed-group">
                <input id="koodi-input" class="form-control" type="text" ng-model="editableModel.koodi.arvo"
                       editointi-kontrolli disabled="disabled">
                <div class="addon">
                    <button class="btn btn-default" ng-click="openKoodisto()" kaanna="hae-koodistosta"></button>
                </div>
            </div>

            <!-- kuvaus -->
            <label for="kuvaus-input" class="header">{{'kurssi-kuvaus-header' | kaanna}}</label>
            <div id="kuvaus-input"
                   class="msd-elastic"
                   ng-model="editableModel.kuvaus"
                   ckeditor
                   slocalized>
            </div>
        </div>
    </div>
</div>
