<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>ePerusteet</title>
    <script type="text/javascript" src="/virkailija-raamit/apply-raamit.js"></script>
  </head>
  <body ng-app="eperusteApp" style="height:100%; background-color: white">
    <script>
      var CKEDITOR_BASEPATH = window.location.origin + window.location.pathname + "bower_components/ckeditor/";
    </script>
    <script type="text/javascript" src="bower_components/ckeditor/ckeditor.js"></script>
    <div class="container-fluid main-container" id="ylasivuankkuri">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right top-action">
            <hallintalinkki></hallintalinkki>
          </div>
          <div class="pull-right top-action">
            <kielenvaihto></kielenvaihto>
          </div>
          <eperuste-navi></eperuste-navi>
          <div class="col-md-12" ui-view></div>
          <div class="col-md-12 editointi-wrapper"><editointikontrollit ng-controller="EditointiCtrl"></editointikontrollit></div>
        </div>
      </div>
      <ep-footer></ep-footer>
      <spinner></spinner>
      <backtotop></backtotop>
      <div class="notification-wrapper" ng-cloak>
        <div class="notifications" ng-model="viestit" ng-controller="NotifikaatioCtrl">
          <div ng-if="viestit" ng-click="poistaNotifikaatio(viesti)" ng-model="viestit"
               ng-class="{ 'notification-normal': viesti.tyyppi === 0, 'notification-success': viesti.tyyppi === 1, 'notification-warning': viesti.tyyppi === 2, 'notification-danger': viesti.tyyppi === 3 }"
               ng-repeat="viesti in viestit">
            <div class="notification-body">
              <span class="close">×</span>
              <span class="notification-message" kaanna="viesti.viesti"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
