<!doctype html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if !(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="/virkailija-raamit/apply-raamit.js"></script>
    <!-- build:css(.tmp) styles/eperusteet.css -->
    <link rel="stylesheet" href="styles/eperusteet.css">
    <!-- endbuild -->
  </head>
  <body ng-app="eperusteApp" style="height:100%; background-color: white">
    <!-- build:js scripts/ieshims.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild  -->
    <!-- Add your site or application content here -->
    <div class="container-fluid" id="ylasivuankkuri">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right admin-cog">
            <a ng-cloak ui-sref="root.admin" icon-role="settings" kaanna="hallinta"></a>
          </div>
          <div ng-controller="KieliCtrl" id="kielen-vaihto" class="pull-right ng-cloak">
            <ul>
              <li ng-repeat="item in koodit | filter:{koodi: '!'+kieli}" ng-click="vaihdaKieli(item.koodi)">
                <span ng-if="!$first">|</span>
                <a class="action-link" ng-click="vaihdaKieli(item.koodi)" kaanna="item.nimi"></a>
              </li>
            </ul>
          </div>
          <eperuste-navi ng-controller="NaviCtrl"></eperuste-navi>
          <div class="col-md-12" ui-view></div>
          <div class="col-md-12 editointi-wrapper"><editointikontrollit ng-controller="EditointiCtrl"></editointikontrollit></div>
        </div>
      </div>
      <spinner></spinner>
      <backtotop></backtotop>
      <div class="notification-wrapper" ng-cloak>
        <div class="notifications" ng-model="viestit" ng-controller="NotifikaatioCtrl">
          <div ng-if="viestit" ng-click="poistaNotifikaatio(viesti)" ng-model="viestit" ng-class="{ 'notification-normal': viesti.tyyppi === 0, 'notification-success': viesti.tyyppi === 1, 'notification-warning': viesti.tyyppi === 2, 'notification-danger': viesti.tyyppi === 3 }" ng-repeat="viesti in viestit">
            <div class="notification-body">
              <span class="close">×</span>
              <span class="notification-message" kaanna="viesti.viesti"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js scripts/components.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/core.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/widget.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/mouse.min.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/sortable.min.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/js-xlsx/jszip.js"></script>
    <script src="bower_components/js-xlsx/dist/xlsx.min.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_fi-fi.js"></script>
    <script src="bower_components/momentjs/min/moment.min.js"></script>
    <script src="bower_components/momentjs/lang/fi.js"></script>
    <script src="bower_components/momentjs/lang/sv.js"></script>
    <!-- endbuild -->

    <script src="bower_components/ckeditor/ckeditor.js?v=4.4.5"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/virhe.js"></script>
    <script src="scripts/controllers/tuotekstikappale.js"></script>
    <script src="scripts/directives/muokkaus/tutke2osa.js"></script>
    <script src="scripts/services/utils.js"></script>
    <script src="scripts/services/ulkopuoliset.js"></script>
    <script src="scripts/services/algoritmit.js"></script>
    <script src="scripts/services/tyoryhmat.js"></script>
    <script src="scripts/services/projektiryhma.js"></script>
    <script src="scripts/services/pagination.js"></script>
    <script src="scripts/services/pdf.js"></script>
    <script src="scripts/services/excel.js"></script>
    <script src="scripts/services/versionhelper.js"></script>
    <script src="scripts/services/muodostumissaannot.js"></script>
    <script src="scripts/services/lokalisointi.js"></script>
    <script src="scripts/directives/iconrole.js"></script>
    <script src="scripts/directives/tagcloud.js"></script>
    <script src="scripts/directives/rajaus.js"></script>
    <script src="scripts/directives/ohje.js"></script>
    <script src="scripts/directives/muokkaus/versiotiedot.js"></script>
    <script src="scripts/directives/multiinput.js"></script>
    <script src="scripts/directives/kommentit.js"></script>
    <script src="scripts/directives/kommenttiviesti.js"></script>
    <script src="scripts/directives/osalistaus.js"></script>
    <script src="scripts/directives/osallinenosa.js"></script>
    <script src="scripts/directives/muokattavaosio.js"></script>
    <script src="scripts/directives/perusopetus/tavoitteet.js"></script>
    <script src="scripts/directives/perusopetus/sisaltoalueet.js"></script>
    <script src="scripts/directives/perusopetus/arviointi.js"></script>
    <script src="scripts/controllers/perusteprojekti/osanmuokkaus.js"></script>
    <script src="scripts/directives/muokkaus/vuosiluokkakokonaisuus.js"></script>
    <script src="scripts/directives/muokkaus/oppiaine.js"></script>
    <script src="scripts/directives/muokkaus/osaaminen.js"></script>
    <script src="scripts/controllers/excel.js"></script>
    <script src="scripts/directives/spinner.js"></script>
    <script src="scripts/controllers/modals/uudelleenohjaus.js"></script>
    <script src="scripts/controllers/modals/muodostumisryhma.js"></script>
    <script src="scripts/directives/ckeditor.js"></script>
    <script src="scripts/directives/fileselect.js"></script>
    <script src="scripts/directives/formfield.js"></script>
    <script src="scripts/directives/followscroll.js"></script>
    <script src="scripts/services/perusteet.js"></script>
    <script src="scripts/services/lukko.js"></script>
    <script src="scripts/services/perusteenosat.js"></script>
    <script src="scripts/services/varihyrra.js"></script>
    <script src="scripts/services/colorcalculator.js"></script>
    <script src="scripts/controllers/haku.js"></script>
    <script src="scripts/controllers/perusteprojekti/projektinTila.js"></script>
    <script src="scripts/filters/kaanna.js"></script>
    <script src="scripts/filters/tutkintokoodi.js"></script>
    <script src="scripts/filters/koulutusalakoodi.js"></script>
    <script src="scripts/filters/customfilters.js"></script>
    <script src="scripts/controllers/esitys.js"></script>
    <script src="scripts/directives/esitysOtsikko.js"></script>
    <script src="scripts/directives/koodisto.js"></script>
    <script src="scripts/directives/navi.js"></script>
    <script src="scripts/directives/tree.js"></script>
    <script src="scripts/controllers/modals/aikakatko.js"></script>
    <script src="scripts/directives/sivunavigaatio.js"></script>
    <script src="scripts/services/notifikaatiot.js"></script>
    <script src="scripts/directives/statusbadge.js"></script>
    <script src="scripts/services/suosikit.js"></script>
    <script src="scripts/services/haku.js"></script>
    <script src="scripts/services/kayttajaprofiilit.js"></script>
    <script src='scripts/services/koulutusalat.js'></script>
    <script src='scripts/services/admin.js'></script>
    <script src="scripts/controllers/suosikit.js"></script>
    <script src="scripts/services/yleinenData.js"></script>
    <script src="scripts/services/arviointi.js"></script>
    <script src="scripts/services/navigaatiopolku.js"></script>
    <script src="scripts/directives/editointikontrollit.js"></script>
    <script src="scripts/directives/editointiKontrolli.js"></script>
    <script src="scripts/directives/tuotutkinnonosa.js"></script>
    <script src="scripts/services/editointikontrollit.js"></script>
    <script src="scripts/controllers/muokkaus.js"></script>
    <script src="scripts/directives/muokkaus/lukko.js"></script>
    <script src="scripts/directives/muokkaus/revertnote.js"></script>
    <script src="scripts/directives/muokkaus/tutkinnonosa.js"></script>
    <script src="scripts/directives/muokkaus/tekstikappale.js"></script>
    <script src="scripts/directives/pikamenu.js"></script>
    <script src="scripts/directives/editinplace.js"></script>
    <script src="scripts/services/perusteprojekti.js"></script>
    <script src="scripts/controllers/perusteprojekti/projektinTiedot.js"></script>
    <script src="scripts/controllers/perusteprojekti/muodostumissaannot.js"></script>
    <script src="scripts/controllers/perusteprojekti/tutkinnonosat.js"></script>
    <script src="scripts/controllers/perusteprojekti/projektiryhma.js"></script>
    <script src="scripts/controllers/perusteprojekti/projektinperustiedot.js"></script>
    <script src="scripts/controllers/omatperusteprojektit.js"></script>
    <script src="scripts/controllers/perusopetus.js"></script>
    <script src="scripts/directives/datecomparisonvalidator.js"></script>
    <script src="scripts/directives/muokkaus/muokattavaKentta.js"></script>
    <script src="scripts/directives/arviointi.js"></script>
    <script src="scripts/controllers/modals/ilmoitusdialogi.js"></script>
    <script src="scripts/controllers/perusteprojekti/perusteenTiedot.js"></script>
    <script src="scripts/services/opintoalat.js"></script>
    <script src="scripts/services/kommentit.js"></script>
    <script src="scripts/directives/muokkaus/kenttalistaus.js"></script>
    <script src="scripts/directives/dateformatvalidator.js"></script>
    <script src="scripts/controllers/aloitussivu.js"></script>
    <script src="scripts/controllers/perusteprojekti/perusteprojekti.js"></script>
    <script src="scripts/controllers/perusteprojekti/sisalto.js"></script>
    <script src="scripts/controllers/perusteprojekti/toimikausi.js"></script>
    <script src="scripts/services/varmistusdialogi.js"></script>
    <script src="scripts/controllers/kieli.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <script src="scripts/directives/numberinput.js"></script>
    <script src="scripts/directives/dateformatter.js"></script>
    <script src="scripts/services/admin.js"></script>
    <script src="scripts/services/koulutusalat.js"></script>
    <script src="scripts/controllers/modals/tilanvaihtovirhe.js"></script>
    <script src="scripts/directives/diaarinumerouniikki.js"></script>
    <script src="scripts/directives/oikeustarkastelu.js"></script>
    <script src="scripts/controllers/modals/rakenneosamodal.js"></script>
    <script src="scripts/controllers/perusteprojekti/tutkinnonosaosaalue.js"></script>
    <!-- endbuild -->
  </body>
</html>
