{
  "swagger" : "2.0",
  "info" : {
    "description" : "Valtakunnallisien perusteiden rajapintakuvaukset",
    "version" : "1",
    "title" : "ePerusteet api"
  },
  "host" : "virkailija.opintopolku.fi",
  "basePath" : "/eperusteet-service",
  "tags" : [ {
    "name" : "External"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/api/external/osaamismerkit" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Hae kaikki julkaistut osaamismerkit",
        "description" : "",
        "operationId" : "getOsaamismerkit",
        "produces" : [ "application/json;charset=UTF-8" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/OsaamismerkkiExternalDto"
              }
            }
          }
        }
      }
    },
    "/api/external/osaamismerkki/koodi/{uri}" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Hae julkaistu osaamismerkki koodiurilla",
        "description" : "",
        "operationId" : "getOsaamismerkkiByUri",
        "produces" : [ "application/json;charset=UTF-8" ],
        "parameters" : [ {
          "name" : "uri",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/OsaamismerkkiDto"
            }
          }
        }
      }
    },
    "/api/external/peruste/koulutuskoodi/{koodi}/**" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Perusteen haku koulutuskoodilla ja sisältörakenteella. Kts 'Perusteen tietojen haku tarkalla sisältörakenteella'.",
        "description" : "Statuskoodi 409 jos löytyy useampi peruste. Statuskoodi 204, jos haettu rakenne on tyhjä.",
        "operationId" : "getPerusteWithKoodi",
        "produces" : [ "application/json;charset=UTF-8" ],
        "parameters" : [ {
          "name" : "koodi",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "pattern" : "\\d+",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PerusteKaikkiDto"
            }
          }
        }
      }
    },
    "/api/external/peruste/yto/**" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Yhteisien tutkinnon osien -perusteen(YTO) tietojen haku tarkalla sisältörakenteella. Kts 'Perusteen tietojen haku tarkalla sisältörakenteella'",
        "description" : "",
        "operationId" : "getYtoPerusteDynamicQuery",
        "produces" : [ "application/json;charset=UTF-8" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PerusteKaikkiDto"
            }
          }
        }
      }
    },
    "/api/external/peruste/{perusteId}" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Perusteen tietojen haku",
        "description" : "",
        "operationId" : "getPeruste",
        "produces" : [ "application/json;charset=UTF-8" ],
        "parameters" : [ {
          "name" : "perusteId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "pattern" : "\\d+",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PerusteKaikkiDto"
            }
          }
        }
      }
    },
    "/api/external/peruste/{perusteId}/**" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Perusteen tietojen haku tarkalla sisältörakenteella",
        "description" : "Url parametreiksi voi antaa peruste id:n lisäksi erilaisia perusteen rakenteen osia ja id-kenttien arvoja. Esim. /peruste/8505691/tutkinnonOsat/7283253/koodi/nimi/fi antaa perusteen (id: 8505691) tutkinnon osien tietueen (id: 7283253) koodi-tiedon nimen suomenkielisenä.",
        "operationId" : "getPerusteDynamicQuery",
        "produces" : [ "application/json;charset=UTF-8" ],
        "parameters" : [ {
          "name" : "perusteId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "pattern" : "\\d+",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PerusteKaikkiDto"
            }
          }
        }
      }
    },
    "/api/external/peruste/{perusteId}/osaamisalakuvaukset" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Perusteen osaamisalakuvauksien haku",
        "description" : "",
        "operationId" : "getJulkaistutOsaamisalaKuvaukset",
        "produces" : [ "application/json;charset=UTF-8" ],
        "parameters" : [ {
          "name" : "perusteId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "pattern" : "\\d+",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "additionalProperties" : {
                "type" : "object",
                "additionalProperties" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/TekstiKappaleDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/external/peruste/{perusteId}/perusteenosa/{perusteenOsaId}" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Perusteen osan haku",
        "description" : "",
        "operationId" : "getJulkaistuPerusteenOsa",
        "produces" : [ "application/json;charset=UTF-8" ],
        "parameters" : [ {
          "name" : "perusteId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "pattern" : "\\d+",
          "format" : "int64"
        }, {
          "name" : "perusteenOsaId",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PerusteenOsaDto"
            }
          }
        }
      }
    },
    "/api/external/perusteet" : {
      "get" : {
        "tags" : [ "External" ],
        "summary" : "Perusteiden haku",
        "description" : "",
        "operationId" : "getPerusteet",
        "produces" : [ "application/json;charset=UTF-8" ],
        "parameters" : [ {
          "name" : "koulutustyyppi",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "nimi",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "kieli",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "tulevat",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "voimassa",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "siirtyma",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "poistuneet",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "tyyppi",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "diaarinumero",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "koodi",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "sivu",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sivukoko",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/PagePerusteenJulkaisuData"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "AIPEKurssiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "oppiaine" : {
          "$ref" : "#/definitions/Reference"
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Reference"
          }
        },
        "vaihe" : {
          "$ref" : "#/definitions/AIPEVaiheSuppeaDto"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "AIPEOpetuksenSisaltoDto" : {
      "type" : "object",
      "properties" : {
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        },
        "laajaalaisetosaamiset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LaajaalainenOsaaminenDto"
          }
        },
        "vaiheet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AIPEVaiheDto"
          }
        }
      }
    },
    "AIPEOppiaineLaajaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "oppiaine" : {
          "$ref" : "#/definitions/Reference"
        },
        "koosteinen" : {
          "type" : "boolean"
        },
        "abstrakti" : {
          "type" : "boolean"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "tehtava" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "arviointi" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "tyotavat" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "ohjaus" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "sisaltoalueinfo" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "pakollinenKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "syventavaKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "soveltavaKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kielikasvatus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OpetuksenTavoiteDto"
          }
        },
        "sisaltoalueet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KeskeinenSisaltoalueDto"
          }
        },
        "kurssit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AIPEKurssiDto"
          }
        },
        "oppimaarat" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AIPEOppiaineLaajaDto"
          }
        },
        "vaihe" : {
          "$ref" : "#/definitions/AIPEVaiheSuppeaDto"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "AIPEVaiheDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "luotu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "siirtymaEdellisesta" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "tehtava" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "siirtymaSeuraavaan" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "laajaalainenOsaaminen" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "paikallisestiPaatettavatAsiat" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "opetuksenKohdealueet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OpetuksenKohdealueDto"
          }
        },
        "oppiaineet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AIPEOppiaineLaajaDto"
          }
        },
        "vapaatTekstit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          }
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "AIPEVaiheSuppeaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "luotu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "AbstractRakenneOsaDto" : {
      "type" : "object",
      "properties" : {
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vieras" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "pakollinen" : {
          "type" : "boolean"
        }
      }
    },
    "AihekokonaisuudetLaajaDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "uuidTunniste" : {
            "type" : "string",
            "format" : "uuid"
          },
          "otsikko" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "yleiskuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "aihekokonaisuudet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/AihekokonaisuusDto"
            }
          }
        }
      } ]
    },
    "AihekokonaisuusDto" : {
      "type" : "object",
      "properties" : {
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "jnro" : {
          "type" : "integer",
          "format" : "int64"
        },
        "otsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "yleiskuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "Ammattitaitovaatimukset2019Dto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "kohde" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vaatimukset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Ammattitaitovaatimus2019Dto"
          }
        },
        "kohdealueet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AmmattitaitovaatimustenKohdealue2019Dto"
          }
        }
      }
    },
    "Ammattitaitovaatimus2019Dto" : {
      "type" : "object",
      "properties" : {
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "vaatimus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "AmmattitaitovaatimusDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "selite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "ammattitaitovaatimusKoodi" : {
          "type" : "string"
        },
        "jarjestys" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "AmmattitaitovaatimusKohdeDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "otsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "selite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vaatimukset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AmmattitaitovaatimusDto"
          }
        }
      }
    },
    "AmmattitaitovaatimusKohdealueetDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "otsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vaatimuksenKohteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AmmattitaitovaatimusKohdeDto"
          }
        }
      }
    },
    "AmmattitaitovaatimustenKohdealue2019Dto" : {
      "type" : "object",
      "properties" : {
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vaatimukset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Ammattitaitovaatimus2019Dto"
          }
        }
      }
    },
    "ArvioinninKohdeDto" : {
      "type" : "object",
      "properties" : {
        "otsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "selite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "osaamistasonKriteerit" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OsaamistasonKriteeriDto"
          }
        },
        "_arviointiAsteikko" : {
          "$ref" : "#/definitions/Reference"
        },
        "arviointiAsteikko" : {
          "$ref" : "#/definitions/ArviointiAsteikkoDto"
        }
      }
    },
    "ArvioinninKohdealueDto" : {
      "type" : "object",
      "properties" : {
        "otsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "arvioinninKohteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ArvioinninKohdeDto"
          }
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        }
      }
    },
    "ArviointiAsteikkoDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "osaamistasot" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OsaamistasoDto"
          }
        }
      }
    },
    "ArviointiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "lisatiedot" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "arvioinninKohdealueet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ArvioinninKohdealueDto"
          }
        }
      }
    },
    "DigitaalisenOsaamisenSisaltoDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        }
      }
    },
    "EsiopetuksenPerusteenSisaltoDto" : {
      "type" : "object",
      "properties" : {
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        }
      }
    },
    "GeneerinenArviointiasteikkoKaikkiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kohde" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "arviointiAsteikko" : {
          "$ref" : "#/definitions/ArviointiAsteikkoDto"
        },
        "julkaistu" : {
          "type" : "boolean"
        },
        "valittavissa" : {
          "type" : "boolean"
        },
        "koulutustyypit" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string",
            "enum" : [ "PERUSTUTKINTO", "LUKIOKOULUTUS", "TELMA", "LISAOPETUS", "AMMATTITUTKINTO", "ERIKOISAMMATTITUTKINTO", "AIKUISTENLUKIOKOULUTUS", "ESIOPETUS", "PERUSOPETUS", "AIKUISTENPERUSOPETUS", "VALMA", "VARHAISKASVATUS", "PERUSOPETUSVALMISTAVA", "LUKIOVALMISTAVAKOULUTUS", "TPO", "VAPAASIVISTYSTYO", "MAAHANMUUTTAJIENKOTOUTUMISKOULUTUS", "VAPAASIVISTYSTYOLUKUTAITO", "TUTKINTOONVALMENTAVA", "MUU_KOULUTUS" ]
          }
        },
        "osaamistasonKriteerit" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/GeneerisenArvioinninOsaamistasonKriteeriKaikkiDto"
          }
        },
        "_arviointiAsteikko" : {
          "$ref" : "#/definitions/Reference"
        }
      }
    },
    "GeneerisenArvioinninOsaamistasonKriteeriKaikkiDto" : {
      "type" : "object",
      "properties" : {
        "osaamistaso" : {
          "$ref" : "#/definitions/OsaamistasoDto"
        },
        "kriteerit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        },
        "_osaamistaso" : {
          "$ref" : "#/definitions/Reference"
        }
      }
    },
    "KeskeinenSisaltoalueDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "KevytTekstiKappaleDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "teksti" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "jnro" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "Koko" : {
      "type" : "object",
      "properties" : {
        "minimi" : {
          "type" : "integer",
          "format" : "int32"
        },
        "maksimi" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "KoodiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "arvo" : {
          "type" : "string"
        },
        "uri" : {
          "type" : "string"
        },
        "koodisto" : {
          "type" : "string"
        },
        "versio" : {
          "type" : "integer",
          "format" : "int64"
        }
      }
    },
    "KotoKielitaitotasoDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "nimiKoodi" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "kuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "taitotasot" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/KotoTaitotasoDto"
            }
          }
        }
      } ]
    },
    "KotoLaajaAlainenOsaaminenDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "yleiskuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "osaamisAlueet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/KotoLaajaAlaisenOsaamisenAlueDto"
            }
          }
        }
      } ]
    },
    "KotoLaajaAlaisenOsaamisenAlueDto" : {
      "type" : "object",
      "properties" : {
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "KotoOpintoDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "nimiKoodi" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "kuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "taitotasot" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/KotoTaitotasoDto"
            }
          }
        }
      } ]
    },
    "KotoTaitotasoDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "tavoitteet" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kielenkayttotarkoitus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "aihealueet" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "viestintataidot" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "opiskelijantaidot" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "opiskelijanTyoelamataidot" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tyoelamaOpintoMinimiLaajuus" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tyoelamaOpintoMaksimiLaajuus" : {
          "type" : "integer",
          "format" : "int32"
        },
        "suullinenVastaanottaminen" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "suullinenTuottaminen" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vuorovaikutusJaMediaatio" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "KoulutuksenOsaDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "nimiKoodi" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "laajuusMinimi" : {
            "type" : "integer",
            "format" : "int32"
          },
          "laajuusMaksimi" : {
            "type" : "integer",
            "format" : "int32"
          },
          "koulutusOsanKoulutustyyppi" : {
            "type" : "string",
            "enum" : [ "TUTKINTOKOULUTUKSEENVALMENTAVA", "PERUSOPETUS", "LUKIOKOULUTUS", "AMMATILLINENKOULUTUS" ]
          },
          "koulutusOsanTyyppi" : {
            "type" : "string",
            "enum" : [ "YHTEINEN", "VALINNAINEN" ]
          },
          "kuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "tavoitteenKuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "tavoitteet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/LokalisoituTekstiDto"
            }
          },
          "keskeinenSisalto" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "laajaAlaisenOsaamisenKuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "arvioinninKuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "viiteId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      } ]
    },
    "KoulutusDto" : {
      "type" : "object",
      "properties" : {
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "koulutuskoodiArvo" : {
          "type" : "string"
        },
        "koulutuskoodiUri" : {
          "type" : "string"
        },
        "koulutusalakoodi" : {
          "type" : "string"
        },
        "opintoalakoodi" : {
          "type" : "string"
        }
      }
    },
    "Laaja" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/Laaja"
        },
        "lapset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Laaja"
          }
        },
        "_perusteenOsa" : {
          "$ref" : "#/definitions/Reference"
        }
      }
    },
    "LaajaalainenOsaaminenDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "Laajuus" : {
      "type" : "object",
      "properties" : {
        "minimi" : {
          "type" : "integer",
          "format" : "int32"
        },
        "maksimi" : {
          "type" : "integer",
          "format" : "int32"
        },
        "yksikko" : {
          "type" : "string",
          "enum" : [ "OPINTOVIIKKO", "OSAAMISPISTE", "KURSSI", "OPINTOPISTE" ]
        }
      }
    },
    "LiiteBaseDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "format" : "uuid"
        },
        "nimi" : {
          "type" : "string"
        }
      }
    },
    "LokalisoitavaOsaDto" : {
      "type" : "object",
      "properties" : {
        "otsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "teksti" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "LokalisoituTekstiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "tekstit" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "string"
          }
        }
      }
    },
    "Lops2019ArviointiDto" : {
      "type" : "object",
      "properties" : {
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "Lops2019LaajaAlainenOsaaminenDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "Lops2019LaajaAlainenOsaaminenKokonaisuusDto" : {
      "type" : "object",
      "properties" : {
        "laajaAlaisetOsaamiset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Lops2019LaajaAlainenOsaaminenDto"
          }
        }
      }
    },
    "Lops2019ModuuliDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "pakollinen" : {
          "type" : "boolean"
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "laajuus" : {
          "type" : "number"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "$ref" : "#/definitions/Lops2019ModuuliTavoiteDto"
        },
        "sisallot" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Lops2019ModuuliSisaltoDto"
          }
        },
        "oppiaine" : {
          "$ref" : "#/definitions/Reference"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "Lops2019ModuuliSisaltoDto" : {
      "type" : "object",
      "properties" : {
        "kohde" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "sisallot" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        }
      }
    },
    "Lops2019ModuuliTavoiteDto" : {
      "type" : "object",
      "properties" : {
        "kohde" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        }
      }
    },
    "Lops2019OpiskeluymparistoTyotavatDto" : {
      "type" : "object",
      "properties" : {
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "Lops2019OppiaineKaikkiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "oppiaine" : {
          "$ref" : "#/definitions/Reference"
        },
        "arviointi" : {
          "$ref" : "#/definitions/Lops2019ArviointiDto"
        },
        "tehtava" : {
          "$ref" : "#/definitions/Lops2019TehtavaDto"
        },
        "opiskeluymparistoTyotavat" : {
          "$ref" : "#/definitions/Lops2019OpiskeluymparistoTyotavatDto"
        },
        "laajaAlaisetOsaamiset" : {
          "$ref" : "#/definitions/Lops2019OppiaineLaajaAlainenOsaaminenDto"
        },
        "tavoitteet" : {
          "$ref" : "#/definitions/Lops2019OppiaineTavoitteetDto"
        },
        "pakollisetModuulitKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "valinnaisetModuulitKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "moduulit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Lops2019ModuuliDto"
          }
        },
        "oppimaarat" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Lops2019OppiaineKaikkiDto"
          }
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "Lops2019OppiaineLaajaAlainenOsaaminenDto" : {
      "type" : "object",
      "properties" : {
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "Lops2019OppiaineTavoitealueDto" : {
      "type" : "object",
      "properties" : {
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kohde" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        }
      }
    },
    "Lops2019OppiaineTavoitteetDto" : {
      "type" : "object",
      "properties" : {
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitealueet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Lops2019OppiaineTavoitealueDto"
          }
        }
      }
    },
    "Lops2019SisaltoDto" : {
      "type" : "object",
      "properties" : {
        "laajaAlainenOsaaminen" : {
          "$ref" : "#/definitions/Lops2019LaajaAlainenOsaaminenKokonaisuusDto"
        },
        "oppiaineet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Lops2019OppiaineKaikkiDto"
          }
        },
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        }
      }
    },
    "Lops2019TehtavaDto" : {
      "type" : "object",
      "properties" : {
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "LukioOpetussuunnitelmaRakenneLaajaDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object"
      } ]
    },
    "LukioOppiaineOppimaaraNodeDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "parentId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "jarjestys" : {
          "type" : "integer",
          "format" : "int32"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "koosteinen" : {
          "type" : "boolean"
        },
        "abstrakti" : {
          "type" : "boolean"
        },
        "pakollinenKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "syventavaKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "soveltavaKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "$ref" : "#/definitions/LokalisoitavaOsaDto"
        },
        "arviointi" : {
          "$ref" : "#/definitions/LokalisoitavaOsaDto"
        },
        "tehtava" : {
          "$ref" : "#/definitions/LokalisoitavaOsaDto"
        },
        "oppimaarat" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LukioOppiaineOppimaaraNodeDto"
          }
        },
        "kurssit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LukiokurssiJulkisetTiedotDto"
          }
        }
      }
    },
    "LukioOppiainePuuDto" : {
      "type" : "object",
      "properties" : {
        "perusteId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "oppiaineet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LukioOppiaineOppimaaraNodeDto"
          }
        }
      }
    },
    "LukiokoulutuksenPerusteenSisaltoDto" : {
      "type" : "object",
      "properties" : {
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        },
        "aihekokonaisuudet" : {
          "$ref" : "#/definitions/AihekokonaisuudetLaajaDto"
        },
        "opetuksenYleisetTavoitteet" : {
          "$ref" : "#/definitions/OpetuksenYleisetTavoitteetLaajaDto"
        },
        "rakenne" : {
          "$ref" : "#/definitions/LukioOppiainePuuDto"
        }
      }
    },
    "LukiokurssiJulkisetTiedotDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "oppiaineId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "jarjestys" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "lokalisoituKoodi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tyyppi" : {
          "type" : "string",
          "enum" : [ "PAKOLLINEN", "VALTAKUNNALLINEN_SYVENTAVA", "VALTAKUNNALLINEN_SOVELTAVA" ]
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "$ref" : "#/definitions/LokalisoitavaOsaDto"
        },
        "keskeisetSisallot" : {
          "$ref" : "#/definitions/LokalisoitavaOsaDto"
        },
        "tavoitteetJaKeskeisetSisallot" : {
          "$ref" : "#/definitions/LokalisoitavaOsaDto"
        }
      }
    },
    "MaarayskirjeDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "url" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "liitteet" : {
          "type" : "object",
          "additionalProperties" : {
            "$ref" : "#/definitions/LiiteBaseDto"
          }
        }
      }
    },
    "MuodostumisSaantoDto" : {
      "type" : "object",
      "properties" : {
        "laajuus" : {
          "$ref" : "#/definitions/Laajuus"
        },
        "koko" : {
          "$ref" : "#/definitions/Koko"
        }
      }
    },
    "MuutosmaaraysDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "url" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "liitteet" : {
          "type" : "object",
          "additionalProperties" : {
            "$ref" : "#/definitions/LiiteBaseDto"
          }
        }
      }
    },
    "OpasSisaltoDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        },
        "oppaanKiinnitetytKoodit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OppaanKiinnitettyKoodiDto"
          }
        }
      }
    },
    "OpetuksenKohdealueDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "OpetuksenTavoiteDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "tavoite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "sisaltoalueet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Reference"
          }
        },
        "laajattavoitteet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Reference"
          }
        },
        "kohdealueet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Reference"
          }
        },
        "arvioinninkohteet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/TavoitteenArviointiDto"
          }
        },
        "arvioinninOtsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "arvioinninKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "arvioinninOsaamisenKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteistaJohdetutOppimisenTavoitteet" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vapaaTeksti" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "oppiaineenTavoitteenOpetuksenTavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OppiaineenTavoitteenOpetuksenTavoiteDto"
          }
        }
      }
    },
    "OpetuksenYleisetTavoitteetLaajaDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "uuidTunniste" : {
            "type" : "string",
            "format" : "uuid"
          },
          "otsikko" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "kuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        }
      } ]
    },
    "OpintokokonaisuusDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "nimiKoodi" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "minimilaajuus" : {
            "type" : "integer",
            "format" : "int32"
          },
          "kuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "opetuksenTavoiteOtsikko" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "opetuksenTavoitteet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/KoodiDto"
            }
          },
          "arvioinnit" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/LokalisoituTekstiDto"
            }
          }
        }
      } ]
    },
    "OppaanKiinnitettyKoodiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "kiinnitettyKoodiTyyppi" : {
          "type" : "string",
          "enum" : [ "TUTKINNONOSA", "OSAAMISALA", "OPPIAINE", "OPINTOKOKONAISUUS", "KOULUTUKSENOSA" ]
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        }
      }
    },
    "OppiaineDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "oppiaine" : {
          "$ref" : "#/definitions/Reference"
        },
        "koosteinen" : {
          "type" : "boolean"
        },
        "abstrakti" : {
          "type" : "boolean"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "jnro" : {
          "type" : "integer",
          "format" : "int64"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "tehtava" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "tavoitteet" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "arviointi" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "pakollinenKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "syventavaKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "soveltavaKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "partial" : {
          "type" : "boolean"
        },
        "oppimaarat" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OppiaineSuppeaDto"
          }
        },
        "kohdealueet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OpetuksenKohdealueDto"
          }
        },
        "vuosiluokkakokonaisuudet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OppiaineenVuosiluokkaKokonaisuusDto"
          }
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "vapaatTekstit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          }
        }
      }
    },
    "OppiaineKevytDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "OppiaineLaajaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "oppiaine" : {
          "$ref" : "#/definitions/Reference"
        },
        "koosteinen" : {
          "type" : "boolean"
        },
        "abstrakti" : {
          "type" : "boolean"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "jnro" : {
          "type" : "integer",
          "format" : "int64"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "tehtava" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "vapaatTekstit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          }
        },
        "oppimaarat" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OppiaineDto"
          }
        },
        "kohdealueet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OpetuksenKohdealueDto"
          }
        },
        "vuosiluokkakokonaisuudet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OppiaineenVuosiluokkaKokonaisuusDto"
          }
        },
        "koodiUri" : {
          "type" : "string"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "OppiaineSuppeaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "oppiaine" : {
          "$ref" : "#/definitions/Reference"
        },
        "koosteinen" : {
          "type" : "boolean"
        },
        "abstrakti" : {
          "type" : "boolean"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "jnro" : {
          "type" : "integer",
          "format" : "int64"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "oppimaarat" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OppiaineSuppeaDto"
          }
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "vuosiluokkakokonaisuudet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/OppiaineenVuosiluokkaKokonaisuusSuppeaDto"
          }
        },
        "pakollinenKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "syventavaKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "soveltavaKurssiKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "OppiaineenTavoitteenOpetuksenTavoiteDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tavoite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "OppiaineenVuosiluokkaKokonaisuusDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "vuosiluokkaKokonaisuus" : {
          "$ref" : "#/definitions/Reference"
        },
        "tehtava" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "tyotavat" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "ohjaus" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "arviointi" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "sisaltoalueinfo" : {
          "$ref" : "#/definitions/TekstiOsaDto"
        },
        "opetuksenTavoitteetOtsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vapaaTeksti" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OpetuksenTavoiteDto"
          }
        },
        "sisaltoalueet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KeskeinenSisaltoalueDto"
          }
        },
        "vapaatTekstit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          }
        },
        "oppiaine" : {
          "$ref" : "#/definitions/OppiaineKevytDto"
        },
        "vuosiluokat" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string",
            "enum" : [ "VUOSILUOKKA_1", "VUOSILUOKKA_2", "VUOSILUOKKA_3", "VUOSILUOKKA_4", "VUOSILUOKKA_5", "VUOSILUOKKA_6", "VUOSILUOKKA_7", "VUOSILUOKKA_8", "VUOSILUOKKA_9" ]
          }
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "OppiaineenVuosiluokkaKokonaisuusSuppeaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "vuosiluokkaKokonaisuus" : {
          "$ref" : "#/definitions/Reference"
        }
      }
    },
    "OsaAlueDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tyyppi" : {
          "type" : "string",
          "description" : "Määrittää osaamisalueiden tyypit (vanha vai uusi)",
          "enum" : [ "OSAALUE2014", "OSAALUE2020" ]
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "kielikoodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "valmaTelmaSisalto" : {
          "$ref" : "#/definitions/ValmaTelmaSisaltoDto"
        }
      }
    },
    "OsaAlueKaikkiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tyyppi" : {
          "type" : "string",
          "description" : "Määrittää osaamisalueiden tyypit (vanha vai uusi)",
          "enum" : [ "OSAALUE2014", "OSAALUE2020" ]
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "kielikoodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "valmaTelmaSisalto" : {
          "$ref" : "#/definitions/ValmaTelmaSisaltoDto"
        },
        "arviointi" : {
          "description" : "OSAALUE2020-mukainen arviointi",
          "$ref" : "#/definitions/GeneerinenArviointiasteikkoKaikkiDto"
        },
        "pakollisetOsaamistavoitteet" : {
          "description" : "OSAALUE2020-mukainen pakolliset osaamistavoitteet",
          "$ref" : "#/definitions/Osaamistavoite2020Dto"
        },
        "valinnaisetOsaamistavoitteet" : {
          "description" : "OSAALUE2020-mukainen valinnaiset osaamistavoittet",
          "$ref" : "#/definitions/Osaamistavoite2020Dto"
        },
        "osaamistavoitteet" : {
          "type" : "array",
          "description" : "Vanhan malliset osaamistavoitteet (OSAALUE2014)",
          "items" : {
            "$ref" : "#/definitions/OsaamistavoiteLaajaDto"
          }
        }
      }
    },
    "OsaamisalaDto" : {
      "type" : "object",
      "properties" : {
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "osaamisalakoodiArvo" : {
          "type" : "string"
        },
        "osaamisalakoodiUri" : {
          "type" : "string"
        }
      }
    },
    "OsaamisenArviointiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "kohde" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "selite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        }
      }
    },
    "OsaamisenTavoiteDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "kohde" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "selite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        }
      }
    },
    "OsaamiskokonaisuusDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "kuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "keskeinenKasitteisto" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "kasitteistot" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/OsaamiskokonaisuusKasitteistoDto"
            }
          }
        }
      } ]
    },
    "OsaamiskokonaisuusKasitteistoDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "taso" : {
          "type" : "string",
          "enum" : [ "VARHAISKASVATUS", "ESIOPETUS", "VUOSILUOKKA_12", "VUOSILUOKKA_3456", "VUOSILUOKKA_789" ]
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "OsaamiskokonaisuusOsaAlueDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tasokuvaukset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OsaamiskokonaisuusOsaAlueTasoKuvausDto"
          }
        }
      }
    },
    "OsaamiskokonaisuusOsaAlueTasoKuvausDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "taso" : {
          "type" : "string",
          "enum" : [ "VARHAISKASVATUS", "ESIOPETUS", "VUOSILUOKKA_12", "VUOSILUOKKA_3456", "VUOSILUOKKA_789" ]
        },
        "edelleenKehittyvatOsaamiset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        },
        "osaamiset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        },
        "edistynytOsaaminenKuvaukset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        }
      }
    },
    "OsaamiskokonaisuusPaaAlueDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "kuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "osaAlueet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/OsaamiskokonaisuusOsaAlueDto"
            }
          }
        }
      } ]
    },
    "OsaamismerkkiArviointikriteeriDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "arviointikriteeri" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "OsaamismerkkiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tila" : {
          "type" : "string",
          "enum" : [ "LAADINTA", "JULKAISTU" ]
        },
        "kategoria" : {
          "$ref" : "#/definitions/OsaamismerkkiKategoriaDto"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "osaamistavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OsaamismerkkiOsaamistavoiteDto"
          }
        },
        "arviointikriteerit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OsaamismerkkiArviointikriteeriDto"
          }
        },
        "voimassaoloAlkaa" : {
          "type" : "string",
          "format" : "date-time"
        },
        "voimassaoloLoppuu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "muokkaaja" : {
          "type" : "string"
        }
      }
    },
    "OsaamismerkkiExternalDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tila" : {
          "type" : "string",
          "enum" : [ "LAADINTA", "JULKAISTU" ]
        },
        "kategoria" : {
          "$ref" : "#/definitions/OsaamismerkkiKategoriaDto"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "osaamistavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OsaamismerkkiOsaamistavoiteDto"
          }
        },
        "arviointikriteerit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OsaamismerkkiArviointikriteeriDto"
          }
        },
        "voimassaoloAlkaa" : {
          "type" : "string",
          "format" : "date-time"
        },
        "voimassaoloLoppuu" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "OsaamismerkkiKategoriaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "liite" : {
          "$ref" : "#/definitions/OsaamismerkkiKategoriaLiiteDto"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "OsaamismerkkiKategoriaLiiteDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "format" : "uuid"
        },
        "nimi" : {
          "type" : "string"
        },
        "mime" : {
          "type" : "string"
        },
        "binarydata" : {
          "type" : "string"
        }
      }
    },
    "OsaamismerkkiOsaamistavoiteDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "osaamistavoite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "OsaamistasoDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "otsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        }
      }
    },
    "OsaamistasonKriteeriDto" : {
      "type" : "object",
      "properties" : {
        "kriteerit" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        },
        "_osaamistaso" : {
          "$ref" : "#/definitions/Reference"
        },
        "osaamistaso" : {
          "$ref" : "#/definitions/OsaamistasoDto"
        }
      }
    },
    "Osaamistavoite2020Dto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "pakollinen" : {
          "type" : "boolean"
        },
        "laajuus" : {
          "type" : "number"
        },
        "kieli" : {
          "type" : "string",
          "enum" : [ "FI", "SV", "SE", "RU", "EN" ]
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "tavoitteet" : {
          "$ref" : "#/definitions/Ammattitaitovaatimukset2019Dto"
        }
      }
    },
    "OsaamistavoiteLaajaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "pakollinen" : {
          "type" : "boolean"
        },
        "laajuus" : {
          "type" : "number"
        },
        "kieli" : {
          "type" : "string",
          "enum" : [ "FI", "SV", "SE", "RU", "EN" ]
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "tavoitteet" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tunnustaminen" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "arviointi" : {
          "$ref" : "#/definitions/ArviointiDto"
        },
        "ammattitaitovaatimuksetLista" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AmmattitaitovaatimusKohdealueetDto"
          }
        },
        "esitieto" : {
          "$ref" : "#/definitions/Reference"
        }
      }
    },
    "Page" : {
      "type" : "object",
      "properties" : {
        "totalElements" : {
          "type" : "integer",
          "format" : "int64"
        },
        "totalPages" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "content" : {
          "type" : "array",
          "items" : {
            "type" : "object"
          }
        },
        "number" : {
          "type" : "integer",
          "format" : "int32"
        },
        "sort" : {
          "$ref" : "#/definitions/Sort"
        },
        "numberOfElements" : {
          "type" : "integer",
          "format" : "int32"
        },
        "last" : {
          "type" : "boolean"
        },
        "pageable" : {
          "$ref" : "#/definitions/Pageable"
        },
        "first" : {
          "type" : "boolean"
        },
        "empty" : {
          "type" : "boolean"
        }
      }
    },
    "PagePerusteenJulkaisuData" : {
      "type" : "object",
      "properties" : {
        "totalElements" : {
          "type" : "integer",
          "format" : "int64"
        },
        "totalPages" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "content" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PerusteenJulkaisuData"
          }
        },
        "number" : {
          "type" : "integer",
          "format" : "int32"
        },
        "sort" : {
          "$ref" : "#/definitions/Sort"
        },
        "numberOfElements" : {
          "type" : "integer",
          "format" : "int32"
        },
        "last" : {
          "type" : "boolean"
        },
        "pageable" : {
          "$ref" : "#/definitions/Pageable"
        },
        "first" : {
          "type" : "boolean"
        },
        "empty" : {
          "type" : "boolean"
        }
      }
    },
    "Pageable" : {
      "type" : "object",
      "properties" : {
        "offset" : {
          "type" : "integer",
          "format" : "int64"
        },
        "sort" : {
          "$ref" : "#/definitions/Sort"
        },
        "pageNumber" : {
          "type" : "integer",
          "format" : "int32"
        },
        "pageSize" : {
          "type" : "integer",
          "format" : "int32"
        },
        "paged" : {
          "type" : "boolean"
        },
        "unpaged" : {
          "type" : "boolean"
        }
      }
    },
    "PerusopetuksenPerusteenSisaltoDto" : {
      "type" : "object",
      "properties" : {
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        },
        "laajaalaisetosaamiset" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/LaajaalainenOsaaminenDto"
          }
        },
        "oppiaineet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/OppiaineLaajaDto"
          }
        },
        "vuosiluokkakokonaisuudet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/VuosiluokkaKokonaisuusDto"
          }
        }
      }
    },
    "PerusteAikatauluDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "peruste" : {
          "$ref" : "#/definitions/PerusteKevytDto"
        },
        "tavoite" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tapahtuma" : {
          "type" : "string",
          "enum" : [ "LUOMINEN", "LAUSUNTOKIERROS", "JOHTOKUNNANKASITTELY", "ARVIOITUJULKAISUPAIVA", "TAVOITE", "JULKAISU" ]
        },
        "tapahtumapaiva" : {
          "type" : "string",
          "format" : "date-time"
        },
        "julkinen" : {
          "type" : "boolean"
        }
      }
    },
    "PerusteKaikkiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "globalVersion" : {
          "description" : "Perusteen sisältöjen viimeisin päivitysaika",
          "$ref" : "#/definitions/PerusteVersionDto"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "koulutustyyppi" : {
          "type" : "string"
        },
        "toteutus" : {
          "type" : "string",
          "description" : "Perusteen sisäisen rakenteen toteutuksen ilmaiseva sisältö. Esimerkiksi vanhan ja uuden lukion toteutus (LOPS vs LOPS2019)",
          "enum" : [ "YKSINKERTAINEN", "PERUSOPETUS", "LOPS", "AMMATILLINEN", "TPO", "LOPS2019", "VAPAASIVISTYSTYO", "TUTKINTOONVALMENTAVA", "KOTOUTUMISKOULUTUS" ]
        },
        "koulutukset" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/KoulutusDto"
          }
        },
        "kielet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string",
            "enum" : [ "FI", "SV", "SE", "RU", "EN" ]
          }
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "maarayskirje" : {
          "$ref" : "#/definitions/MaarayskirjeDto"
        },
        "muutosmaaraykset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/MuutosmaaraysDto"
          }
        },
        "diaarinumero" : {
          "type" : "string"
        },
        "voimassaoloAlkaa" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Perusteen alkuperäinen voimaantulon alkamispäivä."
        },
        "siirtymaPaattyy" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Voimassaolon loppumisen jälkeinen perusteen päättymispäivämäärä."
        },
        "voimassaoloLoppuu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "paatospvm" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Perusteen määräyksen päätöspäivämäärä"
        },
        "viimeisinJulkaisuAika" : {
          "type" : "string",
          "format" : "date-time"
        },
        "luotu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "tila" : {
          "type" : "string",
          "description" : "Perusteen sisäinen tila. Ei enää merkityksellinen julkaisujen käytönoton jälkeen",
          "enum" : [ "LUONNOS", "VALMIS", "POISTETTU" ]
        },
        "tyyppi" : {
          "type" : "string",
          "enum" : [ "NORMAALI", "OPAS", "AMOSAA_YHTEINEN", "POHJA", "DIGITAALINEN_OSAAMINEN" ]
        },
        "koulutusvienti" : {
          "type" : "boolean",
          "description" : "EU- ja ETA-maiden koulutusvientikokeiluun tarkoitettu peruste"
        },
        "korvattavatDiaarinumerot" : {
          "type" : "array",
          "description" : "Perusteen vanhemmat määräykset. Eivät välttämättä ole toteutettu ePerusteisiin",
          "uniqueItems" : true,
          "items" : {
            "type" : "string"
          }
        },
        "osaamisalat" : {
          "type" : "array",
          "description" : "Perusteeseen liittyvät osaamisalakoodit",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/KoodiDto"
          }
        },
        "tyotehtavatJoissaVoiToimia" : {
          "description" : "kv-liitteen lisätieto",
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "suorittaneenOsaaminen" : {
          "description" : "kv-liitteen lisätieto",
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tutkintonimikkeet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TutkintonimikeKoodiDto"
          }
        },
        "oppaanPerusteet" : {
          "type" : "array",
          "description" : "Perusteet joihin opas liittyy",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/PerusteKevytDto"
          }
        },
        "oppaanKoulutustyypit" : {
          "type" : "array",
          "description" : "Koulutustyypit joihin opas liittyy",
          "uniqueItems" : true,
          "items" : {
            "type" : "string",
            "enum" : [ "PERUSTUTKINTO", "LUKIOKOULUTUS", "TELMA", "LISAOPETUS", "AMMATTITUTKINTO", "ERIKOISAMMATTITUTKINTO", "AIKUISTENLUKIOKOULUTUS", "ESIOPETUS", "PERUSOPETUS", "AIKUISTENPERUSOPETUS", "VALMA", "VARHAISKASVATUS", "PERUSOPETUSVALMISTAVA", "LUKIOVALMISTAVAKOULUTUS", "TPO", "VAPAASIVISTYSTYO", "MAAHANMUUTTAJIENKOTOUTUMISKOULUTUS", "VAPAASIVISTYSTYOLUKUTAITO", "TUTKINTOONVALMENTAVA", "MUU_KOULUTUS" ]
          }
        },
        "perusteenAikataulut" : {
          "type" : "array",
          "description" : "Perusteprosessin päivämäärät",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/PerusteAikatauluDto"
          }
        },
        "poikkeamismaaraysTarkennus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "poikkeamismaaraysTyyppi" : {
          "type" : "string",
          "enum" : [ "EI_TARVITA_OHJETTA", "EI_VOI_POIKETA", "KOULUTUSVIENTILIITE" ]
        },
        "opasTyyppi" : {
          "type" : "string",
          "enum" : [ "NORMAALI", "TIETOAPALVELUSTA" ]
        },
        "tietoapalvelustaKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "suoritustavat" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/SuoritustapaLaajaDto"
          }
        },
        "tutkinnonOsat" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TutkinnonOsaKaikkiDto"
          }
        },
        "koulutuksenOsat" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KoulutuksenOsaDto"
          }
        },
        "muutosmaarayksenVoimassaoloAlkaa" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Perusteen viimeisimmän muutosmääräyksen voimaantulon alkamispäivä."
        },
        "perusopetus" : {
          "$ref" : "#/definitions/PerusopetuksenPerusteenSisaltoDto"
        },
        "lukiokoulutus" : {
          "$ref" : "#/definitions/LukiokoulutuksenPerusteenSisaltoDto"
        },
        "lops2019" : {
          "$ref" : "#/definitions/Lops2019SisaltoDto"
        },
        "esiopetus" : {
          "$ref" : "#/definitions/EsiopetuksenPerusteenSisaltoDto"
        },
        "aipe" : {
          "$ref" : "#/definitions/AIPEOpetuksenSisaltoDto"
        },
        "tpo" : {
          "$ref" : "#/definitions/TPOOpetuksenSisaltoDto"
        },
        "vapaasivistystyo" : {
          "$ref" : "#/definitions/VapaasivistystyoSisaltoDto"
        },
        "tutkintoonvalmentava" : {
          "$ref" : "#/definitions/TutkintoonvalmentavaSisaltoDto"
        },
        "opas" : {
          "$ref" : "#/definitions/OpasSisaltoDto"
        },
        "digitaalinenosaaminen" : {
          "$ref" : "#/definitions/DigitaalisenOsaamisenSisaltoDto"
        }
      }
    },
    "PerusteKevytDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tila" : {
          "type" : "string",
          "enum" : [ "LUONNOS", "VALMIS", "POISTETTU" ]
        },
        "tyyppi" : {
          "type" : "string",
          "enum" : [ "NORMAALI", "OPAS", "AMOSAA_YHTEINEN", "POHJA", "DIGITAALINEN_OSAAMINEN" ]
        },
        "koulutustyyppi" : {
          "type" : "string"
        },
        "esikatseltavissa" : {
          "type" : "boolean"
        },
        "voimassaoloAlkaa" : {
          "type" : "string",
          "format" : "date-time"
        },
        "voimassaoloLoppuu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "perusteprojekti" : {
          "$ref" : "#/definitions/Reference"
        },
        "suoritustavat" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/SuoritustapaDto"
          }
        }
      }
    },
    "PerusteRakenneOsa" : {
      "type" : "object",
      "properties" : {
        "osanTyyppi" : {
          "type" : "string"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "meta" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "object"
          }
        }
      }
    },
    "PerusteVersionDto" : {
      "type" : "object",
      "properties" : {
        "aikaleima" : {
          "type" : "string",
          "format" : "date-time"
        }
      }
    },
    "PerusteenJulkaisuData" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "nimi" : {
          "type" : "object",
          "additionalProperties" : {
            "type" : "string"
          }
        },
        "voimassaoloAlkaa" : {
          "type" : "string",
          "format" : "date-time"
        },
        "voimassaoloLoppuu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "siirtymaPaattyy" : {
          "type" : "string",
          "format" : "date-time"
        },
        "paatospvm" : {
          "type" : "string",
          "format" : "date-time"
        },
        "diaarinumero" : {
          "type" : "string"
        },
        "osaamisalat" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/KoodiDto"
          }
        },
        "tutkintonimikkeet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TutkintonimikeKoodiDto"
          }
        },
        "koulutustyyppi" : {
          "type" : "string"
        },
        "laajuus" : {
          "type" : "integer",
          "format" : "int32"
        },
        "koulutukset" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KoulutusDto"
          }
        },
        "suoritustavat" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/SuoritustapaDto"
          }
        },
        "koodit" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "julkaistu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "luotu" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tyyppi" : {
          "type" : "string"
        },
        "kielet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "type" : "string",
            "enum" : [ "FI", "SV", "SE", "RU", "EN" ]
          }
        },
        "tutkinnonosa" : {
          "$ref" : "#/definitions/TutkinnonOsaKaikkiDto"
        },
        "perusteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PerusteenJulkaisuData"
          }
        },
        "sisaltotyyppi" : {
          "type" : "string"
        }
      }
    },
    "PerusteenOsaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "luotu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "muokkaaja" : {
          "type" : "string"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tila" : {
          "type" : "string",
          "enum" : [ "LUONNOS", "VALMIS", "POISTETTU" ]
        },
        "tunniste" : {
          "type" : "string",
          "enum" : [ "NORMAALI", "LAAJAALAINENOSAAMINEN", "RAKENNE" ]
        },
        "valmis" : {
          "type" : "boolean"
        },
        "kaannettava" : {
          "type" : "boolean"
        }
      }
    },
    "RakenneModuuliDto" : {
      "type" : "object",
      "properties" : {
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "vieras" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "tunniste" : {
          "type" : "string",
          "format" : "uuid"
        },
        "pakollinen" : {
          "type" : "boolean"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "rooli" : {
          "type" : "string",
          "enum" : [ "NORMAALI", "VIRTUAALINEN", "OSAAMISALA", "TUTKINTONIMIKE", "VIERAS" ]
        },
        "muodostumisSaanto" : {
          "$ref" : "#/definitions/MuodostumisSaantoDto"
        },
        "osaamisala" : {
          "$ref" : "#/definitions/OsaamisalaDto"
        },
        "tutkintonimike" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "osat" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/AbstractRakenneOsaDto"
          }
        },
        "versioId" : {
          "type" : "integer",
          "format" : "int32"
        }
      }
    },
    "Reference" : {
      "type" : "object"
    },
    "Sort" : {
      "type" : "object",
      "properties" : {
        "empty" : {
          "type" : "boolean"
        },
        "sorted" : {
          "type" : "boolean"
        },
        "unsorted" : {
          "type" : "boolean"
        }
      }
    },
    "SuoritustapaDto" : {
      "type" : "object",
      "properties" : {
        "suoritustapakoodi" : {
          "type" : "string",
          "enum" : [ "OPS", "NAYTTO", "REFORMI", "PERUSOPETUS", "LISAOPETUS", "VARHAISKASVATUS", "OPAS", "ESIOPETUS", "AIPE", "TPO", "LUKIOKOULUTUS", "LUKIOKOULUTUS2019", "VAPAASIVISTYSTYO" ]
        },
        "laajuusYksikko" : {
          "type" : "string",
          "enum" : [ "OPINTOVIIKKO", "OSAAMISPISTE", "KURSSI", "OPINTOPISTE" ]
        }
      }
    },
    "SuoritustapaLaajaDto" : {
      "type" : "object",
      "properties" : {
        "suoritustapakoodi" : {
          "type" : "string",
          "enum" : [ "OPS", "NAYTTO", "REFORMI", "PERUSOPETUS", "LISAOPETUS", "VARHAISKASVATUS", "OPAS", "ESIOPETUS", "AIPE", "TPO", "LUKIOKOULUTUS", "LUKIOKOULUTUS2019", "VAPAASIVISTYSTYO" ]
        },
        "laajuusYksikko" : {
          "type" : "string",
          "enum" : [ "OPINTOVIIKKO", "OSAAMISPISTE", "KURSSI", "OPINTOPISTE" ]
        },
        "rakenne" : {
          "$ref" : "#/definitions/RakenneModuuliDto"
        },
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        },
        "tutkinnonOsaViitteet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/TutkinnonOsaViiteSuppeaDto"
          }
        }
      }
    },
    "TPOOpetuksenSisaltoDto" : {
      "type" : "object",
      "properties" : {
        "sisalto" : {
          "$ref" : "#/definitions/Laaja"
        }
      }
    },
    "TaiteenalaDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "teksti" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "koodi" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "kasvatus" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          },
          "yhteisetOpinnot" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          },
          "teemaopinnot" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          },
          "aikuistenOpetus" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          },
          "tyotavatOpetuksessa" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          },
          "oppimisenArviointiOpetuksessa" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          },
          "vapaatTekstit" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/KevytTekstiKappaleDto"
            }
          },
          "viiteId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "taiteenOsat" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/TaiteenalaOsaViiteDto"
            }
          }
        }
      } ]
    },
    "TaiteenalaOsaViiteDto" : {
      "type" : "object",
      "properties" : {
        "taiteenOsa" : {
          "type" : "string"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "teksti" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "jnro" : {
          "type" : "integer",
          "format" : "int32"
        },
        "taiteenalaId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "perusteenOsa" : {
          "$ref" : "#/definitions/PerusteRakenneOsa"
        }
      }
    },
    "TavoiteAlueDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "tavoiteAlueTyyppi" : {
          "type" : "string",
          "enum" : [ "OTSIKKO", "TAVOITESISALTOALUE" ]
        },
        "otsikko" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "tavoitteet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/KoodiDto"
          }
        },
        "keskeisetSisaltoalueet" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          }
        }
      }
    },
    "TavoitesisaltoalueDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "nimiKoodi" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "teksti" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "tavoitealueet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/TavoiteAlueDto"
            }
          }
        }
      } ]
    },
    "TavoitteenArviointiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "arvioinninKohde" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "hyvanOsaamisenKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "osaamisenKuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "arvosana" : {
          "type" : "integer",
          "format" : "int32"
        },
        "opetuksenTavoitteet" : {
          "type" : "array",
          "uniqueItems" : true,
          "items" : {
            "$ref" : "#/definitions/Reference"
          }
        }
      }
    },
    "TekstiKappaleDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "teksti" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "osaamisala" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "tutkintonimike" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "koodit" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/KoodiDto"
            }
          },
          "liite" : {
            "type" : "boolean"
          }
        }
      } ]
    },
    "TekstiOsaDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "otsikko" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "teksti" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        }
      }
    },
    "TutkinnonOsaDto" : {
      "allOf" : [ {
        "$ref" : "#/definitions/Laaja"
      }, {
        "type" : "object",
        "properties" : {
          "tavoitteet" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "arviointi" : {
            "$ref" : "#/definitions/ArviointiDto"
          },
          "ammattitaitovaatimuksetLista" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/AmmattitaitovaatimusKohdealueetDto"
            }
          },
          "ammattitaitovaatimukset" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "ammattitaidonOsoittamistavat" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "kuvaus" : {
            "$ref" : "#/definitions/LokalisoituTekstiDto"
          },
          "koodi" : {
            "$ref" : "#/definitions/KoodiDto"
          },
          "koodiUri" : {
            "type" : "string"
          },
          "koodiArvo" : {
            "type" : "string"
          },
          "osaAlueet" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/OsaAlueDto"
            }
          },
          "vapaatTekstit" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/KevytTekstiKappaleDto"
            }
          },
          "tyyppi" : {
            "type" : "string",
            "enum" : [ "NORMAALI", "TUTKE2", "REFORMI_TUTKE2" ]
          },
          "valmaTelmaSisalto" : {
            "$ref" : "#/definitions/ValmaTelmaSisaltoDto"
          },
          "ammattitaitovaatimukset2019" : {
            "$ref" : "#/definitions/Ammattitaitovaatimukset2019Dto"
          },
          "geneerinenArviointiasteikko" : {
            "$ref" : "#/definitions/Reference"
          },
          "alkuperainenPeruste" : {
            "$ref" : "#/definitions/PerusteKevytDto"
          }
        }
      } ]
    },
    "TutkinnonOsaKaikkiDto" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64"
        },
        "luotu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "muokattu" : {
          "type" : "string",
          "format" : "date-time"
        },
        "muokkaaja" : {
          "type" : "string"
        },
        "nimi" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "tila" : {
          "type" : "string",
          "enum" : [ "LUONNOS", "VALMIS", "POISTETTU" ]
        },
        "tunniste" : {
          "type" : "string",
          "enum" : [ "NORMAALI", "LAAJAALAINENOSAAMINEN", "RAKENNE" ]
        },
        "valmis" : {
          "type" : "boolean"
        },
        "kaannettava" : {
          "type" : "boolean"
        },
        "osanTyyppi" : {
          "type" : "string"
        },
        "kuvaus" : {
          "$ref" : "#/definitions/LokalisoituTekstiDto"
        },
        "opintoluokitus" : {
          "type" : "integer",
          "format" : "int64"
        },
        "koodi" : {
          "$ref" : "#/definitions/KoodiDto"
        },
        "koodiUri" : {
          "type" : "string"
        },
        "koodiArvo" : {
          "type" : "string"
        },
        "laajuus" : {
          "type" : "number"
        },
        "tutkinnonosaViiteId" : {
          "type" : "integer",
          "format" : "int64"
        },
        "laajuusMaksimi" : {
          "type" : "number"
        },
        "osaAlueet" : {
          "type" : "array",
          "description" : "Yhteisen tutkinnon osan osa-alueet",
          "items" : {
            "$ref" : "#/definitions/OsaAlueKaikkiDto"
          }
        },
        "tyyppi" : {
          "type" : "string",
          "description" : "Ilmaisee onko kyseessä normaali vai yhteinen osa (uusi tai vanha)",
          "enum" : [ "NORMAALI", "TUTKE2", "REFORMI_TUTKE2" ]
        },
        "valmaTelmaSisalto" : {
          "$ref" : "#/definitions/ValmaTelmaSisaltoDto"
        },
        "geneerinenArviointiasteikko" : {
          "description" : "Yleinen perusteen ulkopuolella käytetty arviointiasteikko. Käytetään kaikissa uusissa perusteissa.",
          "$ref" : "#/definitions/GeneerinenArviointiasteikkoKaikkiDto"
        },
        "vapaatTekstit" : {
          "type" : "array",
          "description" : "Tutkinnon osan lisätarkennukset",
          "items" : {
            "$ref" : "#/definitions/KevytTekstiKappaleDto"
          }
        },
        "ammattitaitovaatimukset2019" : {
[...]
