{"openapi":"3.0.1","info":{"title":"ePerusteet rajapinta","description":"Spring MVC API based on the swagger 3.0 specification","license":{"name":"EUPL 1.1","url":"https://interoperable-europe.ec.europa.eu/licence/european-union-public-licence-version-11-or-later-eupl"},"version":"v3.0.0"},"servers":[{"url":"https://virkailija.opintopolku.fi/eperusteet-service","description":"ePerusteet API"}],"paths":{"/api/external/perusteet":{"get":{"tags":["External"],"summary":"Perusteiden haku","operationId":"getPerusteet","parameters":[{"name":"koulutustyyppi","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"nimi","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"kieli","in":"query","required":false,"schema":{"type":"string","default":"fi"}},{"name":"tulevat","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"voimassa","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"siirtyma","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"poistuneet","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"tyyppi","in":"query","required":false,"schema":{"type":"string","default":"normaali"}},{"name":"diaarinumero","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"koodi","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"sivu","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sivukoko","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PagePerusteenJulkaisuData"}}}}}}},"/api/external/perusteet/":{"get":{"tags":["External"],"summary":"Perusteiden haku","operationId":"getPerusteet_1","parameters":[{"name":"koulutustyyppi","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"nimi","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"kieli","in":"query","required":false,"schema":{"type":"string","default":"fi"}},{"name":"tulevat","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"voimassa","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"siirtyma","in":"query","required":false,"schema":{"type":"boolean","default":true}},{"name":"poistuneet","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"tyyppi","in":"query","required":false,"schema":{"type":"string","default":"normaali"}},{"name":"diaarinumero","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"koodi","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"sivu","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"sivukoko","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PagePerusteenJulkaisuData"}}}}}}},"/api/external/peruste/{perusteId}":{"get":{"tags":["External"],"summary":"Perusteen tietojen haku","operationId":"getPeruste","parameters":[{"name":"perusteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PerusteKaikkiDto"}}}}}}},"/api/external/peruste/{perusteId}/{custompath}":{"get":{"tags":["External"],"summary":"Perusteen tietojen haku tarkalla sisältörakenteella","description":"Url parametreiksi voi antaa peruste id:n lisäksi erilaisia perusteen rakenteen osia ja id-kenttien arvoja. Esim. /peruste/8505691/tutkinnonOsat/7283253/koodi/nimi/fi antaa perusteen (id: 8505691) tutkinnon osien tietueen (id: 7283253) koodi-tiedon nimen suomenkielisenä.","operationId":"getPerusteDynamicQuery","parameters":[{"name":"perusteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"custompath","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PerusteKaikkiDto"}}}}}}},"/api/external/peruste/{perusteId}/perusteenosa/{perusteenOsaId}":{"get":{"tags":["External"],"summary":"Perusteen osan haku","operationId":"getJulkaistuPerusteenOsa","parameters":[{"name":"perusteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"perusteenOsaId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PerusteenOsaDto"}}}}}}},"/api/external/peruste/{perusteId}/osaamisalakuvaukset":{"get":{"tags":["External"],"summary":"Perusteen osaamisalakuvauksien haku","operationId":"getJulkaistutOsaamisalaKuvaukset","parameters":[{"name":"perusteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/TekstiKappaleDto"}}}}}}}}}},"/api/external/osaamismerkki/koodi/{uri}":{"get":{"tags":["External"],"summary":"Hae julkaistu osaamismerkki koodiurilla","operationId":"getOsaamismerkkiByUri","parameters":[{"name":"uri","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OsaamismerkkiDto"}}}}}}},"/api/external/osaamismerkit":{"get":{"tags":["External"],"summary":"Hae kaikki julkaistut osaamismerkit","operationId":"getOsaamismerkit","responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/OsaamismerkkiExternalDto"}}}}}}}}},"components":{"schemas":{"Ammattitaitovaatimukset2019Dto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"kohde":{"type":"object","additionalProperties":{"type":"string"}},"vaatimukset":{"type":"array","items":{"$ref":"#/components/schemas/Ammattitaitovaatimus2019Dto"}},"kohdealueet":{"type":"array","items":{"$ref":"#/components/schemas/AmmattitaitovaatimustenKohdealue2019Dto"}}},"description":"Uusien reformin mukaisien perusteiden ammattitaitovaatimukset"},"Ammattitaitovaatimus2019Dto":{"type":"object","properties":{"koodi":{"$ref":"#/components/schemas/KoodiDto"},"vaatimus":{"type":"object","additionalProperties":{"type":"string"}}}},"AmmattitaitovaatimusDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"selite":{"type":"object","additionalProperties":{"type":"string"}},"ammattitaitovaatimusKoodi":{"type":"string"},"jarjestys":{"type":"integer","format":"int32"}}},"AmmattitaitovaatimusKohdeDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"selite":{"type":"object","additionalProperties":{"type":"string"}},"vaatimukset":{"type":"array","items":{"$ref":"#/components/schemas/AmmattitaitovaatimusDto"}}}},"AmmattitaitovaatimusKohdealueetDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"vaatimuksenKohteet":{"type":"array","items":{"$ref":"#/components/schemas/AmmattitaitovaatimusKohdeDto"}}},"description":"Vanhentunut rakenteeton ammattitaitovaatimukset. Ei käytössä uusissa reformin mukaisissa tutkinnon osissa."},"AmmattitaitovaatimustenKohdealue2019Dto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"vaatimukset":{"type":"array","items":{"$ref":"#/components/schemas/Ammattitaitovaatimus2019Dto"}}}},"ArvioinninKohdeDto":{"type":"object","properties":{"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"selite":{"type":"object","additionalProperties":{"type":"string"}},"osaamistasonKriteerit":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OsaamistasonKriteeriDto"}},"_arviointiAsteikko":{"type":"object"},"arviointiAsteikko":{"$ref":"#/components/schemas/ArviointiAsteikkoDto"}}},"ArvioinninKohdealueDto":{"type":"object","properties":{"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"arvioinninKohteet":{"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohdeDto"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"}}},"ArviointiAsteikkoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"osaamistasot":{"type":"array","items":{"$ref":"#/components/schemas/OsaamistasoDto"}}}},"ArviointiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"lisatiedot":{"type":"object","additionalProperties":{"type":"string"}},"arvioinninKohdealueet":{"type":"array","items":{"$ref":"#/components/schemas/ArvioinninKohdealueDto"}}},"description":"Tutkinnon osa -kohtainen arviointi"},"GeneerinenArviointiasteikkoKaikkiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kohde":{"type":"object","additionalProperties":{"type":"string"}},"arviointiAsteikko":{"$ref":"#/components/schemas/ArviointiAsteikkoDto"},"julkaistu":{"type":"boolean"},"valittavissa":{"type":"boolean"},"koulutustyypit":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["PERUSTUTKINTO","LUKIOKOULUTUS","TELMA","LISAOPETUS","AMMATTITUTKINTO","ERIKOISAMMATTITUTKINTO","AIKUISTENLUKIOKOULUTUS","ESIOPETUS","PERUSOPETUS","AIKUISTENPERUSOPETUS","VALMA","VARHAISKASVATUS","PERUSOPETUSVALMISTAVA","LUKIOVALMISTAVAKOULUTUS","TPO","VAPAASIVISTYSTYO","MAAHANMUUTTAJIENKOTOUTUMISKOULUTUS","VAPAASIVISTYSTYOLUKUTAITO","TUTKINTOONVALMENTAVA","MUU_KOULUTUS"]}},"osaamistasonKriteerit":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/GeneerisenArvioinninOsaamistasonKriteeriKaikkiDto"}},"_arviointiAsteikko":{"type":"object"}},"description":"Yleinen perusteen ulkopuolella käytetty arviointiasteikko. Käytetään kaikissa uusissa perusteissa."},"GeneerisenArvioinninOsaamistasonKriteeriKaikkiDto":{"type":"object","properties":{"osaamistaso":{"$ref":"#/components/schemas/OsaamistasoDto"},"kriteerit":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"_osaamistaso":{"type":"object"}}},"KevytTekstiKappaleDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"teksti":{"type":"object","additionalProperties":{"type":"string"}},"jnro":{"type":"integer","format":"int32"}},"description":"Tutkinnon osan lisätarkennukset"},"KoodiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"arvo":{"type":"string"},"uri":{"type":"string"},"koodisto":{"type":"string"},"versio":{"type":"integer","format":"int64"}}},"KoulutusDto":{"type":"object","properties":{"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koulutuskoodiArvo":{"type":"string"},"koulutuskoodiUri":{"type":"string"},"koulutusalakoodi":{"type":"string"},"opintoalakoodi":{"type":"string"}}},"OsaAlueKaikkiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tyyppi":{"type":"string","description":"Määrittää osaamisalueiden tyypit (vanha vai uusi)","enum":["OSAALUE2014","OSAALUE2020"]},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"kielikoodi":{"$ref":"#/components/schemas/KoodiDto"},"valmaTelmaSisalto":{"$ref":"#/components/schemas/ValmaTelmaSisaltoDto"},"arviointi":{"$ref":"#/components/schemas/GeneerinenArviointiasteikkoKaikkiDto"},"pakollisetOsaamistavoitteet":{"$ref":"#/components/schemas/Osaamistavoite2020Dto"},"valinnaisetOsaamistavoitteet":{"$ref":"#/components/schemas/Osaamistavoite2020Dto"},"osaamistavoitteet":{"type":"array","description":"Vanhan malliset osaamistavoitteet (OSAALUE2014)","deprecated":true,"items":{"$ref":"#/components/schemas/OsaamistavoiteLaajaDto"}}},"description":"Yhteisen tutkinnon osan osa-alueet"},"OsaamisenArviointiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"kohde":{"type":"object","additionalProperties":{"type":"string"}},"selite":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}},"OsaamisenTavoiteDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"kohde":{"type":"object","additionalProperties":{"type":"string"}},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"selite":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}},"OsaamistasoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"}}},"OsaamistasonKriteeriDto":{"type":"object","properties":{"kriteerit":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"_osaamistaso":{"type":"object"},"osaamistaso":{"$ref":"#/components/schemas/OsaamistasoDto"}}},"Osaamistavoite2020Dto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"pakollinen":{"type":"boolean"},"laajuus":{"type":"number"},"kieli":{"type":"string","enum":["FI","SV","SE","RU","EN"]},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"tavoitteet":{"$ref":"#/components/schemas/Ammattitaitovaatimukset2019Dto"}},"description":"OSAALUE2020-mukainen valinnaiset osaamistavoittet"},"OsaamistavoiteLaajaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"pakollinen":{"type":"boolean"},"laajuus":{"type":"number"},"kieli":{"type":"string","enum":["FI","SV","SE","RU","EN"]},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"tavoitteet":{"type":"object","additionalProperties":{"type":"string"}},"tunnustaminen":{"type":"object","additionalProperties":{"type":"string"}},"arviointi":{"$ref":"#/components/schemas/ArviointiDto"},"ammattitaitovaatimuksetLista":{"type":"array","items":{"$ref":"#/components/schemas/AmmattitaitovaatimusKohdealueetDto"}},"esitieto":{"type":"object"}},"description":"Vanhan malliset osaamistavoitteet (OSAALUE2014)"},"PagePerusteenJulkaisuData":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/PerusteenJulkaisuData"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageSize":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"PerusteRakenneOsa":{"type":"object","properties":{"osanTyyppi":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"meta":{"type":"object","additionalProperties":{"type":"object"}}}},"PerusteenJulkaisuData":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"voimassaoloAlkaa":{"type":"string","format":"date-time"},"voimassaoloLoppuu":{"type":"string","format":"date-time"},"siirtymaPaattyy":{"type":"string","format":"date-time"},"paatospvm":{"type":"string","format":"date-time"},"diaarinumero":{"type":"string"},"osaamisalat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/KoodiDto"}},"tutkintonimikkeet":{"type":"array","items":{"$ref":"#/components/schemas/TutkintonimikeKoodiDto"}},"koulutustyyppi":{"type":"string"},"laajuus":{"type":"integer","format":"int32"},"koulutukset":{"type":"array","items":{"$ref":"#/components/schemas/KoulutusDto"}},"suoritustavat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/SuoritustapaDto"}},"koodit":{"type":"array","items":{"type":"string"}},"julkaistu":{"type":"string","format":"date-time"},"luotu":{"type":"integer","format":"int64"},"tyyppi":{"type":"string"},"kielet":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["FI","SV","SE","RU","EN"]}},"tutkinnonosa":{"$ref":"#/components/schemas/TutkinnonOsaKaikkiDto"},"perusteet":{"type":"array","items":{"$ref":"#/components/schemas/PerusteenJulkaisuData"}},"sisaltotyyppi":{"type":"string"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"SuoritustapaDto":{"type":"object","properties":{"suoritustapakoodi":{"type":"string","enum":["OPS","NAYTTO","REFORMI","PERUSOPETUS","LISAOPETUS","VARHAISKASVATUS","OPAS","ESIOPETUS","AIPE","TPO","LUKIOKOULUTUS","LUKIOKOULUTUS2019","VAPAASIVISTYSTYO"]},"laajuusYksikko":{"type":"string","enum":["OPINTOVIIKKO","OSAAMISPISTE","KURSSI","OPINTOPISTE"]}}},"TutkinnonOsaKaikkiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU"]},"tunniste":{"type":"string","enum":["NORMAALI","LAAJAALAINENOSAAMINEN","RAKENNE"]},"valmis":{"type":"boolean"},"kaannettava":{"type":"boolean"},"osanTyyppi":{"type":"string"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"opintoluokitus":{"type":"integer","format":"int64"},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"laajuus":{"type":"number"},"tutkinnonosaViiteId":{"type":"integer","format":"int64"},"laajuusMaksimi":{"type":"number"},"osaAlueet":{"type":"array","description":"Yhteisen tutkinnon osan osa-alueet","items":{"$ref":"#/components/schemas/OsaAlueKaikkiDto"}},"tyyppi":{"type":"string","description":"Ilmaisee onko kyseessä normaali vai yhteinen osa (uusi tai vanha)","enum":["NORMAALI","TUTKE2","REFORMI_TUTKE2"]},"valmaTelmaSisalto":{"$ref":"#/components/schemas/ValmaTelmaSisaltoDto"},"geneerinenArviointiasteikko":{"$ref":"#/components/schemas/GeneerinenArviointiasteikkoKaikkiDto"},"vapaatTekstit":{"type":"array","description":"Tutkinnon osan lisätarkennukset","items":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"}},"ammattitaitovaatimukset2019":{"$ref":"#/components/schemas/Ammattitaitovaatimukset2019Dto"},"ammattitaidonOsoittamistavat":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"type":"object","additionalProperties":{"type":"string","description":"Vanhentunut rakenteeton tavoitteet. Ei käytössä uusissa reformin mukaisissa tutkinnon osissa.","deprecated":true},"description":"Vanhentunut rakenteeton tavoitteet. Ei käytössä uusissa reformin mukaisissa tutkinnon osissa.","deprecated":true},"arviointi":{"$ref":"#/components/schemas/ArviointiDto"},"ammattitaitovaatimukset":{"type":"object","additionalProperties":{"type":"string","description":"Vanhentunut rakenteeton ammattitaitovaatimukset. Ei käytössä uusissa reformin mukaisissa tutkinnon osissa.","deprecated":true},"description":"Vanhentunut rakenteeton ammattitaitovaatimukset. Ei käytössä uusissa reformin mukaisissa tutkinnon osissa.","deprecated":true},"ammattitaitovaatimuksetLista":{"type":"array","description":"Vanhentunut rakenteeton ammattitaitovaatimukset. Ei käytössä uusissa reformin mukaisissa tutkinnon osissa.","deprecated":true,"items":{"$ref":"#/components/schemas/AmmattitaitovaatimusKohdealueetDto"}},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"TutkintonimikeKoodiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"peruste":{"type":"object"},"tutkinnonOsaUri":{"type":"string"},"tutkinnonOsaArvo":{"type":"string"},"osaamisalaUri":{"type":"string"},"osaamisalaArvo":{"type":"string"},"tutkintonimikeUri":{"type":"string"},"tutkintonimikeArvo":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}}}},"ValmaTelmaSisaltoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"osaamisenarviointi":{"$ref":"#/components/schemas/OsaamisenArviointiDto"},"osaamisenarviointiTekstina":{"type":"object","additionalProperties":{"type":"string"}},"osaamistavoite":{"type":"array","items":{"$ref":"#/components/schemas/OsaamisenTavoiteDto"}}}},"AIPEKurssiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"oppiaine":{"type":"object"},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"uniqueItems":true,"type":"array","items":{"type":"object"}},"vaihe":{"$ref":"#/components/schemas/AIPEVaiheSuppeaDto"},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"AIPEOpetuksenSisaltoDto":{"type":"object","properties":{"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]},"laajaalaisetosaamiset":{"type":"array","items":{"$ref":"#/components/schemas/LaajaalainenOsaaminenDto"}},"vaiheet":{"type":"array","items":{"$ref":"#/components/schemas/AIPEVaiheDto"}}}},"AIPEOppiaineLaajaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"oppiaine":{"type":"object"},"koosteinen":{"type":"boolean"},"abstrakti":{"type":"boolean"},"muokattu":{"type":"string","format":"date-time"},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"tehtava":{"$ref":"#/components/schemas/TekstiOsaDto"},"arviointi":{"$ref":"#/components/schemas/TekstiOsaDto"},"tyotavat":{"$ref":"#/components/schemas/TekstiOsaDto"},"ohjaus":{"$ref":"#/components/schemas/TekstiOsaDto"},"sisaltoalueinfo":{"$ref":"#/components/schemas/TekstiOsaDto"},"pakollinenKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"syventavaKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"soveltavaKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"kielikasvatus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"type":"array","items":{"$ref":"#/components/schemas/OpetuksenTavoiteDto"}},"sisaltoalueet":{"type":"array","items":{"$ref":"#/components/schemas/KeskeinenSisaltoalueDto"}},"kurssit":{"type":"array","items":{"$ref":"#/components/schemas/AIPEKurssiDto"}},"vaihe":{"$ref":"#/components/schemas/AIPEVaiheSuppeaDto"},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"AIPEVaiheDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"siirtymaEdellisesta":{"$ref":"#/components/schemas/TekstiOsaDto"},"tehtava":{"$ref":"#/components/schemas/TekstiOsaDto"},"siirtymaSeuraavaan":{"$ref":"#/components/schemas/TekstiOsaDto"},"laajaalainenOsaaminen":{"$ref":"#/components/schemas/TekstiOsaDto"},"paikallisestiPaatettavatAsiat":{"$ref":"#/components/schemas/TekstiOsaDto"},"opetuksenKohdealueet":{"type":"array","items":{"$ref":"#/components/schemas/OpetuksenKohdealueDto"}},"oppiaineet":{"type":"array","items":{"$ref":"#/components/schemas/AIPEOppiaineLaajaDto"}},"vapaatTekstit":{"type":"array","items":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"}},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"AIPEVaiheSuppeaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"nimi":{"type":"object","additionalProperties":{"type":"string"}}}},"AbstractRakenneOsaDto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"vieras":{"$ref":"#/components/schemas/KoodiDto"},"tunniste":{"type":"string","format":"uuid"},"pakollinen":{"type":"boolean"}}},"AihekokonaisuudetLaajaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU"]},"tunniste":{"type":"string","enum":["NORMAALI","LAAJAALAINENOSAAMINEN","RAKENNE"]},"valmis":{"type":"boolean"},"kaannettava":{"type":"boolean"},"uuidTunniste":{"type":"string","format":"uuid"},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"yleiskuvaus":{"type":"object","additionalProperties":{"type":"string"}},"aihekokonaisuudet":{"type":"array","items":{"$ref":"#/components/schemas/AihekokonaisuusDto"}},"osanTyyppi":{"type":"string"}}},"AihekokonaisuusDto":{"type":"object","properties":{"tunniste":{"type":"string","format":"uuid"},"id":{"type":"integer","format":"int64"},"jnro":{"type":"integer","format":"int64"},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"yleiskuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"DigitaalisenOsaamisenSisaltoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]}}},"EsiopetuksenPerusteenSisaltoDto":{"type":"object","properties":{"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]}}},"KeskeinenSisaltoalueDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"Koko":{"type":"object","properties":{"minimi":{"type":"integer","format":"int32"},"maksimi":{"type":"integer","format":"int32"}}},"KotoKielitaitotasoDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"nimiKoodi":{"$ref":"#/components/schemas/KoodiDto"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"taitotasot":{"type":"array","items":{"$ref":"#/components/schemas/KotoTaitotasoDto"}}}}]},"KotoLaajaAlainenOsaaminenDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"yleiskuvaus":{"type":"object","additionalProperties":{"type":"string"}},"osaamisAlueet":{"type":"array","items":{"$ref":"#/components/schemas/KotoLaajaAlaisenOsaamisenAlueDto"}}}}]},"KotoLaajaAlaisenOsaamisenAlueDto":{"type":"object","properties":{"koodi":{"$ref":"#/components/schemas/KoodiDto"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"KotoOpintoDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"nimiKoodi":{"$ref":"#/components/schemas/KoodiDto"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"taitotasot":{"type":"array","items":{"$ref":"#/components/schemas/KotoTaitotasoDto"}}}}]},"KotoTaitotasoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"$ref":"#/components/schemas/KoodiDto"},"tavoitteet":{"type":"object","additionalProperties":{"type":"string"}},"kielenkayttotarkoitus":{"type":"object","additionalProperties":{"type":"string"}},"aihealueet":{"type":"object","additionalProperties":{"type":"string"}},"viestintataidot":{"type":"object","additionalProperties":{"type":"string"}},"opiskelijantaidot":{"type":"object","additionalProperties":{"type":"string"}},"opiskelijanTyoelamataidot":{"type":"object","additionalProperties":{"type":"string"}},"tyoelamaOpintoMinimiLaajuus":{"type":"integer","format":"int32"},"tyoelamaOpintoMaksimiLaajuus":{"type":"integer","format":"int32"},"suullinenVastaanottaminen":{"type":"object","additionalProperties":{"type":"string"}},"suullinenTuottaminen":{"type":"object","additionalProperties":{"type":"string"}},"vuorovaikutusJaMediaatio":{"type":"object","additionalProperties":{"type":"string"}}}},"KoulutuksenOsaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU"]},"tunniste":{"type":"string","enum":["NORMAALI","LAAJAALAINENOSAAMINEN","RAKENNE"]},"valmis":{"type":"boolean"},"kaannettava":{"type":"boolean"},"nimiKoodi":{"$ref":"#/components/schemas/KoodiDto"},"laajuusMinimi":{"type":"integer","format":"int32"},"laajuusMaksimi":{"type":"integer","format":"int32"},"koulutusOsanKoulutustyyppi":{"type":"string","enum":["TUTKINTOKOULUTUKSEENVALMENTAVA","PERUSOPETUS","LUKIOKOULUTUS","AMMATILLINENKOULUTUS"]},"koulutusOsanTyyppi":{"type":"string","enum":["YHTEINEN","VALINNAINEN"]},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteenKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"keskeinenSisalto":{"type":"object","additionalProperties":{"type":"string"}},"laajaAlaisenOsaamisenKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"arvioinninKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"viiteId":{"type":"integer","format":"int64"},"osanTyyppi":{"type":"string"}}},"Laaja":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"perusteenOsa":{"oneOf":[{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]},"lapset":{"type":"array","items":{"$ref":"#/components/schemas/Laaja"}},"_perusteenOsa":{"type":"object"}}},"LaajaalainenOsaaminenDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"muokattu":{"type":"string","format":"date-time"},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"Laajuus":{"type":"object","properties":{"minimi":{"type":"integer","format":"int32"},"maksimi":{"type":"integer","format":"int32"},"yksikko":{"type":"string","enum":["OPINTOVIIKKO","OSAAMISPISTE","KURSSI","OPINTOPISTE"]}}},"LiiteBaseDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"nimi":{"type":"string"}}},"LokalisoitavaOsaDto":{"type":"object","properties":{"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"teksti":{"type":"object","additionalProperties":{"type":"string"}}}},"Lops2019ArviointiDto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"Lops2019LaajaAlainenOsaaminenDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"Lops2019LaajaAlainenOsaaminenKokonaisuusDto":{"type":"object","properties":{"laajaAlaisetOsaamiset":{"type":"array","items":{"$ref":"#/components/schemas/Lops2019LaajaAlainenOsaaminenDto"}}}},"Lops2019ModuuliDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"pakollinen":{"type":"boolean"},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"laajuus":{"type":"number"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"$ref":"#/components/schemas/Lops2019ModuuliTavoiteDto"},"sisallot":{"type":"array","items":{"$ref":"#/components/schemas/Lops2019ModuuliSisaltoDto"}},"oppiaine":{"type":"object"},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"Lops2019ModuuliSisaltoDto":{"type":"object","properties":{"kohde":{"type":"object","additionalProperties":{"type":"string"}},"sisallot":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}},"Lops2019ModuuliTavoiteDto":{"type":"object","properties":{"kohde":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}},"Lops2019OpiskeluymparistoTyotavatDto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"Lops2019OppiaineKaikkiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"oppiaine":{"type":"object"},"arviointi":{"$ref":"#/components/schemas/Lops2019ArviointiDto"},"tehtava":{"$ref":"#/components/schemas/Lops2019TehtavaDto"},"opiskeluymparistoTyotavat":{"$ref":"#/components/schemas/Lops2019OpiskeluymparistoTyotavatDto"},"laajaAlaisetOsaamiset":{"$ref":"#/components/schemas/Lops2019OppiaineLaajaAlainenOsaaminenDto"},"tavoitteet":{"$ref":"#/components/schemas/Lops2019OppiaineTavoitteetDto"},"pakollisetModuulitKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"valinnaisetModuulitKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"moduulit":{"type":"array","items":{"$ref":"#/components/schemas/Lops2019ModuuliDto"}},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"Lops2019OppiaineLaajaAlainenOsaaminenDto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"Lops2019OppiaineTavoitealueDto":{"type":"object","properties":{"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kohde":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}},"Lops2019OppiaineTavoitteetDto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitealueet":{"type":"array","items":{"$ref":"#/components/schemas/Lops2019OppiaineTavoitealueDto"}}}},"Lops2019SisaltoDto":{"type":"object","properties":{"laajaAlainenOsaaminen":{"$ref":"#/components/schemas/Lops2019LaajaAlainenOsaaminenKokonaisuusDto"},"oppiaineet":{"type":"array","items":{"$ref":"#/components/schemas/Lops2019OppiaineKaikkiDto"}},"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]}}},"Lops2019TehtavaDto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"LukioOpetussuunnitelmaRakenneLaajaDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"}]},"LukioOppiaineOppimaaraNodeDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"parentId":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"jarjestys":{"type":"integer","format":"int32"},"koodiArvo":{"type":"string"},"koodiUri":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koosteinen":{"type":"boolean"},"abstrakti":{"type":"boolean"},"pakollinenKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"syventavaKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"soveltavaKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"$ref":"#/components/schemas/LokalisoitavaOsaDto"},"arviointi":{"$ref":"#/components/schemas/LokalisoitavaOsaDto"},"tehtava":{"$ref":"#/components/schemas/LokalisoitavaOsaDto"},"kurssit":{"type":"array","items":{"$ref":"#/components/schemas/LukiokurssiJulkisetTiedotDto"}}}},"LukioOppiainePuuDto":{"type":"object","properties":{"perusteId":{"type":"integer","format":"int64"},"oppiaineet":{"type":"array","items":{"$ref":"#/components/schemas/LukioOppiaineOppimaaraNodeDto"}}}},"LukiokoulutuksenPerusteenSisaltoDto":{"type":"object","properties":{"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]},"aihekokonaisuudet":{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},"opetuksenYleisetTavoitteet":{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},"rakenne":{"$ref":"#/components/schemas/LukioOppiainePuuDto"}}},"LukiokurssiJulkisetTiedotDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"oppiaineId":{"type":"integer","format":"int64"},"jarjestys":{"type":"integer","format":"int32"},"tunniste":{"type":"string","format":"uuid"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"lokalisoituKoodi":{"type":"object","additionalProperties":{"type":"string"}},"tyyppi":{"type":"string","enum":["PAKOLLINEN","VALTAKUNNALLINEN_SYVENTAVA","VALTAKUNNALLINEN_SOVELTAVA"]},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"$ref":"#/components/schemas/LokalisoitavaOsaDto"},"keskeisetSisallot":{"$ref":"#/components/schemas/LokalisoitavaOsaDto"},"tavoitteetJaKeskeisetSisallot":{"$ref":"#/components/schemas/LokalisoitavaOsaDto"}}},"MaarayskirjeDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"url":{"type":"object","additionalProperties":{"type":"string"}},"liitteet":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/LiiteBaseDto"}}}},"MuodostumisSaantoDto":{"type":"object","properties":{"laajuus":{"$ref":"#/components/schemas/Laajuus"},"koko":{"$ref":"#/components/schemas/Koko"}}},"MuutosmaaraysDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"url":{"type":"object","additionalProperties":{"type":"string"}},"liitteet":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/LiiteBaseDto"}}}},"OpasSisaltoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]},"oppaanKiinnitetytKoodit":{"type":"array","items":{"$ref":"#/components/schemas/OppaanKiinnitettyKoodiDto"}}}},"OpetuksenKohdealueDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"OpetuksenTavoiteDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"tavoite":{"type":"object","additionalProperties":{"type":"string"}},"sisaltoalueet":{"uniqueItems":true,"type":"array","items":{"type":"object"}},"laajattavoitteet":{"uniqueItems":true,"type":"array","items":{"type":"object"}},"kohdealueet":{"uniqueItems":true,"type":"array","items":{"type":"object"}},"arvioinninkohteet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/TavoitteenArviointiDto"}},"arvioinninOtsikko":{"type":"object","additionalProperties":{"type":"string"}},"arvioinninKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"arvioinninOsaamisenKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteistaJohdetutOppimisenTavoitteet":{"type":"object","additionalProperties":{"type":"string"}},"vapaaTeksti":{"type":"object","additionalProperties":{"type":"string"}},"oppiaineenTavoitteenOpetuksenTavoitteet":{"type":"array","items":{"$ref":"#/components/schemas/OppiaineenTavoitteenOpetuksenTavoiteDto"}}}},"OpetuksenYleisetTavoitteetLaajaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU"]},"tunniste":{"type":"string","enum":["NORMAALI","LAAJAALAINENOSAAMINEN","RAKENNE"]},"valmis":{"type":"boolean"},"kaannettava":{"type":"boolean"},"uuidTunniste":{"type":"string","format":"uuid"},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"osanTyyppi":{"type":"string"}}},"OpintokokonaisuusDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"nimiKoodi":{"$ref":"#/components/schemas/KoodiDto"},"minimilaajuus":{"type":"integer","format":"int32"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"opetuksenTavoiteOtsikko":{"type":"object","additionalProperties":{"type":"string"}},"opetuksenTavoitteet":{"type":"array","items":{"$ref":"#/components/schemas/KoodiDto"}},"arvioinnit":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}}]},"OppaanKiinnitettyKoodiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"kiinnitettyKoodiTyyppi":{"type":"string","enum":["TUTKINNONOSA","OSAAMISALA","OPPIAINE","OPINTOKOKONAISUUS","KOULUTUKSENOSA"]},"koodi":{"$ref":"#/components/schemas/KoodiDto"}}},"OppiaineDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"oppiaine":{"type":"object"},"koosteinen":{"type":"boolean"},"abstrakti":{"type":"boolean"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"jnro":{"type":"integer","format":"int64"},"muokattu":{"type":"string","format":"date-time"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"tehtava":{"$ref":"#/components/schemas/TekstiOsaDto"},"tavoitteet":{"$ref":"#/components/schemas/TekstiOsaDto"},"arviointi":{"$ref":"#/components/schemas/TekstiOsaDto"},"pakollinenKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"syventavaKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"soveltavaKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"partial":{"type":"boolean"},"oppimaarat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OppiaineSuppeaDto"}},"kohdealueet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OpetuksenKohdealueDto"}},"vuosiluokkakokonaisuudet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OppiaineenVuosiluokkaKokonaisuusDto"}},"vapaatTekstit":{"type":"array","items":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"}}}},"OppiaineKevytDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"nimi":{"type":"object","additionalProperties":{"type":"string"}}}},"OppiaineLaajaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"oppiaine":{"type":"object"},"koosteinen":{"type":"boolean"},"abstrakti":{"type":"boolean"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"jnro":{"type":"integer","format":"int64"},"muokattu":{"type":"string","format":"date-time"},"tehtava":{"$ref":"#/components/schemas/TekstiOsaDto"},"vapaatTekstit":{"type":"array","items":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"}},"oppimaarat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OppiaineDto"}},"kohdealueet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OpetuksenKohdealueDto"}},"vuosiluokkakokonaisuudet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OppiaineenVuosiluokkaKokonaisuusDto"}},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"OppiaineSuppeaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"oppiaine":{"type":"object"},"koosteinen":{"type":"boolean"},"abstrakti":{"type":"boolean"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"jnro":{"type":"integer","format":"int64"},"muokattu":{"type":"string","format":"date-time"},"koodiArvo":{"type":"string"},"vuosiluokkakokonaisuudet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OppiaineenVuosiluokkaKokonaisuusSuppeaDto"}},"pakollinenKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"syventavaKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"soveltavaKurssiKuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"OppiaineenTavoitteenOpetuksenTavoiteDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tavoite":{"type":"object","additionalProperties":{"type":"string"}}}},"OppiaineenVuosiluokkaKokonaisuusDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"vuosiluokkaKokonaisuus":{"type":"object"},"tehtava":{"$ref":"#/components/schemas/TekstiOsaDto"},"tyotavat":{"$ref":"#/components/schemas/TekstiOsaDto"},"ohjaus":{"$ref":"#/components/schemas/TekstiOsaDto"},"arviointi":{"$ref":"#/components/schemas/TekstiOsaDto"},"sisaltoalueinfo":{"$ref":"#/components/schemas/TekstiOsaDto"},"opetuksenTavoitteetOtsikko":{"type":"object","additionalProperties":{"type":"string"}},"vapaaTeksti":{"type":"object","additionalProperties":{"type":"string"}},"tavoitteet":{"type":"array","items":{"$ref":"#/components/schemas/OpetuksenTavoiteDto"}},"sisaltoalueet":{"type":"array","items":{"$ref":"#/components/schemas/KeskeinenSisaltoalueDto"}},"vapaatTekstit":{"type":"array","items":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"}},"oppiaine":{"$ref":"#/components/schemas/OppiaineKevytDto"},"vuosiluokat":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["VUOSILUOKKA_1","VUOSILUOKKA_2","VUOSILUOKKA_3","VUOSILUOKKA_4","VUOSILUOKKA_5","VUOSILUOKKA_6","VUOSILUOKKA_7","VUOSILUOKKA_8","VUOSILUOKKA_9"]}},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"OppiaineenVuosiluokkaKokonaisuusSuppeaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"vuosiluokkaKokonaisuus":{"type":"object"}}},"OsaAlueDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tyyppi":{"type":"string","description":"Määrittää osaamisalueiden tyypit (vanha vai uusi)","enum":["OSAALUE2014","OSAALUE2020"]},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"kielikoodi":{"$ref":"#/components/schemas/KoodiDto"},"valmaTelmaSisalto":{"$ref":"#/components/schemas/ValmaTelmaSisaltoDto"}}},"OsaamisalaDto":{"type":"object","properties":{"nimi":{"type":"object","additionalProperties":{"type":"string"}},"osaamisalakoodiArvo":{"type":"string"},"osaamisalakoodiUri":{"type":"string"}}},"OsaamiskokonaisuusDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"keskeinenKasitteisto":{"type":"object","additionalProperties":{"type":"string"}},"kasitteistot":{"type":"array","items":{"$ref":"#/components/schemas/OsaamiskokonaisuusKasitteistoDto"}}}}]},"OsaamiskokonaisuusKasitteistoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"taso":{"type":"string","enum":["VARHAISKASVATUS","ESIOPETUS","VUOSILUOKKA_12","VUOSILUOKKA_3456","VUOSILUOKKA_789"]},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"OsaamiskokonaisuusOsaAlueDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"tasokuvaukset":{"type":"array","items":{"$ref":"#/components/schemas/OsaamiskokonaisuusOsaAlueTasoKuvausDto"}}}},"OsaamiskokonaisuusOsaAlueTasoKuvausDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"taso":{"type":"string","enum":["VARHAISKASVATUS","ESIOPETUS","VUOSILUOKKA_12","VUOSILUOKKA_3456","VUOSILUOKKA_789"]},"edelleenKehittyvatOsaamiset":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"osaamiset":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}},"edistynytOsaaminenKuvaukset":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}},"OsaamiskokonaisuusPaaAlueDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"osaAlueet":{"type":"array","items":{"$ref":"#/components/schemas/OsaamiskokonaisuusOsaAlueDto"}}}}]},"PerusopetuksenPerusteenSisaltoDto":{"type":"object","properties":{"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]},"laajaalaisetosaamiset":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/LaajaalainenOsaaminenDto"}},"oppiaineet":{"type":"array","items":{"$ref":"#/components/schemas/OppiaineLaajaDto"}},"vuosiluokkakokonaisuudet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/VuosiluokkaKokonaisuusDto"}}}},"PerusteAikatauluDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"peruste":{"$ref":"#/components/schemas/PerusteKevytDto"},"tavoite":{"type":"object","additionalProperties":{"type":"string"}},"tapahtuma":{"type":"string","enum":["LUOMINEN","LAUSUNTOKIERROS","JOHTOKUNNANKASITTELY","ARVIOITUJULKAISUPAIVA","TAVOITE","JULKAISU"]},"tapahtumapaiva":{"type":"string","format":"date-time"},"julkinen":{"type":"boolean"}},"description":"Perusteprosessin päivämäärät"},"PerusteKaikkiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"globalVersion":{"$ref":"#/components/schemas/PerusteVersionDto"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koulutustyyppi":{"type":"string"},"toteutus":{"type":"string","description":"Perusteen sisäisen rakenteen toteutuksen ilmaiseva sisältö. Esimerkiksi vanhan ja uuden lukion toteutus (LOPS vs LOPS2019)","enum":["YKSINKERTAINEN","PERUSOPETUS","LOPS","AMMATILLINEN","TPO","LOPS2019","VAPAASIVISTYSTYO","TUTKINTOONVALMENTAVA","KOTOUTUMISKOULUTUS"]},"koulutukset":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/KoulutusDto"}},"kielet":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["FI","SV","SE","RU","EN"]}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"maarayskirje":{"$ref":"#/components/schemas/MaarayskirjeDto"},"muutosmaaraykset":{"type":"array","items":{"$ref":"#/components/schemas/MuutosmaaraysDto"}},"diaarinumero":{"type":"string"},"voimassaoloAlkaa":{"type":"string","description":"Perusteen alkuperäinen voimaantulon alkamispäivä.","format":"date-time"},"siirtymaPaattyy":{"type":"string","description":"Voimassaolon loppumisen jälkeinen perusteen päättymispäivämäärä.","format":"date-time"},"voimassaoloLoppuu":{"type":"string","format":"date-time"},"paatospvm":{"type":"string","description":"Perusteen määräyksen päätöspäivämäärä","format":"date-time"},"viimeisinJulkaisuAika":{"type":"string","format":"date-time"},"luotu":{"type":"string","format":"date-time"},"tila":{"type":"string","description":"Perusteen sisäinen tila. Ei enää merkityksellinen julkaisujen käytönoton jälkeen","enum":["LUONNOS","VALMIS","POISTETTU"]},"tyyppi":{"type":"string","enum":["NORMAALI","OPAS","AMOSAA_YHTEINEN","POHJA","DIGITAALINEN_OSAAMINEN"]},"koulutusvienti":{"type":"boolean","description":"EU- ja ETA-maiden koulutusvientikokeiluun tarkoitettu peruste"},"korvattavatDiaarinumerot":{"uniqueItems":true,"type":"array","description":"Perusteen vanhemmat määräykset. Eivät välttämättä ole toteutettu ePerusteisiin","items":{"type":"string","description":"Perusteen vanhemmat määräykset. Eivät välttämättä ole toteutettu ePerusteisiin"}},"osaamisalat":{"uniqueItems":true,"type":"array","description":"Perusteeseen liittyvät osaamisalakoodit","items":{"$ref":"#/components/schemas/KoodiDto"}},"tyotehtavatJoissaVoiToimia":{"type":"object","additionalProperties":{"type":"string","description":"kv-liitteen lisätieto"},"description":"kv-liitteen lisätieto"},"suorittaneenOsaaminen":{"type":"object","additionalProperties":{"type":"string","description":"kv-liitteen lisätieto"},"description":"kv-liitteen lisätieto"},"tutkintonimikkeet":{"type":"array","items":{"$ref":"#/components/schemas/TutkintonimikeKoodiDto"}},"oppaanPerusteet":{"uniqueItems":true,"type":"array","description":"Perusteet joihin opas liittyy","items":{"$ref":"#/components/schemas/PerusteKevytDto"}},"oppaanKoulutustyypit":{"uniqueItems":true,"type":"array","description":"Koulutustyypit joihin opas liittyy","items":{"type":"string","description":"Koulutustyypit joihin opas liittyy","enum":["PERUSTUTKINTO","LUKIOKOULUTUS","TELMA","LISAOPETUS","AMMATTITUTKINTO","ERIKOISAMMATTITUTKINTO","AIKUISTENLUKIOKOULUTUS","ESIOPETUS","PERUSOPETUS","AIKUISTENPERUSOPETUS","VALMA","VARHAISKASVATUS","PERUSOPETUSVALMISTAVA","LUKIOVALMISTAVAKOULUTUS","TPO","VAPAASIVISTYSTYO","MAAHANMUUTTAJIENKOTOUTUMISKOULUTUS","VAPAASIVISTYSTYOLUKUTAITO","TUTKINTOONVALMENTAVA","MUU_KOULUTUS"]}},"perusteenAikataulut":{"uniqueItems":true,"type":"array","description":"Perusteprosessin päivämäärät","items":{"$ref":"#/components/schemas/PerusteAikatauluDto"}},"poikkeamismaaraysTarkennus":{"type":"object","additionalProperties":{"type":"string"}},"poikkeamismaaraysTyyppi":{"type":"string","enum":["EI_TARVITA_OHJETTA","EI_VOI_POIKETA","KOULUTUSVIENTILIITE"]},"opasTyyppi":{"type":"string","enum":["NORMAALI","TIETOAPALVELUSTA"]},"tietoapalvelustaKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"suoritustavat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/SuoritustapaLaajaDto"}},"tutkinnonOsat":{"type":"array","items":{"$ref":"#/components/schemas/TutkinnonOsaKaikkiDto"}},"koulutuksenOsat":{"type":"array","items":{"$ref":"#/components/schemas/KoulutuksenOsaDto"}},"muutosmaarayksenVoimassaoloAlkaa":{"type":"string","description":"Perusteen viimeisimmän muutosmääräyksen voimaantulon alkamispäivä.","format":"date-time"},"perusopetus":{"$ref":"#/components/schemas/PerusopetuksenPerusteenSisaltoDto"},"lukiokoulutus":{"$ref":"#/components/schemas/LukiokoulutuksenPerusteenSisaltoDto"},"lops2019":{"$ref":"#/components/schemas/Lops2019SisaltoDto"},"esiopetus":{"$ref":"#/components/schemas/EsiopetuksenPerusteenSisaltoDto"},"aipe":{"$ref":"#/components/schemas/AIPEOpetuksenSisaltoDto"},"tpo":{"$ref":"#/components/schemas/TPOOpetuksenSisaltoDto"},"vapaasivistystyo":{"$ref":"#/components/schemas/VapaasivistystyoSisaltoDto"},"tutkintoonvalmentava":{"$ref":"#/components/schemas/TutkintoonvalmentavaSisaltoDto"},"opas":{"$ref":"#/components/schemas/OpasSisaltoDto"},"digitaalinenosaaminen":{"$ref":"#/components/schemas/DigitaalisenOsaamisenSisaltoDto"}}},"PerusteKevytDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU"]},"tyyppi":{"type":"string","enum":["NORMAALI","OPAS","AMOSAA_YHTEINEN","POHJA","DIGITAALINEN_OSAAMINEN"]},"koulutustyyppi":{"type":"string"},"esikatseltavissa":{"type":"boolean"},"voimassaoloAlkaa":{"type":"string","format":"date-time"},"voimassaoloLoppuu":{"type":"string","format":"date-time"},"perusteprojekti":{"type":"object"},"suoritustavat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/SuoritustapaDto"}}}},"PerusteVersionDto":{"type":"object","properties":{"aikaleima":{"type":"string","format":"date-time"}},"description":"Perusteen sisältöjen viimeisin päivitysaika"},"RakenneModuuliDto":{"type":"object","properties":{"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"vieras":{"$ref":"#/components/schemas/KoodiDto"},"tunniste":{"type":"string","format":"uuid"},"pakollinen":{"type":"boolean"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"rooli":{"type":"string","enum":["NORMAALI","VIRTUAALINEN","OSAAMISALA","TUTKINTONIMIKE","VIERAS"]},"muodostumisSaanto":{"$ref":"#/components/schemas/MuodostumisSaantoDto"},"osaamisala":{"$ref":"#/components/schemas/OsaamisalaDto"},"tutkintonimike":{"$ref":"#/components/schemas/KoodiDto"},"osat":{"type":"array","items":{"$ref":"#/components/schemas/AbstractRakenneOsaDto"}},"versioId":{"type":"integer","format":"int32"},"versionId":{"type":"integer","format":"int32","writeOnly":true}}},"SuoritustapaLaajaDto":{"type":"object","properties":{"suoritustapakoodi":{"type":"string","enum":["OPS","NAYTTO","REFORMI","PERUSOPETUS","LISAOPETUS","VARHAISKASVATUS","OPAS","ESIOPETUS","AIPE","TPO","LUKIOKOULUTUS","LUKIOKOULUTUS2019","VAPAASIVISTYSTYO"]},"laajuusYksikko":{"type":"string","enum":["OPINTOVIIKKO","OSAAMISPISTE","KURSSI","OPINTOPISTE"]},"rakenne":{"$ref":"#/components/schemas/RakenneModuuliDto"},"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"},"tutkinnonOsaViitteet":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/TutkinnonOsaViiteSuppeaDto"}}}},"TPOOpetuksenSisaltoDto":{"type":"object","properties":{"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]}}},"TaiteenalaDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"teksti":{"type":"object","additionalProperties":{"type":"string"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"kasvatus":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"},"yhteisetOpinnot":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"},"teemaopinnot":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"},"aikuistenOpetus":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"},"tyotavatOpetuksessa":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"},"oppimisenArviointiOpetuksessa":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"},"vapaatTekstit":{"type":"array","items":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"}},"viiteId":{"type":"integer","format":"int64"},"taiteenOsat":{"type":"array","items":{"$ref":"#/components/schemas/TaiteenalaOsaViiteDto"}}}}]},"TaiteenalaOsaViiteDto":{"type":"object","properties":{"taiteenOsa":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"teksti":{"type":"object","additionalProperties":{"type":"string"}},"jnro":{"type":"integer","format":"int32"},"taiteenalaId":{"type":"integer","format":"int64"},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"TavoiteAlueDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tavoiteAlueTyyppi":{"type":"string","enum":["OTSIKKO","TAVOITESISALTOALUE"]},"otsikko":{"$ref":"#/components/schemas/KoodiDto"},"tavoitteet":{"type":"array","items":{"$ref":"#/components/schemas/KoodiDto"}},"keskeisetSisaltoalueet":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}},"TavoitesisaltoalueDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"nimiKoodi":{"$ref":"#/components/schemas/KoodiDto"},"teksti":{"type":"object","additionalProperties":{"type":"string"}},"tavoitealueet":{"type":"array","items":{"$ref":"#/components/schemas/TavoiteAlueDto"}}}}]},"TavoitteenArviointiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"arvioinninKohde":{"type":"object","additionalProperties":{"type":"string"}},"hyvanOsaamisenKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"osaamisenKuvaus":{"type":"object","additionalProperties":{"type":"string"}},"arvosana":{"type":"integer","format":"int32"},"opetuksenTavoitteet":{"uniqueItems":true,"type":"array","items":{"type":"object"}}}},"TekstiKappaleDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"teksti":{"type":"object","additionalProperties":{"type":"string"}},"osaamisala":{"$ref":"#/components/schemas/KoodiDto"},"tutkintonimike":{"$ref":"#/components/schemas/KoodiDto"},"koodit":{"type":"array","items":{"$ref":"#/components/schemas/KoodiDto"}},"liite":{"type":"boolean"}}}]},"TekstiOsaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"otsikko":{"type":"object","additionalProperties":{"type":"string"}},"teksti":{"type":"object","additionalProperties":{"type":"string"}}}},"TutkinnonOsaDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"tavoitteet":{"type":"object","additionalProperties":{"type":"string"}},"arviointi":{"$ref":"#/components/schemas/ArviointiDto"},"ammattitaitovaatimuksetLista":{"type":"array","items":{"$ref":"#/components/schemas/AmmattitaitovaatimusKohdealueetDto"}},"ammattitaitovaatimukset":{"type":"object","additionalProperties":{"type":"string"}},"ammattitaidonOsoittamistavat":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"koodi":{"$ref":"#/components/schemas/KoodiDto"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"osaAlueet":{"type":"array","items":{"$ref":"#/components/schemas/OsaAlueDto"}},"vapaatTekstit":{"type":"array","items":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"}},"tyyppi":{"type":"string","enum":["NORMAALI","TUTKE2","REFORMI_TUTKE2"]},"valmaTelmaSisalto":{"$ref":"#/components/schemas/ValmaTelmaSisaltoDto"},"ammattitaitovaatimukset2019":{"$ref":"#/components/schemas/Ammattitaitovaatimukset2019Dto"},"geneerinenArviointiasteikko":{"type":"object"},"alkuperainenPeruste":{"$ref":"#/components/schemas/PerusteKevytDto"}}}]},"TutkinnonOsaViiteSuppeaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"laajuus":{"type":"number"},"laajuusMaksimi":{"type":"number"},"jarjestys":{"type":"integer","format":"int32"},"tutkinnonOsa":{"type":"object"}}},"TutkintoonvalmentavaSisaltoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]}}},"TuvaLaajaAlainenOsaaminenDto":{"type":"object","allOf":[{"$ref":"#/components/schemas/Laaja"},{"type":"object","properties":{"nimiKoodi":{"$ref":"#/components/schemas/KoodiDto"},"teksti":{"type":"object","additionalProperties":{"type":"string"}},"liite":{"type":"boolean"}}}]},"VapaasivistystyoSisaltoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"sisalto":{"oneOf":[{"$ref":"#/components/schemas/Laaja"},{"$ref":"#/components/schemas/AihekokonaisuudetLaajaDto"},{"$ref":"#/components/schemas/KotoKielitaitotasoDto"},{"$ref":"#/components/schemas/KotoLaajaAlainenOsaaminenDto"},{"$ref":"#/components/schemas/KotoOpintoDto"},{"$ref":"#/components/schemas/KoulutuksenOsaDto"},{"$ref":"#/components/schemas/LukioOpetussuunnitelmaRakenneLaajaDto"},{"$ref":"#/components/schemas/OpetuksenYleisetTavoitteetLaajaDto"},{"$ref":"#/components/schemas/OpintokokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusDto"},{"$ref":"#/components/schemas/OsaamiskokonaisuusPaaAlueDto"},{"$ref":"#/components/schemas/TaiteenalaDto"},{"$ref":"#/components/schemas/TavoitesisaltoalueDto"},{"$ref":"#/components/schemas/TekstiKappaleDto"},{"$ref":"#/components/schemas/TutkinnonOsaDto"},{"$ref":"#/components/schemas/TuvaLaajaAlainenOsaaminenDto"}]},"laajuus":{"type":"integer","format":"int32"}}},"VuosiluokkaKokonaisuudenLaajaalainenOsaaminenDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"laajaalainenOsaaminen":{"type":"object"},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}}}},"VuosiluokkaKokonaisuusDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tunniste":{"type":"string","format":"uuid"},"vuosiluokat":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["VUOSILUOKKA_1","VUOSILUOKKA_2","VUOSILUOKKA_3","VUOSILUOKKA_4","VUOSILUOKKA_5","VUOSILUOKKA_6","VUOSILUOKKA_7","VUOSILUOKKA_8","VUOSILUOKKA_9"]}},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"siirtymaEdellisesta":{"$ref":"#/components/schemas/TekstiOsaDto"},"tehtava":{"$ref":"#/components/schemas/TekstiOsaDto"},"siirtymaSeuraavaan":{"$ref":"#/components/schemas/TekstiOsaDto"},"laajaalainenOsaaminen":{"$ref":"#/components/schemas/TekstiOsaDto"},"laajaalaisetOsaamiset":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/VuosiluokkaKokonaisuudenLaajaalainenOsaaminenDto"}},"paikallisestiPaatettavatAsiat":{"$ref":"#/components/schemas/TekstiOsaDto"},"vapaatTekstit":{"type":"array","items":{"$ref":"#/components/schemas/KevytTekstiKappaleDto"}},"perusteenOsa":{"$ref":"#/components/schemas/PerusteRakenneOsa"}}},"PerusteenOsaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU"]},"tunniste":{"type":"string","enum":["NORMAALI","LAAJAALAINENOSAAMINEN","RAKENNE"]},"valmis":{"type":"boolean"},"kaannettava":{"type":"boolean"}}},"OsaamismerkkiArviointikriteeriDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"arviointikriteeri":{"type":"object","additionalProperties":{"type":"string"}}}},"OsaamismerkkiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LAADINTA","JULKAISTU"]},"kategoria":{"$ref":"#/components/schemas/OsaamismerkkiKategoriaDto"},"koodiUri":{"type":"string"},"osaamistavoitteet":{"type":"array","items":{"$ref":"#/components/schemas/OsaamismerkkiOsaamistavoiteDto"}},"arviointikriteerit":{"type":"array","items":{"$ref":"#/components/schemas/OsaamismerkkiArviointikriteeriDto"}},"voimassaoloAlkaa":{"type":"string","format":"date-time"},"voimassaoloLoppuu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"}}},"OsaamismerkkiKategoriaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"liite":{"$ref":"#/components/schemas/OsaamismerkkiKategoriaLiiteDto"},"muokattu":{"type":"string","format":"date-time"}}},"OsaamismerkkiKategoriaLiiteDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"nimi":{"type":"string"},"mime":{"type":"string"},"binarydata":{"type":"string"}}},"OsaamismerkkiOsaamistavoiteDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"osaamistavoite":{"type":"object","additionalProperties":{"type":"string"}}}},"OsaamismerkkiExternalDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LAADINTA","JULKAISTU"]},"kategoria":{"$ref":"#/components/schemas/OsaamismerkkiKategoriaDto"},"koodiUri":{"type":"string"},"osaamistavoitteet":{"type":"array","items":{"$ref":"#/components/schemas/OsaamismerkkiOsaamistavoiteDto"}},"arviointikriteerit":{"type":"array","items":{"$ref":"#/components/schemas/OsaamismerkkiArviointikriteeriDto"}},"voimassaoloAlkaa":{"type":"string","format":"date-time"},"voimassaoloLoppuu":{"type":"string","format":"date-time"}}}}}}