body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.ellipsis-no-wrap{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
}

.alleviivaus:hover {
    text-decoration:underline;
}

.raita {
    background-color: #f9f9f9;
}

.no-round {
  border-radius: 0px;
}

.osatutkintoid {
  width: 80px;
  height: 26px;
}

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}
