.tree-group {
  min-height: 16px;
}

.group-placeholder {
  background: #555;
  padding: 4px;
  border-radius: 3px;
  margin: 12px;
  list-style-type: none;
}

.grab-cursor {
  cursor: move;
}

.skratchpad {
  min-height: 20px;
}

.skratchpadlist {
  width: 240px;
  height: 400px;
  background-color: #ffffff;
  float: right;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 3px 3px 6px #555;
}

.skratchpadlist h3 {
  padding: 0px;
  margin: 8px;
  text-align: center;
}

.skratchpad-items {
  overflow-y: auto;
  height: 270px;
}

.skratchpad-footer {
  margin-top: 4px;
}

.skratchpad-list {
  min-height: 10px;
}

.skratchpad-item {
  list-style-type:none;
  margin: 5px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 2px;
  background-color: #eeeeee;
  cursor: pointer;
}

.skratchpad-item-virhe {
  border: 1px solid #ab8c91;
  background-color: #f2dede;
}

.skratchpad-btn {
  width: 228px;
  margin: 5px;
  padding: 2px;
  margin-top: 1px;
}

.btn-sktratchpad-new {
  width: 240px;
}

.muodostumisvivut {
  margin-bottom: 16px;
}

.tree {
  min-width: 400px;
  min-height: 20px;
  padding: 0;
  margin-bottom: 20px;
  float: left;
}

.tree li {
    list-style-type:none;
    margin: 0px;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}

.tree-item {
  cursor: pointer;
}

.tree .virhe {
  border: 1px solid #ab8c91;
  border-top: 0px;
  margin: 0px;
  width: 480px;
  padding: 3px;
  background-color: #f2dede;
}

.tree .beef {
  border: 1px solid #999;
  border-top: 0px;
  margin: 0px;
  width: 480px;
  padding: 3px;
}

.form-row {
  margin-bottom: 14px;
}

.form-group {
  padding: 16px;
}

.tree .bubble, .tree li .textbox {
  width: 480px;
  min-height: 32px;
  border: 1px solid #999;
  /* display:inline-block; */
  background-color: #f9f9f9;
  padding: 7px 8px;
  text-decoration: none;
}
.tree li span.glyphicon {
    border: medium none;
}

.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:25px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.modal-to-haku {
    width: 900px;
}
