<div>
    <table class="table table-bordered perusopetuksen-arviointi">
        <thead>
        <tr ng-show="editMode">
            <th>
                <input class="form-control"
                       placeholder="{{ 'arvioinnin-kohde' | kaanna }}"
                       slocalized
                       ng-model="atavoite.arvioinninKuvaus">
            </th>
            <th>
                <input class="form-control"
                       placeholder="{{ 'arvion-hyva-osaaminen' | kaanna }}"
                       slocalized
                       ng-model="atavoite.arvioinninOsaamisenKuvaus">
            </th>
            <th>
            </th>
        </tr>
        <tr ng-hide="editMode">
            <th ng-bind="atavoite.arvioinninKuvaus || 'arvioinnin-kohde' | kaanna"></th>
            <th ng-bind="atavoite.arvioinninOsaamisenKuvaus || 'arvion-hyva-osaaminen' | kaanna"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="arviointi in model">
            <td>
                <span ng-if="!editMode">{{arviointi.arvioinninKohde | kaanna}}</span>
                <span ng-if="editMode">
              <input ng-model="arviointi.arvioinninKohde" slocalized class="form-control">
            </span>
            </td>
            <!-- TODO: Myöhemmin käyttöön -->
            <!-- <td> -->
            <!--     <span ng&#45;if="!editMode">{{arviointi.valttavanOsaamisenKuvaus | kaanna}}</span> -->
            <!--     <span ng&#45;if="editMode"> -->
            <!--         <textarea ng&#45;model="arviointi.valttavanOsaamisenKuvaus" slocalized class="form&#45;control msd&#45;elastic"></textarea> -->
            <!--     </span> -->
            <!-- </td> -->
            <!-- <td> -->
            <!--     <span ng&#45;if="!editMode">{{arviointi.tyydyttavanOsaamisenKuvaus | kaanna}}</span> -->
            <!--     <span ng&#45;if="editMode"> -->
            <!--         <textarea ng&#45;model="arviointi.tyydyttavanOsaamisenKuvaus" slocalized class="form&#45;control msd&#45;elastic"></textarea> -->
            <!--     </span> -->
            <!-- </td> -->
            <td>
                <span ng-if="!editMode">{{arviointi.hyvanOsaamisenKuvaus | kaanna}}</span>
                <span ng-if="editMode">
                    <textarea ng-model="arviointi.hyvanOsaamisenKuvaus" slocalized class="form-control msd-elastic"></textarea>
                </span>
            </td>
            <!-- <td> -->
            <!--     <span ng&#45;if="!editMode">{{arviointi.kiitettavanOsaamisenKuvaus | kaanna}}</span> -->
            <!--     <span ng&#45;if="editMode"> -->
            <!--         <textarea ng&#45;model="arviointi.kiitettavanOsaamisenKuvaus" slocalized class="form&#45;control msd&#45;elastic"></textarea> -->
            <!--     </span> -->
            <!-- </td> -->
            <td ng-if="editMode">
                <a icon-role="remove" ng-click="removeKohde($index)" title="{{'poista'|kaanna}}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div ng-if="editMode">
        <button icon-role="add" class="btn btn-default" kaanna="arviointi-uusi-kriteeri" ng-click="addKohde()"></button>
    </div>
</div>
