<div class="oppiaine-view">
<osallinen-osa model="model" editable-model="editableModel" config="data.options" versiot="versiot">

  <div ng-if="editEnabled">
    <div class="non-collapsibles">
      <label for="nimi-input" class="header">{{'muokkaus-tutkinnon-osan-nimi-header'|kaanna}}*</label>
      <input id="nimi-input" class="form-control" ng-model="editableModel.nimi" localized required ng-change="nimiValidationError = false">
      <p class="alert alert-error" ng-show="(tutkinnonOsaHeaderForm.$error.required && tutkinnonOsaHeaderForm.$error.required[0].$dirty) || nimiValidationError"
         kaanna>Nimi on pakollinen tieto</p>
      <label for="koodi-input" class="header" kaanna="muokkaus-tutkinnon-osan-koodi-header"></label>
      <div class="fixed-group">
        <input id="koodi-input" class="form-control" type="text" ng-model="editableModel.koodiArvo" editointi-kontrolli>
        <div class="addon"><button class="btn btn-default" ng-click="haeKoodistosta()" kaanna="hae-koodistosta"></button></div>
      </div>
      <label class="header" kaanna="oppimaarat"></label>
      <label class="inputwrapper"><input class="form-control" type="radio" ng-model="editableModel.koosteinen" ng-value="false">
        {{'yksi-oppimaara'|kaanna}}</label>
      <label class="inputwrapper"><input class="form-control" type="radio" ng-model="editableModel.koosteinen" ng-value="true">
        {{'useita-oppimaaria'|kaanna}}</label>
    </div>
    <h3 kaanna="Osiot" class="osioheader"></h3>
  </div>

  <div ng-if="!editEnabled">
    <div class="oppiaine-header">
      <table>
        <tbody>
          <!-- TODO: miten tunnistetaan oppiaine/oppimäärä, linkit -->
          <tr ng-show="editableModel.$ischild">
            <th kaanna="oppiaine"></th>
            <td><a href="" kaanna="editableModel.oppiaine.nimi"></a></td>
          </tr>
          <tr ng-show="editableModel.$ischild">
            <th kaanna="oppimaara"></th>
            <td kaanna="editableModel.nimi"></td>
          </tr>
          <tr>
            <th kaanna="muokkaus-tutkinnon-osan-koodi-header"></th>
            <td>{{model.koodiArvo | koodisto}}</td>
          </tr>
          <tr ng-show="editableModel.koosteinen">
            <th kaanna="oppimaarat"></th>
            <td>
              <ul>
                <li ng-repeat="oppimaara in editableModel.oppimaarat">
                  <a href="" kaanna="oppimaara.nimi"></a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-repeat="osamodel in yleisetosat" muokattava-osio="editableModel" type="tekstikappale"
         path="{{osamodel}}"></div>

    <tabset justified="true">
      <tab heading="{{vuosiluokat.nimi|kaanna}}" ng-repeat="vuosiluokat in mappedVuosiluokat">
        <div muokattava-osio="vuosiluokat.$sisalto" type="tekstikappale" path="tehtava" oppiaine="editableModel"></div>
        <div muokattava-osio="vuosiluokat.$sisalto.sisaltoalueet" type="sisaltoalueet" oppiaine="editableModel"></div>
        <div muokattava-osio="vuosiluokat.$sisalto" type="tavoitteet" oppiaine="editableModel"></div>
        <div muokattava-osio="vuosiluokat.$sisalto" type="tekstikappale" path="ohjaus" oppiaine="editableModel"></div>
        <div muokattava-osio="vuosiluokat.$sisalto" type="tekstikappale" path="tyotavat" oppiaine="editableModel"></div>
        <div muokattava-osio="vuosiluokat.$sisalto" type="tekstikappale" path="arviointi" oppiaine="editableModel"></div>
      </tab>
    </tabset>

  </div>

</osallinen-osa>
</div>
