<!-- oppiaine.html -->

<div class="oppiaine-view">
<osallinen-osa model="model" editable-model="editableModel" config="data.options" versiot="versiot">
  <!-- <pre>{{ vuosiluokka.$sisalto | json }}</pre> -->
  <div ng-if="editEnabled">
    <div class="oppiaine-header">
      <table>
        <tbody>
          <tr ng-show="editableModel.oppiaine">
            <th kaanna="oppiaine"></th>
            <td>{{oppiaineMap[editableModel.oppiaine].nimi | kaanna}}</td>
          </tr>
          <tr ng-show="editableModel.koosteinen">
            <th kaanna="oppiaine"></th>
            <td>{{editableModel.nimi | kaanna}}</td>
          </tr>
          <tr ng-show="editableModel.oppiaine">
            <th kaanna="oppimaara"></th>
            <td>{{editableModel.nimi | kaanna}}</td>
          </tr>
          <tr ng-show="editableModel.koosteinen">
            <th kaanna="oppimaarat"></th>
            <td>
              <ul>
                <li ng-show="editableModel.$oppimaarat.length === 0" kaanna="ei-oppimaaria"></li>
                <li ng-repeat="oppimaara in editableModel.$oppimaarat | orderBy:nameSort">{{oppimaara.nimi | kaanna}}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr ng-show="editableModel.koosteinen || editableModel.oppiaine">

    <div class="non-collapsibles">
      <label for="nimi-input" class="header">{{'muokkaus-tutkinnon-osan-nimi-header'|kaanna}}*</label>
      <input id="nimi-input" class="form-control" ng-model="editableModel.nimi" slocalized required>
      <p class="alert alert-error" ng-show="(tutkinnonOsaHeaderForm.$error.required && tutkinnonOsaHeaderForm.$error.required[0].$dirty) || nimiValidationError"
         kaanna>Nimi on pakollinen tieto</p>
      <label for="koodi-input" class="header" kaanna="muokkaus-tutkinnon-osan-koodi-header"></label>
      <div class="fixed-group">
        <input id="koodi-input" class="form-control" type="text" ng-model="editableModel.koodiArvo" editointi-kontrolli>
        <div class="addon"><button class="btn btn-default" ng-click="haeKoodistosta()" kaanna="hae-koodistosta"></button></div>
      </div>
      <div ng-show="!editableModel.oppiaine">
        <label class="header" kaanna="oppimaarat"></label>
        <label class="inputwrapper"><input class="form-control" type="radio" ng-model="editableModel.koosteinen" ng-value="false">
          {{'yksi-oppimaara'|kaanna}}</label>
        <label class="inputwrapper"><input class="form-control" type="radio" ng-model="editableModel.koosteinen" ng-value="true">
          {{'useita-oppimaaria'|kaanna}}</label>
      </div>
    </div>
    <h3 kaanna="'osiot'" class="osioheader"></h3>
  </div>

  <div ng-if="!editEnabled">
    <div class="oppiaine-header">
      <table>
        <tbody>
          <tr ng-show="editableModel.oppiaine">
            <th kaanna="oppiaine"></th>
            <td>
              <a ng-href="{{oppiaineMap[editableModel.oppiaine].$url}}">{{oppiaineMap[editableModel.oppiaine].nimi | kaanna}}</a>
            </td>
          </tr>
          <tr ng-show="editableModel.oppiaine">
            <th kaanna="oppimaara"></th>
            <td>{{editableModel.nimi | kaanna}}</td>
          </tr>
          <tr>
            <th kaanna="muokkaus-tutkinnon-osan-koodi-header"></th>
            <td>{{model.koodiArvo | koodisto}}</td>
          </tr>
          <tr ng-show="editableModel.koosteinen">
            <th kaanna="oppimaarat"></th>
            <td>
              <ul>
                <li ng-show="editableModel.$oppimaarat.length === 0" kaanna="ei-oppimaaria"></li>
                <li ng-repeat="oppimaara in editableModel.$oppimaarat | orderBy:nameSort">
                  <a ng-href="{{oppimaara.$url}}">{{oppimaara.nimi | kaanna}}</a>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-repeat="osamodel in yleisetosat" muokattava-osio="editableModel" type="tekstikappale"
         path="{{osamodel}}"></div>

    <ul class="nav nav-tabs nav-justified">
      <li ng-class="{active: vuosiluokat.$tabActive}" ng-repeat="vuosiluokat in mappedVuosiluokat track by $index">
        <a kaanna="vuosiluokat.nimi" ng-click="chooseTab($index)"></a>
      </li>
    </ul>

    <div ng-if="vuosiluokka" class="vuosiluokkasisalto">
      <div muokattava-osio="vuosiluokka.$sisalto" poisto-cb="vklOsaPoisto" type="tekstikappale" path="tehtava" oppiaine="editableModel"></div>
      <div ng-hide="vuosiluokka.$sisalto.tehtava" class="tyhja-sisalto">
        <h3>{{ getTitle('tehtava') | kaanna }}</h3>
        <button class="btn btn-danger btn-osiolisays" ng-click="lisaaVlkSisalto('tehtava')" icon-role="add"></button>
        <div class="clearfix"></div>
      </div>

      <div muokattava-osio="vuosiluokka.$sisalto" poisto-cb="vklOsaPoisto" type="tekstikappale" path="ohjaus" oppiaine="editableModel"></div>
      <div ng-hide="vuosiluokka.$sisalto.ohjaus" class="tyhja-sisalto">
        <h3>{{ getTitle('ohjaus') | kaanna }}</h3>
        <button class="btn btn-danger btn-osiolisays" ng-click="lisaaVlkSisalto('ohjaus')" icon-role="add"></button>
        <div class="clearfix"></div>
      </div>

      <div muokattava-osio="vuosiluokka.$sisalto" poisto-cb="vklOsaPoisto" type="tekstikappale" path="tyotavat" oppiaine="editableModel"></div>
      <div ng-hide="vuosiluokka.$sisalto.tyotavat" class="tyhja-sisalto">
        <h3>{{ getTitle('tyotavat') | kaanna }}</h3>
        <button class="btn btn-danger btn-osiolisays" ng-click="lisaaVlkSisalto('tyotavat')" icon-role="add"></button>
        <div class="clearfix"></div>
      </div>

      <div muokattava-osio="vuosiluokka.$sisalto" poisto-cb="vklOsaPoisto" type="tekstikappale" path="arviointi" oppiaine="editableModel"></div>
      <div ng-hide="vuosiluokka.$sisalto.arviointi" class="tyhja-sisalto">
        <h3>{{ getTitle('arviointi') | kaanna }}</h3>
        <button class="btn btn-danger btn-osiolisays" ng-click="lisaaVlkSisalto('arviointi')" icon-role="add"></button>
        <div class="clearfix"></div>
      </div>

      <div muokattava-osio="vuosiluokka.$sisalto" type="sisaltoalueet" path="sisaltoalueet" oppiaine="editableModel"></div>
      <div muokattava-osio="vuosiluokka.$sisalto" type="tavoitteet" oppiaine="editableModel" path="tavoitteet" vuosiluokka="vuosiluokka"></div>
    </div>

  </div>

</osallinen-osa>
</div>
