<!-- osanmuokkauskohdealueet.html -->

<div class="osanmuokkaus-kohdealueet">
  <h1 kaanna="muokkaus-kohdealueet"></h1>
  <div class="row rivi" ng-repeat="kohdealue in model">
    <div class="col-xs-9">
      <input ng-model="kohdealue.nimi" type="text" localized class="form-control">
    </div>
    <div class="col-xs-3">
      <button class="btn btn-danger" ng-click="poistaKohdealue(kohdealue)" icon-role="remove" kaanna="'poista-kohdealue'"></button>
    </div>
  </div>
  <div class="clearfix"></div>
  <button class="btn btn-primary" ng-click="lisaaKohdealue(uusiKohdealue)" icon-role="add" kaanna="'lisaa-kohdealue'"></button>
</div>
