<div class="sisaltoalueet" ui-tree data-empty-place-holder-enabled="false">
  <h1 kaanna="muokkaus-vuosiluokkakokonaisuuden-osa"></h1>
  <div class="tekstikappale edit-tekstikappale" ui-tree-nodes ng-model="editables">
    <div perusopetus-muokkaus-info osa="sisaltoalueet"></div>
    <div class="sisaltoalue-box" ng-class="{'kohde-edit': sisaltoalue.$editing}"
         ng-repeat="sisaltoalue in editables" ui-tree-node>
      <div class="buttons" ng-hide="isEditing">
        <button class="btn btn-default icon-only" icon-role="edit" title="{{'muokkaa' | kaanna}}"
                ng-click="edit(sisaltoalue)"></button>
        <button class="btn btn-default icon-only" icon-role="remove" title="{{'poista' | kaanna}}"
                ng-click="remove(sisaltoalue)"></button>
      </div>
      <div class="pull-left sorter-handle" ui-tree-handle>
        <div class="indexnumber">{{$index + 1}}</div>
        <div ng-show="editables.length > 1" class="icon" icon-role="drag"></div>
      </div>
      <div class="content">
        <div ng-if="!sisaltoalue.$editing">
          <h4 class="header">{{sisaltoalue.nimi | kaanna}}</h4>
          <div ng-bind-html="valitseKieli(sisaltoalue.kuvaus) | unsafe"></div>
        </div>
        <div ng-if="sisaltoalue.$editing">
          <h5>{{'sisaltoalueen-nimi' | kaanna}}</h5>
          <h4 class="list-group-item-text" ng-model="sisaltoalue.nimi" ckeditor editing-enabled="true"
              localized></h4>
          <h5 kaanna="kuvaus"></h5>
          <div class="list-group-item-text" ng-model="sisaltoalue.kuvaus" ckeditor editing-enabled="true"
               localized></div>
          <div class="pull-right edit-buttons">
            <button class="btn btn-default" ng-click="cancel(sisaltoalue)" kaanna="peruuta"></button>
            <button class="btn btn-primary" ng-click="ok(sisaltoalue)"
                    ng-disabled="!hasTitle(sisaltoalue)">{{sisaltoalue.$new && 'lisaa' || 'ok' | kaanna}}</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <button class="btn btn-default" kaanna="lisaa-sisaltoalue" icon-role="add" ng-click="add()"></button>

  <div>
  </div>
</div>
