<div class="opetuksen-tavoitteet" ui-tree="treeOptions"
     data-drag-enabled="editMode && !currentEditable" data-empty-place-holder-enabled="false">
  <div class="panel panel-default panel-small arviointi-kohdealueet">
    <span class="toggler" ng-show="model.tavoitteet.length"><a class="action-link" kaanna ng-click="toggleAll()">avaa-sulje-kaikki</a></span>

    <div class="panel-body">
      <div class="panel-group">

        <div ng-model="model.tavoitteet" ui-tree-nodes>
          <div class="panel panel-default tavoite" ng-repeat="tavoite in model.tavoitteet" ui-tree-node
               ng-class="{'kohde-edit': tavoite.$editing}">
            <div class="panel-body">
              <div ng-if="editMode" ng-show="!currentEditable" class="muokkausnappi">
                <button class="btn btn-default icon-only" ng-click="tavoiteFn.edit(tavoite)" icon-role="edit"
                        title="{{'muokkaa'|kaanna}}"></button>
                <button class="btn btn-default icon-only" ng-click="tavoiteFn.remove($index)"
                        icon-role="remove" title="{{'poista'|kaanna}}"></button>
              </div>

              <div class="pull-left sorter-handle" ui-tree-handle>
                <div ng-show="editMode && !currentEditable" class="icon" icon-role="drag"></div>
              </div>
              <div class="tavoite-sisalto" ng-class="{collapsed: !tavoite.$accordionOpen}">

                <h4 ng-show="tavoite.$editing" kaanna="nimi"></h4>
                <h4 class="tavoite-otsikko action-link" ng-show="!tavoite.$editing" ng-click="tavoiteFn.toggle(tavoite)"
                  ng-bind-html="valitseKieli(tavoite.tavoite) | unsafe"></h4>
                <div ng-if="tavoite.$editing" ckeditor ng-model="tavoite.tavoite" localized editor-placeholder="tavoitteen-kuvaus-placeholder"></div>

                <h4 kaanna="kohdealueet"></h4>
                <div tag-cloud="tavoite.$kohdealueet" openable="false" edit-mode="tavoite.$editing" add-label="arviointi-uusi-kohdealue"></div>

                <div class="tavoite-collapser action-link" ng-show="!tavoite.$accordionOpen" ng-click="tavoite.$accordionOpen = true">…</div>
                <div class="collapsible" collapse="!tavoite.$accordionOpen">
                  <h4 kaanna="laaja-alainen-osaaminen"></h4>
                  <div tag-cloud="tavoite.$osaaminen" openable="true" edit-mode="tavoite.$editing" add-label="lisaa-laaja-alainen-osaaminen"></div>

                  <h4 kaanna="sisaltoalueet"></h4>
                  <div tag-cloud="tavoite.$sisaltoalueet" openable="true" edit-mode="tavoite.$editing" add-label="lisaa-sisaltoalue"></div>

                  <div ng-if="tavoite.$editing && !hasArviointi(tavoite)">
                    <h4 kaanna="arviointi"></h4>
                    <button class="btn btn-default" ng-click="addArviointi(tavoite)" icon-role="add"
                            kaanna="lisaa-arviointi"></button>
                  </div>
                  <div ng-if="hasArviointi(tavoite)">
                    <h4 kaanna="arviointi"></h4>
                    <div perusopetuksen-arviointi="tavoite.arvioinninkohteet" edit-mode="tavoite.$editing"></div>
                  </div>
                </div>
              </div>
              <div class="muokkausnappi" ng-if="editMode" ng-show="tavoite.$editing">
                <button class="btn btn-default" kaanna="peruuta" ng-click="tavoiteFn.cancel()"></button>
                <button class="btn btn-primary" ng-click="tavoiteFn.ok()">{{tavoite.$new && 'lisaa' || 'ok' | kaanna}}</button>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- panel-group -->

      <button ng-show="editMode && !currentEditable" class="btn btn-default" ng-click="tavoiteFn.add()" icon-role="add"
        kaanna="lisaa-opetuksen-tavoite"></button>

    </div>
  </div>
</div>
