$border-color: #0C566E;

.esitys-print-view {
  .painikkeet {
    display: none;
  }
}

.tutkinnonosa-wrapper {
  h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  h3 {
    margin-top: 30px;
  }

  h4 {
    margin-top: 20px;
  }
}

.esitys {
  .tutkinnonosat-tools {
    .tutkinnonosat-rajaus {
      max-width: 450px;
    }

    .tosat-sort-selector {
      float: right;
      clear: none;
      height: 32px;
      .jarjestys-select {
        float: left;
        width: auto !important;
        height: 30px;
      }
      .lista-linkit {
        font-size: 130%;
        float: left;
        padding: 5px 0 0 5px;
      }
    }

  }

  .tutkinnonosat .tutkinnonosa-laatikko .otsikko.otsikko-esitys {
    margin-left: 0;
  }

  .rakenne-sisalto {
    margin: 5px 5px 20px 0px;
  }

  .sivunavi-sisalto {
    hr {
      margin-top: 0;
    }

    h1 {
      margin: 0 0 20px 0;
      border-bottom: 1px solid #ccc;
    }

    .tiedot {
      padding: 5px;
    }

    .painikkeet {
      padding-top: 8px;
      font-size: small;
      margin-bottom: 12px;
    }

    .leipateksti {
      padding-left: 30px;
    }

    .left-space {
      margin-left: 8px;
    }

    .sisalto {
      clear: right;
      -ms-hyphens: manual;
      -moz-hyphens: manual;
      -webkit-hyphens: manual;
      hyphens: manual;
      text-align: justify;
    }

    .arviointi {
      margin: 5px;
      margin-top: 20px;
      border: 1px solid $border-color;

      .arviointi-otsikko {
	      background: $border-color;
	      color: #fff;
	      padding: 5px;
      }
      .arviointi-sisalto {
	      padding: 10px;
	      h4 {
	        font-weight: bold;
	      }
      }
      .arviointi-okriteeri {
        width: 15%;
        vertical-align: middle;
        &.yksiportainen {
          width: 0 !important;
          overflow: hidden;
          padding: 0;
        }
      }
    }
  }
}

.esitys-perusteen-tiedot {
  h2 {
    border-bottom: none !important;
  }
  width: 100%;
  th {
    width: 25%;
  }
  th, td {
    vertical-align: top;
    padding: 7px 10px 5px 0;
  }
  & > tbody > tr > td, & > tbody > tr > th {
    padding-bottom: 15px;
  }
  .tutkintonimikkeet {
    thead {
      th {
        font-style: italic;
        border-bottom: 1px solid #ccc;
      }
      tr:first-child {
        & th, & td {
          padding-top: 0;
        }
      }
    }
  }
  .koulutukset {
    .koulutus {
      tbody {
        tr:first-child {
          & th, & td {
            padding-top: 0;
          }
        }
      }
      th {
        padding-right: 20px;
        font-style: italic;
      }
    }
  }
}
.esitys-korvattavat {
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      margin-bottom: 7px;
    }
  }
}

.esitys-header-links {
  margin-top: 10px;
  text-align: right;
  a {
    display: block;
  }
}

@import "sivunavi";
@import "perusopetus";
