<div id="muokattavat-kentat">
  <div class="panel panel-default">
    <ul class="list-group muokkaus">
      <li class="kentta" ng-class="getClass(field)" ng-repeat="field in expandedFields | filter:{'visible':true}:true | orderBy:'order'"
          muokkauskentta-raamit model="field.localeKey" piilota-otsikko="{{field.hideHeader}}"
          collapsible="{{field.collapsible}}">
        <muokattava-kentta edit-enabled="editEnabled"
                           field-info="field" object-promise="innerObjectPromise"
                           remove-field="removeField(fieldToRemove)"></muokattava-kentta>
      </li>
    </ul>
    <p class="info-placeholder" ng-show="noContent" id="tutkinnon-osa-ei-sisaltoa">{{'tutkinnon-osa-ei-sisaltoa'|kaanna}}
    <span ng-show="editEnabled" kaanna>tutkinnon-osa-ei-sisaltoa-ohje</span>
    </p>
  </div>
</div>
