<div ng-show="canCollapse" class="osio-otsikko" ng-click="collapsed = $parent.field.$editing ? false : !collapsed">
  <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
  <span ng-hide="$parent.field.isolateEdit && $parent.field.$editing">{{(hasModel ? model : otsikko) | kaanna}}</span>
  <input ng-if="$parent.field.$editing" ng-model="model" localized placeholder="{{$parent.field.titleplaceholder|kaanna}}">
  <span class="inline-alert" ng-show="$parent.field.$editing && isEmpty(model)" kaanna="nimi-on-pakollinen"></span>
</div>
<h3 ng-show="!canCollapse">{{(hasModel ? model : otsikko) | kaanna}}</h3>
<div collapse="collapsed" ng-transclude></div>
