<!-- partials/muokkaus/taiteenala.html -->
<div id="toolbar" class="navbar-fixed-top ck-toolbar" style="display: none">
    <div id="ck-toolbar-top"></div>
    <div id="ck-toolbar-bottom"></div>
</div>
<div class="row">
    <div localized type="text" ng-model="morjens"></div>
    <div class="col-md-12 ep-sisalto-inner">
        <div>
            <revert-note object="taiteenala" revert-cb="revertCb(response)" versions="versiot"
                         change-version="vaihdaVersio()"></revert-note>

            <div class="part-header-wrapper">
                <div class="action-buttons">
                    <div class="floater" ng-attr-title="{{lockNotification}}">
                        <button ng-disabled="isLocked"
                                ng-hide="taiteenala.tila !== 'valmis' || editEnabled || !versiot.latest"
                                ng-click="muokkaa()" class="btn btn-default" icon-role="edit" kaanna="'muokkaa'"
                                oikeustarkastelu="[{target:'peruste',permission:'korjaus'}]"></button>
                        <button ng-disabled="isLocked"
                                ng-hide="taiteenala.tila === 'valmis' || editEnabled || !versiot.latest"
                                ng-click="muokkaa()" class="btn btn-default" icon-role="edit" kaanna="'muokkaa'"
                                oikeustarkastelu="[{target:'peruste',permission:'muokkaus'}]"></button>
                    </div>
                    <button ng-show="!editEnabled && taiteenala.tila === 'valmis'" ng-click="kopioiMuokattavaksi()"
                            class="floater btn btn-danger" icon-role="ep-text-clone" kaanna="kopioi-muokattavaksi"
                            oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>

                    <button ng-if="taiteenala.tila === 'valmis' || (editEnabled && !isNew)"
                            class="btn btn-danger floater" ng-click="poista()" icon-role="remove" kaanna="'poista'"
                            oikeustarkastelu="{target:'peruste',permission:'muokkaus'}"></button>

                    <div ng-show="editEnabled" class="btn-group" uib-dropdown>
                        <button
                            editointi-kontrolli
                            class="btn btn-default btn-sm dropdown-toggle pull-right"
                            ng-disabled="allVisible()"
                            icon-role="add"
                            kaanna="'muokkaus-lisaa-sisalto'"
                            uib-dropdown-toggle></button>
                        <ul class="pull-right dropdown-menu">
                            <li ng-repeat="field in taiteenalaFields">
                                <a href="" ng-hide="editableTaiteenala[field.path]"
                                    ng-click="lisaaTaiteenalasisalto(field.path)">
                                    {{ field.localeKey | kaanna}}
                                </a>
                                <a ng-show="editableTaiteenala[field.path]" class="disabled-link" disabled>{{ field.localeKey | kaanna}}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="floater" ng-if="!editEnabled && isLocked">
                        <lukko tip="lockNotification"></lukko>
                    </div>
                </div>

                <projektin-murupolku></projektin-murupolku>

                <h1 ng-if="editEnabled">
                    <span ng-show="isNew" kaanna>luonti-tekstikappale</span>
                    <span ng-show="!isNew" kaanna>muokkaus-tekstikappale</span>
                </h1>
                <h1 ng-if="!editEnabled">
                    <span style="margin-right: 4px" ng-bind-html="taiteenala.nimi | kaanna"></span>
                    <valmiskaannos style="font-size: 20px" is-editing="editEnabled"
                                   ng-model="editableTaiteenala"></valmiskaannos>
                </h1>
            </div>

            <div class="tekstikappale" ng-class="{'edit-tekstikappale': editEnabled}">
                <div ng-if="!editEnabled">
                    <versiotiedot ng-hide="editEnabled"></versiotiedot>

                    <div class="tyoryhma-rivi">
                        <span class="tyoryhma" ng-repeat="tr in tyoryhmat">
                            <a ng-click="poistaTyoryhma(tr)" class="action-link" icon-role="remove"
                               oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></a>
                            {{ tr }}
                        </span>
                        <button ng-hide="kaikkiTyoryhmat.length === 0"
                                ng-disabled="kaikkiTyoryhmat.length === tyoryhmat.length"
                                ng-click="lisaaTyoryhma()" icon-role="plus" class="btn btn-default"
                                oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"
                                kaanna="lisaa-tyoryhma"></button>
                    </div>

                    <div math-display ng-bind-html="valitseKieli(taiteenala.teksti) | kuvalinkit | unsafe"
                         termisto-viitteet="taiteenala.teksti"></div>
                </div>
                <div ng-if="editEnabled" ng-repeat="field in fields | orderBy:'order'" model="field.localeKey"
                    kiinni-oletuksena="{{field.defaultClosed}}" piilota-otsikko="{{field.hideHeader}}"
                                                                muokkauskentta-raamit>
                    <muokattava-kentta field-info="field" object-promise="taiteenalaPromise"></muokattava-kentta>
                </div>
                <div class="taiteenala-sisalto">
                    <div>
                        <div class="form-inline" ng-class="{ 'taiteenala-kentta': editEnabled }">
                            <h4 kaanna="'taiteenala-koodi'"></h4>
                            <div ng-bind="(editableTaiteenala.koodi && (editableTaiteenala.koodi.nimi | kaanna) || editableTaiteenala.koodi.arvo) || '-'"></div>
                            <div class="taiteenala-kentta form-inline" ng-if="editEnabled">
                                <button
                                    class="btn btn-default"
                                    ng-click="koodistoClick()"
                                    kaanna>hae-koodistosta</button>
                                <button
                                    ng-show="editableTaiteenala.koodi && editableTaiteenala.koodi.uri && editableTaiteenala.tila === 'luonnos'"
                                    class="btn btn-danger"
                                    ng-click="cleanKoodi()"
                                    kaanna>tyhjenna-koodin-arvo</button>
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="field in taiteenalaFields">
                        <div ng-if="editEnabled" class="taiteenala-kentta">
                            <div ng-if="editableTaiteenala[field.path]">
                                <div class="row tovp-header">
                                    <div class="col-xs-10">
                                        <input
                                        ng-model-options="{ allowInvalid: true }"
                                        ng-model="editableTaiteenala[field.path].nimi"
                                        class="form-control"
                                        slocalized
                                        placeholder="{{ field.localeKey | kaanna }}"></input>
                                    </div>
                                    <div class="col-xs-2">
                                        <a class="remove-icon" href="" ng-click="removeTaiteenalasisalto(field.path)" class="pull-right">
                                            <span icon-role="remove"></span>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    ng-model="editableTaiteenala[field.path].teksti"
                                    class="tovp-body"
                                    ckeditor
                                    slocalized
                                    layout="normal">
                                </div>
                            </div>
                        </div>
                        <div ng-if="!editEnabled && taiteenala[field.path]">
                            <h4 class="otsikko" ng-bind-html="(taiteenala[field.path].nimi | kaanna) || (field.localeKey | kaanna)"></h4>
                            <div ng-bind-html="taiteenala[field.path].teksti | kaanna | kuvalinkit | unsafe"
                                termisto-viitteet="taiteenala.teksti"></div>
                        </div>
                    </div>
                </div>
                <valmiskaannos ng-if="editEnabled" is-editing="editEnabled" ng-model="editableTaiteenala"></valmiskaannos>
            </div>
            <kommentit></kommentit>
        </div>

    </div>
</div>
