<div>
  <revert-note object="tutkinnonOsa" revert-cb="revertCb(response)" versions="versiot" change-version="vaihdaVersio()"></revert-note>
  <div class="action-buttons">
    <div class="floater" ng-attr-title="{{lockNotification}}">
      <button ng-disabled="isLocked" ng-if="tekstikappale.tila !== 'julkaistu'" icon-role="edit"
              ng-hide="editEnabled || !versiot.latest" ng-click="muokkaa()" class="btn btn-default" kaanna="'muokkaa'"
              oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
    </div>
    <button ng-show="tutkinnonOsa.tila === 'julkaistu' && !editEnabled" ng-click="kopioiMuokattavaksi()"
            class="floater btn btn-danger" icon-role="fire" kaanna="kopioi-muokattavaksi"
            oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
    <div class="floater" ng-if="!editEnabled && isLocked"><lukko tip="lockNotification"></lukko></div>

    <div ng-if="editEnabled">
      <button icon-role="remove" ng-if="!isNew" class="floater btn btn-danger" ng-click="poistaTutkinnonOsa(rakenne.tutkinnonOsat[tutkinnonOsa.id].id)" kaanna="poista-tutkinnonosa"></button>
      <div class="floater" ng-show="editableTutkinnonOsa.tyyppi === 'normaali'">
        <div class="dropdown">
          <button editointi-kontrolli class="btn btn-default btn-sm dropdown-toggle" ng-disabled="allVisible()" icon-role="add" kaanna="muokkaus-lisaa-osio"></button>
          <ul class="pull-right dropdown-menu">
            <li ng-repeat="field in menuItems | orderBy:'order'">
              <a ng-show="field.visible" class="disabled-link">{{'muokkaus-' + field.localeKey + '-header' | kaanna}}</a>
              <a href="" ng-show="!field.visible" ng-click="addFieldToVisible(field)">{{'muokkaus-' + field.localeKey + '-header' | kaanna}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a ng-show="!editEnabled" icon-role="back" href="" ui-sref="root.perusteprojekti.suoritustapa.tutkinnonosat" kaanna="tutkinnonosat"></a>
  <h1 ng-show="editEnabled">
    <span ng-show="!isNew" kaanna>muokkaus-tutkinnon-osa</span>
    <span ng-show="isNew" kaanna>luonti-tutkinnon-osa</span>
  </h1>
  <pikamenu ng-if="tutkinnonOsa.$resolved">
  <!-- <span ng-if="editEnabled" edit-in-place="editableTutkinnonOsa.nimi"></span> -->
  <span ng-if="!editEnabled">
    {{tutkinnonOsa.nimi | kaanna:true}}
    <span class="osan-laajuus" ng-if="suoritustapa !== 'naytto' && rakenne.tutkinnonOsat[tutkinnonOsa.id] && rakenne.tutkinnonOsat[tutkinnonOsa.id].laajuus">
      {{rakenne.tutkinnonOsat[tutkinnonOsa.id].laajuus}} {{ yksikko | kaanna }}
    </span>
  </span>
  </pikamenu>

  <versiotiedot ng-hide="editEnabled"></versiotiedot>

  <hr ng-show="editEnabled">
  <form name="tutkinnonOsaHeaderForm" role="form">
    <div class="non-collapsibles" ng-if="editEnabled">
      <div ng-show="isNew">
        <label class="header">{{'Tyyppi'|kaanna}} <ohje teksti="ohje-tutkinnonosa-tyyppi"></ohje></label>
        <div class="btn-group">
          <label class="btn btn-default" ng-model="editableTutkinnonOsa.tyyppi" btn-radio="'normaali'">{{'Tutkintokohtainen'|kaanna}}</label>
          <label class="btn btn-default" ng-model="editableTutkinnonOsa.tyyppi" btn-radio="'tutke2'">{{'Yhteinen'|kaanna}}</label>
        </div>
        <div class="clearfix"></div>
      </div>
      <label for="nimi-input" class="header">{{'muokkaus-tutkinnon-osan-nimi-header'|kaanna}}*</label>
      <input id="nimi-input" class="form-control" ng-model="editableTutkinnonOsa.nimi" localized required ng-change="nimiValidationError = false">
      <p class="alert alert-error" ng-show="(tutkinnonOsaHeaderForm.$error.required && tutkinnonOsaHeaderForm.$error.required[0].$dirty) || nimiValidationError"
         kaanna>Nimi on pakollinen tieto</p>
      <div ng-if="suoritustapa !== 'naytto'">
        <label for="laajuus-input" class="header" kaanna>tutkinnonosa-laajuus</label>
        <div class="fixed-group">
          <numberinput label-id="laajuus-input" luokka="form-control" model="editableViiteosa.laajuus" min="0" max="999"
                     type="float" step="0.5" form="tutkinnonOsaHeaderForm"></numberinput>
          <div class="addon"><p kaanna>osp</p></div>
        </div>
      </div>
      <label for="jarjestys-input" class="header" kaanna>tutkinnonosa-jarjestysnumero</label>
      <div class="fixed-group">
        <input label-id="laajuus-input" luokka="form-control" ng-model="editableViiteosa.jarjestys" min="0" max="9999"
               type="number" form="tutkinnonOsaHeaderForm" class="form-control">
      </div>
      <label for="koodi-input" class="header" kaanna>muokkaus-tutkinnon-osan-koodi-header</label>
      <div class="fixed-group">
        <input id="koodi-input" class="form-control" type="text" ng-model="editableTutkinnonOsa.koodiArvo" editointi-kontrolli>
        <div class="addon"><button class="btn btn-default" ng-click="koodistoClick()" kaanna>hae-koodistosta</button></div>
      </div>
    </div>
  </form>

  <div class="non-collapsibles" ng-if="!editEnabled">
    <label class="header" kaanna>muokkaus-tutkinnon-osan-koodi-header</label>:<span> {{ tutkinnonOsa.koodiArvo }}</span>
  </div>

  <div class="tutkinnonosa-sisalto" ng-if="editableTutkinnonOsa.tyyppi === 'normaali'">
    <kenttalistaus edit-enabled="editEnabled" object-promise="tutkinnonOsaPromise" fields="fields"></kenttalistaus>
  </div>
  <div class="tutkinnonosa-sisalto" ng-if="editableTutkinnonOsa.tyyppi === 'tutke2'">
    <tutke2kentat edit-enabled="editEnabled" tutkinnonosa="tutkinnonOsaPromise" kontrollit="editointikontrollit"></tutke2kentat>
  </div>
  <kommentit></kommentit>
</div>
