<!-- partials/muokkaus/tutkinnonOsaOsaAlue.html -->
<h1 kaanna="'muokkaa-osa-aluetta'"></h1>
<p kaanna="tahdella-pakolliset"></p>
<hr class="versioraja">
<div class="non-collapsibles">
    <label class="header" kaanna="'tutkinnonosa'"></label>
    <p ng-bind="tutkinnonOsaViite.tutkinnonOsa.nimi | kaanna"></p>
    <label class="header">{{'nimi'| kaanna}}*</label>
    <input class="form-control" slocalized ng-model="osaAlue.nimi" type="text">

    <label for="koodi-input" class="header" kaanna="muokkaus-tutkinnon-osan-koodi-header"></label>
    <div ng-if="alarelaatiotLadattu">
        <div ng-if="alarelaatiot && alarelaatiot.length > 0">
            <div style="margin-bottom: 6px" ng-repeat="ar in alarelaatiot"
                 ng-click="valitseAlarelaatio($index === 0 ? null : ar)">
                <span class="glyphicon"
                      ng-class="osaAlue.koodiUri === ar.koodiUri || (!osaAlue.koodiUri && $index === 0) ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                <span ng-hide="ar.nimi" kaanna="'ei-valintaa'"></span>
                <span ng-show="ar.nimi">{{ ar.nimi | kaanna }} (<b>{{ ar.koodiArvo }}</b>)</span>
            </div>
        </div>
        <div ng-if="!alarelaatiot" class="alert alert-danger">
            <span kaanna="'tutkinnon-osalla-ei-ole-koodia'"></span>
        </div>
    </div>

    <hr class="mujuviiva">

    <div ng-repeat="tavoite in osaamistavoitepuu | filter:{$poistettu: false}" class="panel-clean osa-alue">
        <div style="cursor: pointer">
            <h2 ng-click="tavoite.$open = !tavoite.$open">
                <span class="glyphicon"
                      ng-class="tavoite.$open ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
                {{ tavoite.nimi | kaanna }}
            </h2>
        </div>

        <div ng-if="tavoite.$open" class="osa-alue-sisalto">
            <label>{{'nimi'| kaanna}}*</label>
            <input class="form-control" slocalized ng-model="tavoite.nimi" type="text">

            <h3 ng-show="tavoite.pakollinen === true">
                {{('pakolliset-osaamistavoitteet'| kaanna)}}, {{tavoite.laajuus}} {{'osp'| kaanna}}
                <span ng-hide="tutkinnonOsaViite.tutkinnonOsa.tyyppi == 'reformi_tutke2'">
                    <button class="btn btn-default pull-right" icon-role="remove" ng-click="poistaTavoite(tavoite)"
                              kaanna="poista" oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
                </span>
            </h3>
            <h3 ng-show="tavoite.pakollinen === false">
                {{('valinnaiset-osaamistavoitteet'| kaanna)}}, {{tavoite.laajuus}} {{'osp'| kaanna}}
                <span ng-hide="tutkinnonOsaViite.tutkinnonOsa.tyyppi == 'reformi_tutke2'">
                    <button class="btn btn-default pull-right" icon-role="remove" ng-click="poistaTavoite(tavoite)"
                              kaanna="poista" oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
                </span>
            </h3>

            <div class="non-collapsibles">
                <label kaanna>laajuus</label>
                <numberinput style="margin-bottom: 3px" luokka="form-control" model="tavoite.laajuus" type="float"
                             step="0.5" luokka="form-control"></numberinput>

                <div>
                    <label>{{'koodi' | kaanna}}</label>
                    <div class="fixed-group">
                        <input id="koodi-input" class="form-control" type="text" ng-model="tavoite.koodi.koodiArvo"
                               editointi-kontrolli disabled="disabled">
                        <div class="addon">
                            <button class="btn btn-default" ng-click="openKoodisto( tavoite )"
                                    kaanna="hae-koodistosta"></button>
                        </div>
                    </div>
                </div>

                <label kaanna>tavoitteet</label>
                <div ng-model="tavoite.tavoitteet" slocalized ckeditor editing-enabled="true"
                     editor-placeholder="Kirjoita tavoitteet"></div>

                <h4 kaanna>arviointi</h4>
                <arviointi arviointi="tavoite.arviointi.arvioinninKohdealueet" ei-kohdealueita="true"
                           edit-enabled="true" editointi-sallittu="true"></arviointi>
                <label kaanna>tutkinnonosa-tunnustaminen</label>
                <div ng-model="tavoite.tunnustaminen" slocalized ckeditor editing-enabled="true"
                     editor-placeholder="Kirjoita tunnustaminen"></div>

                <h4 kaanna>ammattitaitovaatimukset</h4>
                <ammattitaito ammattitaito="tavoite.ammattitaitovaatimuksetLista" edit-enabled="true"
                              editointi-sallittu="true" ei-kohdealueita="true"></ammattitaito>
            </div>

            <div ng-show="tavoite.lapsi && tavoite.lapsi.$poistettu === false">
                <h3>
                    {{('valinnaiset-osaamistavoitteet'| kaanna)}}, {{tavoite.lapsi.laajuus}} {{'osp'| kaanna}}
                    <span ng-hide="tutkinnonOsaViite.tutkinnonOsa.tyyppi === 'reformi_tutke2'">
                        <button class="btn btn-default pull-right" icon-role="remove"
                                  ng-click="poistaTavoite(tavoite.lapsi)" kaanna="poista"
                                  oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
                    </span>
                </h3>
                <div class="non-collapsibles">
                    <label kaanna>laajuus</label>
                    <numberinput style="margin-bottom: 3px" luokka="form-control" model="tavoite.lapsi.laajuus"
                                 type="float" step="0.5"></numberinput>

                    <div>
                        <label>{{'koodi' | kaanna}}</label>
                        <div class="fixed-group">
                            <input id="koodi-input" class="form-control" type="text"
                                   ng-model="tavoite.lapsi.koodi.koodiArvo" editointi-kontrolli disabled="disabled">
                            <div class="addon">
                                <button class="btn btn-default" ng-click="openKoodisto( tavoite.lapsi )"
                                        kaanna="hae-koodistosta"></button>
                            </div>
                        </div>
                    </div>

                    <label kaanna>tavoitteet</label>
                    <div ng-model="tavoite.lapsi.tavoitteet" slocalized ckeditor editing-enabled="true"
                         editor-placeholder="Kirjoita tavoitteet"></div>

                    <h4 kaanna>arviointi</h4>
                    <arviointi arviointi="tavoite.lapsi.arviointi.arvioinninKohdealueet" ei-kohdealueita="true"
                               edit-enabled="true" editointi-sallittu="true"></arviointi>
                    <label kaanna>tutkinnonosa-tunnustaminen</label>
                    <div ng-model="tavoite.lapsi.tunnustaminen" slocalized ckeditor editing-enabled="true"
                         editor-placeholder="Kirjoita tunnustaminen"></div>

                    <h4 kaanna="'ammattitaitovaatimukset'"></h4>
                    <ammattitaito ammattitaito="tavoite.lapsi.ammattitaitovaatimuksetLista" edit-enabled="true"
                                  editointi-sallittu="true" ei-kohdealueita="true">
                    </ammattitaito>
                </div>
            </div>
        </div>

    </div>

    <button class="btn btn-default"
            icon-role="add"
            kaanna="lisaa-osaamistavoite"
            ng-click="lisaaOsaamistavoite()"
            ng-hide="tutkinnonOsaViite.tutkinnonOsa.tyyppi === 'reformi_tutke2'"
            oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
</div>
