<!-- tutkinnonOsaOsaAlue.html -->
<h1 kaanna="'muokkaa-osa-aluetta'"></h1>
<p kaanna="tahdella-pakolliset"></p>
<hr class="versioraja">
<div class="non-collapsibles">
  <label class="header" kaanna="tutkinnonosa"></label>
  <p>{{tutkinnonOsa.nimi| kaanna}}</p>
  <label class="header">{{'nimi'| kaanna}}*</label>
  <input class="form-control" slocalized ng-model="osaAlue.nimi" type="text"></input>

  <hr class="mujuviiva">

<accordion close-others="true">
  <accordion-group ng-repeat="tavoite in osaamistavoitepuu | filter:{$poistettu: false}" class="panel-clean osa-alue" is-open="tavoite.$open">
    <accordion-heading >
      <span class="glyphicon" ng-class="tavoite.$open ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
      {{ tavoite.nimi | kaanna }}
    </accordion-heading>

    <label>{{'nimi'| kaanna}}*</label>
      <input class="form-control" slocalized ng-model="tavoite.nimi" type="text"></input>

    <h3 ng-show="tavoite.pakollinen === true">
      {{('pakolliset-osaamistavoitteet'| kaanna)}}, {{tavoite.laajuus}} {{'osp'| kaanna}}
      <span><button class="btn btn-default pull-right" icon-role="remove" ng-click="poistaTavoite(tavoite)" kaanna="poista"></button></span>
    </h3>
    <h3 ng-show="tavoite.pakollinen === false">
      {{('valinnaiset-osaamistavoitteet'| kaanna)}}, {{tavoite.laajuus}} {{'osp'| kaanna}}
      <span><button class="btn btn-default pull-right" icon-role="remove" ng-click="poistaTavoite(tavoite)" kaanna="poista"></button></span>
    </h3>

    <div class="non-collapsibles">
      <label kaanna>laajuus</label>
      <numberinput model="tavoite.laajuus" type="float" step="0.5"></numberinput>
      <label kaanna>tavoitteet</label>
      <div ng-model="tavoite.tavoitteet" slocalized ckeditor editing-enabled="true" editor-placeholder="Kirjoita tavoitteet"></div>

      <h4 kaanna>arviointi</h4>
      <arviointi arviointi="tavoite.arviointi.arvioinninKohdealueet" ei-kohdealueita="true"
                 edit-enabled="true" editointi-sallittu="true"></arviointi>
      <label kaanna>tutkinnonosa-tunnustaminen</label>
      <div ng-model="tavoite.tunnustaminen" slocalized ckeditor editing-enabled="true" editor-placeholder="Kirjoita tunnustaminen"></div>
    </div>

    <div ng-show="tavoite.lapsi && tavoite.lapsi.$poistettu === false">
    <h3>
      {{('valinnaiset-osaamistavoitteet'| kaanna)}}, {{tavoite.lapsi.laajuus}} {{'osp'| kaanna}}
      <span><button class="btn btn-default pull-right" icon-role="remove" ng-click="poistaTavoite(tavoite.lapsi)" kaanna="poista"></button></span>
    </h3>
    <div class="non-collapsibles">
      <label kaanna>laajuus</label>
      <numberinput model="tavoite.lapsi.laajuus" type="float" step="0.5"></numberinput>
      <label kaanna>tavoitteet</label>
      <div ng-model="tavoite.lapsi.tavoitteet" slocalized ckeditor editing-enabled="true" editor-placeholder="Kirjoita tavoitteet"></div>

      <h4 kaanna>arviointi</h4>
      <arviointi arviointi="tavoite.lapsi.arviointi.arvioinninKohdealueet" ei-kohdealueita="true"
                 edit-enabled="true" editointi-sallittu="true"></arviointi>
      <label kaanna>tutkinnonosa-tunnustaminen</label>
      <div ng-model="tavoite.lapsi.tunnustaminen" slocalized ckeditor editing-enabled="true" editor-placeholder="Kirjoita tunnustaminen"></div>
    </div>
      </div>

  </accordion-group>
</accordion>


<button class="btn btn-default" icon-role="add" ng-click="lisaaOsaamistavoite()" kaanna="lisaa-osaamistavoite"></button>
<button class="btn btn-default" icon-role="add" ng-click="tuoOsaamistavoite()" kaanna="tuo-osaamistavoite"></button>
</div>
