<div class="tutke2">
  <p class="info-placeholder" ng-show="!tutke2osa.osaAlueet || tutke2osa.osaAlueet.length === 0" kaanna>Ei osa-alueita.</p>
  <accordion close-others="viewOptions.oneAtATime">

    <!-- osa-alueet -->
    <accordion-group ng-repeat="alue in tutke2osa.osaAlueet" is-open="alue.$open" class="panel-clean" ng-class="{'kohde-edit': alue.$editing}">
      <accordion-heading>
        <span class="glyphicon" ng-class="alue.$open ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
        <span ng-show="!alue.$editing" class="otsikko">{{alue.nimi | kaanna}}</span>
        <input ng-show="alue.$editing" class="" ng-model="alue.nimi" localized ng-click="$event.stopPropagation()">
        <span ng-show="editEnabled && !alue.$editing">
          <a editointi-kontrolli ng-click="osaAlue.remove(alue, $event)" class="muokkausnappi action-link" icon-role="remove"></a>
          <a editointi-kontrolli ng-click="osaAlue.edit(alue, $event)" class="muokkausnappi action-link" icon-role="edit"></a>
        </span>
        <div ng-show="alue.$editing" class="muokkaus-napit pull-right">
          <button class="btn btn-default btn-xs" ng-click="osaAlue.edit(alue, $event, false)" kaanna>peru</button>
          <button class="btn btn-primary btn-xs" ng-click="osaAlue.save(alue, $event)" kaanna>ok</button>
        </div>
        <span ng-show="!editEnabled">
          <select ng-if="osaAlue.hasChoices(alue)" ng-options="item.value as item.label|kaanna for item in osaAlue.groups(alue)"
                  ng-model="alue.$chosen" ng-click="$event.stopPropagation()"></select>
        </span>
      </accordion-heading>

      <!-- osaamistavoitteet -->
      <p class="info-placeholder" ng-show="!alue.osaamistavoitteet || alue.osaamistavoitteet.length === 0"
         kaanna>Ei osaamistavoitteita.</p>
      <div ng-if="!editEnabled" ng-repeat="pakollisuus in [true, false]">
        <div ng-repeat="tavoite in getTavoitteet(alue, pakollisuus)">
          <h3>{{pakollisuus && ('Pakolliset osaamistavoitteet' | kaanna) || ('Valinnaiset osaamistavoitteet' | kaanna)}}, {{tavoite.laajuus}} {{'osp' | kaanna}}</h3>
          <p>{{tavoite.tavoitteet | kaanna}}</p>
          <h4 kaanna>arviointi</h4>
          <arviointi arviointi="tavoite.arviointi.arvioinninKohdealueet" editEnabled="tavoite.$editing" ei-kohdealueita="true"></arviointi>
          <p>{{tavoite.tunnustaminen | kaanna}}</p>
        </div>
      </div>

      <div ng-if="editEnabled">
        <div class="panel-group">
          <div class="panel panel-default panel-clean" ng-repeat="tavoite in alue.osaamistavoitteet" ng-class="{'kohde-edit': tavoite.$editing}">
            <div class="panel-heading">
              <h3>
              <span ng-if="tavoite.$editing">
                <span kaanna>Osaamistavoitteen nimi:</span>
                <input class="" ng-model="tavoite.nimi" localized ng-click="$event.stopPropagation()">
                <div class="muokkaus-napit pull-right">
                  <button class="btn btn-default btn-xs" ng-click="osaamistavoite.edit(alue, tavoite, $event, false)" kaanna>peru</button>
                  <button class="btn btn-primary btn-xs" ng-click="osaamistavoite.save(alue, tavoite, $event)" kaanna>ok</button>
                </div>
              </span>
              <span ng-show="!tavoite.$editing">{{tavoite.nimi | kaanna}}
                <a editointi-kontrolli ng-click="osaamistavoite.remove(alue, tavoite, $event)" class="muokkausnappi action-link" icon-role="remove"></a>
                <a editointi-kontrolli ng-click="osaamistavoite.edit(alue, tavoite, $event)" class="muokkausnappi action-link" icon-role="edit"></a>
              </span>
              </h3>
            </div>
            <div class="panel-body">
              <div ng-if="tavoite.$editing">
                <formfield model="tavoite" model-var="pakollinen" label="pakollisuus" options="pakollisuusoptions"></formfield>
                <formfield model="tavoite" model-var="_esitieto" label="esitieto" options="alue.$esitietoOptions" ng-if="!tavoite.pakollinen"></formfield>
                <formfield model="tavoite" model-var="laajuus" label="laajuus" type="float" step="0.5"></formfield>
                <formfield model="tavoite" model-var="tavoitteet" label="tavoitteet" type="textarea"></formfield>
                <formfield model="tavoite" model-var="tunnustaminen" label="Tunnustaminen" type="textarea"></formfield>
              </div>
              <div ng-if="!tavoite.$editing">
                <p class="lead">{{(tavoite.pakollinen && 'Pakollinen' || 'Valinnainen')|kaanna}}, {{tavoite.laajuus}} {{'osp' | kaanna}}</p>
                <div ng-if="!tavoite.pakollinen && tavoite._esitieto">
                  <h4 kaanna>esitieto</h4>
                  <p>{{alue.$groups.grouped[tavoite._esitieto][0].nimi | kaanna}}</p>
                </div>
                <h4 kaanna>tavoitteet</h4><p>{{tavoite.tavoitteet | kaanna}}</p>
                <h4 kaanna>Tunnustaminen</h4><p>{{tavoite.tunnustaminen | kaanna}}</p>
              </div>
              <h4 kaanna>arviointi</h4>
              <arviointi arviointi="tavoite.arviointi.arvioinninKohdealueet" ei-kohdealueita="true"
                         edit-enabled="tavoite.$editing" editointi-sallittu="true"></arviointi>
            </div>
          </div>
        </div>
      </div>

      <!-- lisää osaamistavoite -->
      <button ng-if="editEnabled" class="btn btn-default" icon-role="add" ng-click="osaamistavoite.add(alue)" kaanna>Lisää osaamistavoite</button>

    </accordion-group>
  </accordion>

  <!-- lisää osa-alue -->
  <button ng-if="editEnabled" class="btn btn-default" icon-role="add" ng-click="osaAlue.add()" kaanna>Lisää osa-alue</button>

</div>
