<div class="modal-header">
  <h1 kaanna>versiohistoria</h1>
</div>

<div class="modal-body">
  <table class="table table-hover versiohistoria">
    <tr>
      <th class="versio" kaanna>versio</th>
      <th kaanna>muokkaaja</th>
      <th class="kommentti" kaanna>kommentti</th>
      <th class="muokattu" kaanna>muokattu</th>
    </tr>
    <tr ng-repeat="ver in versions.list" ng-click="close(ver)" class="navigoitava" title="{{'Tarkastele versiota' | kaanna}}">
      <td><a href="" ng-click="$event.stopPropagation(); close(ver);">{{ ver.index }}</a></td>
      <td>{{ ver.$nimi }}</td>
      <td>{{ ver.kommentti || '-' }}</td>
      <td>{{ ver.pvm | aikaleima:'time' }}</td>
    </tr>
  </table>
</div>

<div class="modal-footer">
  <button class="btn" ng-click="close()" kaanna>sulje</button>
</div>
