table.table.table-hover
  thead
    tr
      th(width="2%")
        a(ng-if="allowSorting && !isSorting" ng-click="sort()" icon-role="sort" style="cursor: pointer;")
      th(ng-bind="'nimi' | kaanna")
      th(ng-show="hasMuokattu" ng-bind="'muokattu' | kaanna" width="30%")

  tbody(ui-sortable="sortableOptions" ng-model="ngModel")
    tr(ng-repeat="rivi in ngModel" style="cursor: pointer;")
      td
        span(ng-hide="isSorting")
          a(ng-bind="$index + 1" ng-href="{{ rivi.$$url }}")
        span.handle(ng-show="isSorting" icon-role="sort")
      td
        a(ng-if="rivi.$$url" ng-href="{{ rivi.$$url }}" ng-bind="(rivi.nimi || nimeton) | kaanna")
        span(ng-if="!rivi.$$url" ng-bind="rivi.nimi | kaanna")

      td(ng-show="hasMuokattu" ng-bind="rivi.muokattu | aikaleima")
