<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT-APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT-APP-NO-EX" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c: %m%nopex%n</pattern>
        </encoder>
    </appender>

    <logger name="fi.vm" level="INFO" additivity="false">
        <appender-ref ref="STDOUT-APP"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT-CONSOLE"/>
    </root>

</configuration>
