<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>auditlog.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>auditlog.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="fi.vm.sade.auditlog.Audit" level="info" additivity="false">
        <appender-ref ref="ROLLING" />
    </logger>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%thread] %-5level %logger: %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.fop" level="off"/>
    <!--<logger name="org.hibernate.SQL" level="trace"/>-->
    <logger name="org.hibernate" level="error"/>
    <logger name="org.hibernate.tool.hbm2ddl" level="off"/>
    <logger name="org.springframework" level="warn"/>
    <logger name="org.springframework.context.support.PropertySourcesPlaceholderConfigurer" level="error"/>
    <logger name="fi.vm.sade" level="info"/>
    <logger name="fi.vm.sade.eperusteet" level="debug"/>
    <logger name="fi.vm.sade.eperusteet.PROFILING" level="trace"/>
    <logger name="fi.vm.sade.eperusteet.service.dokumentti" level="info"/>
    <logger name="springfox.documentation" level="warn"/>
    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
