<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="STDOUT-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT-APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT-APP-NO-EX" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c: %m%nopex%n</pattern>
        </encoder>
    </appender>

    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logs/auditlog_eperusteet.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/logs/auditlog_eperusteet.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>20</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>20MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="fi.vm" level="INFO" additivity="false">
        <appender-ref ref="STDOUT-APP"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT-CONSOLE"/>
    </root>
    <logger name="fi.vm.sade.eperusteet.service.audit.LoggerForAudit" level="INFO" additivity="false">
        <appender-ref ref="AUDIT"/>
    </logger>

</configuration>
