<a class="reset-filters" kaanna="'tyhjenna-valinnat'" icon-role="refresh" ng-href="{{$parent.section.nollausLinkki}}"></a>
<div ng-repeat="section in $parent.section.model.sections">
  <uib-accordion ng-if="section.title && section.items && section.items.length > 0" close-others="$parent.section.model.oneAtATime">
    <uib-accordion-group class="inner-accordion" is-open="section.$open">
      <uib-accordion-heading>
        <span class="glyphicon" ng-class="{'glyphicon-chevron-down': section.$open, 'glyphicon-chevron-right': !section.$open}"></span>
        {{section.title | kaanna}}
      </uib-accordion-heading>
      <div ng-if="!section.include">
        <ul>
          <li ng-repeat="item in section.items | orderBy:orderFn" class="labeled-checkboxes">
            <label>
              <input type="checkbox" ng-model="item.$selected" ng-change="section.update(item, section)">
              <span class="lc-label" ng-bind="item.label | kaanna"></span>
            </label>
          </li>
        </ul>
      </div>
      <div ng-if="section.include" ng-include="section.include"></div>
    </uib-accordion-group>
  </uib-accordion>
  <div ng-if="!section.title">
    <div ng-if="!section.include && section.items && section.items.length > 0">
      <ul>
        <li ng-repeat="item in section.items | orderBy:orderFn" class="labeled-checkboxes">
          <label>
            <input type="checkbox" ng-model="item.$selected" ng-change="section.update(item, section)">
            <span class="lc-label" ng-bind="item.label | kaanna"></span>
          </label>
        </li>
      </ul>
    </div>
    <div ng-if="section.include" ng-include="section.include"></div>
  </div>
</div>
