<!-- partials/esitys/tiedot.html -->

<h1 esitys-sivu-otsikko="'perusteen-tiedot'"><span kaanna="'perusteen-tiedot'"></span></h1>

<table class="esitys-perusteen-tiedot">
  <tr>
    <th kaanna="'perusteen-nimi'"></th>
    <td kaanna="peruste.nimi || 'nimetön'">></td>
  </tr>
  <tr>
    <th kaanna="'maarayksen-diaarinumero'"></th>
    <td ng-bind="peruste.diaarinumero"></td>
  </tr>
  <tr ng-show="showKoulutukset()">
    <th kaanna="'peruste-koulutukset'"></th>
    <td>

      <span ng-if="peruste.koulutukset.length === 0" kaanna="'ei-koulutuksia'"></span>
      <div class="koulutukset" ng-if="peruste.koulutukset.length > 0">
        <div class="koulutus" ng-repeat="koulutus in peruste.koulutukset">
          <table class="aligned">
            <tr>
              <th kaanna="'koulutuksen-nimi'"></th>
              <td>{{koulutus.nimi| kaanna}}</td>
            </tr>
            <tr>
              <th kaanna="'perusteen-koodi'"></th>
              <td>{{koulutus.koulutuskoodiArvo}}</td>
            </tr>
            <tr>
              <th kaanna="'haku-koulutusala'"></th>
              <td>{{koulutusalaNimi(koulutus.koulutusalakoodi).nimi | kaanna}}</td>
            </tr>
            <tr>
              <th kaanna="'haku-opintoala'"></th>
              <td>{{opintoalaNimi(koulutus.opintoalakoodi).nimi | kaanna}}</td>
            </tr>
          </table>
        </div>
      </div>

    </td>
  </tr>
  <tr>
    <th kaanna="'tutkintonimikkeet'"></th>
    <td>

    <table ng-if="koodisto.length > 0" class="aligned tutkintonimikkeet">
      <thead>
        <tr>
          <th kaanna="osaamisala"></th>
          <th kaanna="tutkintonimike"></th>
          <th kaanna="tutkinnonosa"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="koodi in koodisto">
          <td><span ng-show="koodi.osaamisalaArvo">{{ koodi.$osaamisalaNimi | kaanna }} ({{ koodi.osaamisalaArvo }})</span></td>
          <td>{{ koodi.$tutkintonimikeNimi | kaanna }} ({{ koodi.tutkintonimikeArvo }})</td>
          <td><span ng-show="koodi.tutkinnonOsaArvo">{{ koodi.$tutkinnonOsaNimi | kaanna }} ({{ koodi.tutkinnonOsaArvo }})</span></td>
        </tr>
      </tbody>
    </table>
    <div ng-if="koodisto.length === 0" kaanna="'ei-tutkintonimikkeita'"></div>

    </td>
  </tr>
  <tr>
    <th kaanna="'tiivistelma'"></th>
    <td><termisto-tekstikentta tekstikentta="peruste.kuvaus"></termisto-tekstikentta></td>
  </tr>
  <tr>
    <th kaanna="'voimaantulo-pvm'"></th>
    <td pvm="peruste.voimassaoloAlkaa"></td>
  </tr>
  <tr>
    <th kaanna="'voimassaolo-paattymispvm'"></th>
    <td pvm="peruste.voimassaoloLoppuu"></td>
  </tr>
</table>

<div ng-if="korvattavatPerusteet && korvattavatPerusteet.length > 0" class="esitys-perusteen-tiedot">
  <h2 kaanna="'korvattavat-perusteet'"></h2>

  <th kaanna="'korvattavat-perusteet'"></th>
  <td>
    <table class="aligned korvattavat">
      <tr>
        <th kaanna="'nimi'"></th>
        <th kaanna="'diaarinumero-label'"></th>
      </tr>
      <tr ng-repeat="kp in korvattavatPerusteet">
        <td kaanna="kp.nimi"></td>
        <td ng-bind="kp.diaarinumero"></td>
      </tr>
    </table>
  </td>
</div>
