<!-- partials/esitys/tiedot.html -->

<h1 esitys-sivu-otsikko="'perusteen-tiedot'"><span kaanna="'perusteen-tiedot'"></span></h1>

<table class="esitys-perusteen-tiedot">
  <tr>
    <th kaanna="'perusteen-nimi'"></th>
    <td kaanna="peruste.nimi || 'nimetön'"></td>
  </tr>
  <tr>
    <th kaanna="'maarayksen-diaarinumero'"></th>
    <td ng-bind="peruste.diaarinumero"></td>
  </tr>
  <tr ng-if="peruste.korvattavatDiaarinumerot && peruste.korvattavatDiaarinumerot.length > 0" class="esitys-korvattavat">
    <th kaanna="'korvattavat-perusteet'"></th>
    <td>
      <ul>
        <li ng-repeat="diaari in peruste.korvattavatDiaarinumerot">
          <span ng-bind="korvattavatPerusteet[diaari].diaarinumero"></span>&nbsp;<span
                ng-if="korvattavatPerusteet[diaari].nimi" ng-bind="'(' + (korvattavatPerusteet[diaari].nimi | kaanna) + ')'"></span>
        </li>
      </ul>
    </td>
  </tr>
  <tr ng-show="showKoulutukset()" ng-if="peruste.koulutukset.length > 0">
    <th kaanna="'peruste-koulutukset'"></th>
    <td>

      <span ng-if="peruste.koulutukset.length === 0" kaanna="'ei-koulutuksia'"></span>
      <div class="koulutukset" ng-if="peruste.koulutukset.length > 0">
        <div class="koulutus" ng-repeat="koulutus in peruste.koulutukset">
          <table class="aligned">
            <tr>
              <th kaanna="'koulutuksen-nimi'"></th>
              <td>{{koulutus.nimi| kaanna}}</td>
            </tr>
            <tr>
              <th kaanna="'perusteen-koodi'"></th>
              <td>{{koulutus.koulutuskoodiArvo}}</td>
            </tr>
            <tr>
              <th kaanna="'haku-koulutusala'"></th>
              <td>{{koulutusalaNimi(koulutus.koulutusalakoodi).nimi | kaanna}}</td>
            </tr>
            <tr>
              <th kaanna="'haku-opintoala'"></th>
              <td>{{opintoalaNimi(koulutus.opintoalakoodi).nimi | kaanna}}</td>
            </tr>
          </table>
        </div>
      </div>

    </td>
  </tr>
  <tr ng-if="koodisto.length > 0">
    <th kaanna="'tutkintonimikkeet'"></th>
    <td>

    <table ng-if="koodisto.length > 0" class="aligned tutkintonimikkeet">
      <thead>
        <tr>
          <th kaanna="osaamisala"></th>
          <th kaanna="tutkintonimike"></th>
          <th kaanna="tutkinnonosa"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="koodi in koodisto">
          <td><span ng-show="koodi.osaamisalaArvo">{{ koodi.$osaamisalaNimi | kaanna }} ({{ koodi.osaamisalaArvo }})</span></td>
          <td>{{ koodi.$tutkintonimikeNimi | kaanna }} ({{ koodi.tutkintonimikeArvo }})</td>
          <td><span ng-show="koodi.tutkinnonOsaArvo">{{ koodi.$tutkinnonOsaNimi | kaanna }} ({{ koodi.tutkinnonOsaArvo }})</span></td>
        </tr>
      </tbody>
    </table>
    <div ng-if="koodisto.length === 0" kaanna="'ei-tutkintonimikkeita'"></div>

    </td>
  </tr>
  <tr>
    <th kaanna="'tiivistelma'"></th>
    <td><termisto-tekstikentta tekstikentta="peruste.kuvaus"></termisto-tekstikentta></td>
  </tr>
  <tr>
    <th kaanna="'voimaantulo-pvm'"></th>
    <td pvm="peruste.voimassaoloAlkaa"></td>
  </tr>
  <tr>
    <th kaanna="'voimassaolo-paattymispvm'"></th>
    <td pvm="peruste.voimassaoloLoppuu"></td>
  </tr>
</table>
