<h1>{{ vlk.nimi | kaanna }}</h1>
<div ng-if="hasContent(vlk.tehtava)">
  <h2 ng-bind-html="vlk.tehtava.otsikko | kaanna | unsafe"></h2>
  <termisto-tekstikentta tekstikentta="vlk.tehtava.teksti"></termisto-tekstikentta>
</div>
<div ng-if="hasContent(vlk.siirtymaEdellisesta)">
  <h2 ng-bind-html="vlk.siirtymaEdellisesta.otsikko | kaanna | unsafe"></h2>
  <termisto-tekstikentta tekstikentta="vlk.siirtymaEdellisesta.teksti"></termisto-tekstikentta>
</div>
<div ng-if="hasContent(vlk.siirtymaSeuraavaan)">
  <h2 ng-bind-html="vlk.siirtymaSeuraavaan.otsikko | kaanna | unsafe"></h2>
  <termisto-tekstikentta tekstikentta="vlk.siirtymaSeuraavaan.teksti"></termisto-tekstikentta>
</div>
<div ng-if="hasContent(vlk.laajaalainenOsaaminen)">
  <h2 ng-bind-html="vlk.laajaalainenOsaaminen.otsikko | kaanna | unsafe"></h2>
  <termisto-tekstikentta tekstikentta="vlk.laajaalainenOsaaminen.teksti"></termisto-tekstikentta>
</div>
<div ng-if="vlk.laajaalaisetOsaamiset">
  <h2 kaanna="'laaja-alaisen-osaamisen-alueet'" id="vlk-laajaalaisetosaamiset"></h2>
  <div ng-repeat="osaaminen in vlk.laajaalaisetOsaamiset | orderBy:vlkOrder">
    <h3 ng-bind-html="osaamiset[osaaminen._laajaalainenOsaaminen].nimi | kaanna | unsafe"></h3>
    <termisto-tekstikentta tekstikentta="osaaminen.kuvaus"></termisto-tekstikentta>
  </div>
</div>
<div ng-if="hasContent(vlk.paikallisestiPaatettavatAsiat)">
  <h2 ng-bind-html="vlk.paikallisestiPaatettavatAsiat.otsikko | kaanna | unsafe"></h2>
  <termisto-tekstikentta tekstikentta="vlk.paikallisestiPaatettavatAsiat.teksti"></termisto-tekstikentta>
</div>
