<div>
  <h1 class="peruste-otsikko" ng-bind-html="peruste.nimi | kaanna | unsafe"></h1>

  <div ng-if="showPreviewNote && peruste.tila !== 'valmis'" class="alert alert-info">
      <h4 kaanna="'perusteen-esikatselu'"></h4>
      <p kaanna="'laadinnan-esikatselu-info'"></p>
  </div>

  <murupolku></murupolku>

  <div class="clearfix"></div>

  <div id="sivunavi-sisalto-wrapper" ng-class="{'sivunavi-hidden': !isNaviVisible()}">
    <div class="esitys">
      <div class="sivunavi-navigaatio sivunavi-simple">
        <ep-sivunavigaatio header="navi.header" items="navi.sections[0].items">
          <!-- dummy element to force transclusion -->
          <div></div>
        </ep-sivunavigaatio>
      </div>

      <div class="sivunavi-clear"></div>
      <div class="sivunavi-sisalto perusopetus">
        <div class="row">
          <div class="col-md-12">
            <div id="esitysPrintSisalto" ui-view></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
