<div>
  <revert-note object="model" revert-cb="revertCb(response)" versions="versiot" change-version="vaihdaVersio()"></revert-note>
  <div class="action-buttons">
    <div class="floater" ng-attr-title="{{lockNotification}}">
      <button ng-disabled="isLocked" ng-if="!isPublished()" icon-role="edit"
              ng-hide="editEnabled || !versiot.latest" ng-click="muokkaa()" class="btn btn-default" kaanna="'muokkaa'"
              oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
    </div>
    <button ng-show="isPublished() && !editEnabled" ng-click="kopioiMuokattavaksi()"
            class="floater btn btn-danger" icon-role="fire" kaanna="kopioi-muokattavaksi"
            oikeustarkastelu="{ target: 'peruste', permission: 'muokkaus' }"></button>
    <div class="floater" ng-if="!editEnabled && isLocked"><lukko tip="lockNotification"></lukko></div>

    <div ng-if="editEnabled">
      <button icon-role="remove" ng-if="!isNew" class="floater btn btn-danger" ng-click="removeWhole()">{{config.removeWholeLabel | kaanna}}</button>
      <div class="floater">
        <div class="dropdown">
          <button editointi-kontrolli class="btn btn-default btn-sm dropdown-toggle" ng-disabled="!canAdd()"
                  icon-role="add">{{config.addPartLabel | kaanna}}</button>
          <ul class="pull-right dropdown-menu">
            <li ng-repeat="field in config.menuItems | orderBy:'order'">
              <a ng-show="field.visible" class="disabled-link">{{'muokkaus-' + field.localeKey + '-header' | kaanna}}</a>
              <a href="" ng-show="!field.visible" ng-click="addFieldToVisible(field)">{{'muokkaus-' + field.localeKey + '-header' | kaanna}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a ng-if="config.backLabel" ng-show="!editEnabled" icon-role="back" ng-href="{{generateBackHref()}}">{{config.backLabel | kaanna}}</a>
  <h1>{{config.title | kaanna}}</h1>

  <!-- TODO: editointitilan otsikko (uuden luonti/muokkaus), pikamenu -->

  <versiotiedot ng-hide="editEnabled"></versiotiedot>
  <hr ng-show="editEnabled">
  <form name="tutkinnonOsaHeaderForm" role="form">
    <div ng-transclude></div>
  </form>

  <div class="tutkinnonosa-sisalto"></div>

</div>
