<!-- partials/lukio/kurssi.html -->
<div class="kurssi-view">

    <div style="position: relative">
        <revert-note object="kurssi" revert-cb="revertCb(response)"
                     versions="versiot" change-version="vaihdaVersio()"></revert-note>

        <div ng-if="!kurssi.oppiaineet.length">
            <a class="pointer" ng-bind="'lukiokurssit' | kaanna" ng-click="gotoKurssit()"></a>
            / <span ng-bind="kurssi.nimi | kaanna"></span>
        </div>
        <div ng-repeat="oppiaine in kurssi.oppiaineet">
      <span>
        <a class="pointer" ng-bind="'lukiokurssit' | kaanna" ng-click="gotoKurssit()"></a>
      </span>
            <span ng-repeat="i in oppiaineMurupolkuItems(oppiaine)">
         / <a class="pointer" ng-bind="i.oppiaineNimi | kaanna" ng-click="goto(oppiaine)"></a>
      </span>
            / <span ng-bind="kurssi.nimi | kaanna"></span>
        </div>
    </div>

    <h2>
        <span ng-bind="kurssi.nimi | kaanna"></span>
    </h2>
    <div class="action-buttons">
        <button class="btn floating"
                oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]"
                ng-click="gotoMuokkaa()">
            <span icon-role="edit" class="ng-scope"></span>
            <span ng-bind="'muokkaa' | kaanna"></span>
        </button>
    </div>
    <div class="clear">
        <versiotiedot></versiotiedot>
    </div>
    <table class="description">
        <thead>
        <tr>
            <th kaanna="'kurssi-koodi'">
            </th>
            <td>
                <span ng-bind="kurssi.koodiArvo || ('ei-asetettu' | kaanna)"></span>
            </td>
        </tr>
        <tr>
            <th kaanna="'kurssi-lokalisoitu-koodi'">
            </th>
            <td>
                <span ng-bind="(kurssi.lokalisoituKoodi | kaanna) || ('ei-asetettu' | kaanna)"></span>
            </td>
        </tr>
        <tr>
            <th kaanna="'kurssi-tyyppi'">
            </th>
            <td>
                <span ng-bind="kurssityypit[kurssi.tyyppi] | kaanna"></span>

                <div ng-repeat="oppiaine in kurssi.oppiaineet">
                    <div ng-if="oppiaine.kurssiTyyppinKuvaus | kaanna">
                        <h5>
                            <span kaanna="kurssi-tyypin-kuvaus"></span>
                            <span ng-if="kurssi.oppiaineet.length > 1"> - </span>
                            <span ng-if="kurssi.oppiaineet.length > 1" ng-bind="oppiaine.nimi | kaanna"></span>
                        </h5>
                        <div ng-bind-html="oppiaine.kurssiTyyppinKuvaus | kaanna | unsafe"
                             termisto-viitteet="oppiaine.kurssiTyyppinKuvaus"></div>
                    </div>
                </div>
            </td>
        </tr>
        </thead>
    </table>

    <div ng-if="kurssi.kuvaus | kaanna">
        <h3 class="panel-title osio-otsikko" ng-bind="'kurssi-kuvaus-header' | kaanna"></h3>
        <div ng-bind-html="kurssi.kuvaus | kaanna | unsafe" termisto-viitteet="kurssi.kuvaus"></div>
    </div>

    <div ng-if="kurssi.tavoitteet.teksti | kaanna">
        <h3 class="panel-title osio-otsikko" ng-bind="kurssi.tavoitteet.otsikko | kaanna"></h3>
        <div ng-bind-html="kurssi.tavoitteet.teksti | kaanna | unsafe"
             termisto-viitteet="kurssi.tavoitteet.teksti"></div>
    </div>

    <div ng-if="kurssi.keskeinenSisalto.teksti | kaanna">
        <h3 class="panel-title osio-otsikko" ng-bind="kurssi.keskeinenSisalto.otsikko | kaanna"></h3>
        <div ng-bind-html="kurssi.keskeinenSisalto.teksti | kaanna | unsafe"
             termisto-viitteet="kurssi.keskeinenSisalto.teksti"></div>
    </div>

    <div ng-if="kurssi.tavoitteetJaKeskeinenSisalto.teksti | kaanna">
        <h3 class="panel-title osio-otsikko" ng-bind="kurssi.tavoitteetJaKeskeinenSisalto.otsikko | kaanna"></h3>
        <div ng-bind-html="kurssi.tavoitteetJaKeskeinenSisalto.teksti | kaanna | unsafe"
             termisto-viitteet="kurssi.tavoitteetJaKeskeinenSisalto.teksti"></div>
    </div>

    <div ng-if="kurssi.arviointi.teksti | kaanna">
        <h3 class="panel-title osio-otsikko" ng-bind="kurssi.arviointi.otsikko | kaanna"></h3>
        <div ng-bind-html="kurssi.arviointi.teksti | kaanna | unsafe" termisto-viitteet="kurssi.arviointi.teksti"></div>
    </div>

    <div style="clear: both;">
        <br/>
        <kommentit></kommentit>
    </div>
</div>
