<!-- partials/lukio/lisaaKurssi.html -->
<div class="lisaa-kurssi kurssi-form">
    <h2 kaanna="'lisaa-kurssi-title'"></h2>

    <div class="non-collapsibles">
        <form name="kurssiForm" role="form">
            <div class="action-buttons">
                <div class="floater" ng-include="'views/partials/lukio/include/kurssiOsavalitsin.html'">
                </div>
            </div>

            <div ng-include="'views/partials/lukio/include/kurssiLomakeKentat.html'"></div>
        </form>
    </div>
</div>
