<!-- partials/lukio/muokkaaKurssia.html -->
<div class="muokkaa-kurssia kurssi-form">
    <h2 kaanna="'muokkaa-kurssia'"></h2>

    <div class="non-collapsibles">
        <form name="kurssiForm" role="form">
            <div class="action-buttons">
                <div class="floater" ng-include="'views/partials/lukio/include/kurssiOsavalitsin.html'">
                </div>

                <button class="btn floating"
                        oikeustarkastelu="[{ target: 'peruste', permission: 'muokkaus' }, { target: 'peruste', permission: 'korjaus' }]"
                        ng-click="deleteKurssi()">
                    <span icon-role="remove" class="ng-scope"></span>
                    <span ng-bind="'poista' | kaanna"></span>
                </button>
            </div>

            <div ng-include="'views/partials/lukio/include/kurssiLomakeKentat.html'"></div>
        </form>
    </div>
</div>
