<div>
    <h1 kaanna>perusteprojektit</h1>

    <button ui-sref="root.perusteprojektiwizard.tiedot" class="btn" icon-role="plus" kaanna>uusi-perusteprojekti</button>
    <button ui-sref="root.perusteprojektiwizard.pohja" class="btn" icon-role="plus" kaanna>uusi-perustepohja</button>
    <hr>

    <div class="input-group rajauslaatikko">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input ng-model="rajaus" placeholder="{{ 'etsi-perusteprojekteista' | kaanna }}" type="input" class="form-control">
    </div>
    <div>
        <table class="table table-striped">
            <tr>
                <th><a href="" ng-click="asetaJarjestys('nimi')" kaanna>nimi</a></th>
                <th><a href="" ng-click="asetaJarjestys('haltija')" kaanna>haltija</a></th>
                <th><a href="" ng-click="asetaJarjestys('diaarinumero')" kaanna>diaarinumero-label</a></th>
                <th><a href="" ng-click="asetaJarjestys('tila')" kaanna>tila</a></th>
                <th kaanna>toiminto</th>
            </tr>
            <tr ng-repeat="pp in perusteprojektit | orderBy:jarjestys:jarjestysOrder | filter:rajaaSisaltoa">
                <td><a href="" ui-sref="root.perusteprojekti.suoritustapa.sisalto({ perusteProjektiId: pp.id, suoritustapa: 'naytto' })">{{ pp.nimi | kaanna }}</a></td>
                <td>Erkki Esimerkki</td>
                <td>{{ pp.diaarinumero }}</td>
                <td>
                    {{ 'tila-' + pp.tila | kaanna }}
                    <span ng-show="pp.tila === 'poistettu'">(<a ng-click="palautaPerusteprojekti(pp)" href="" kaanna>palauta</a>)</span>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
