<div>
    <!-- aikuisperusopetuslistaus.html -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th kaanna="'nimi'"></th>
            <th kaanna="'diaarinumero'"></th>
            <th kaanna="'voimassaoloLoppuu'"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="aipe in lista">
            <td><a href="{{ aipe.$url }}" kaanna="aipe.nimi"></a></td>
            <td ng-bind="aipe.diaarinumero"></td>
            <td ng-if="aipe.voimassaoloLoppuu">{{ aipe.voimassaoloLoppuu | aikaleima }}</td>
            <td ng-if="!aipe.voimassaoloLoppuu" kaanna="'paattymisaikaa-ei-ole-maaritetty'"></td>
        </tr>
        </tbody>
    </table>
</div>
