<div class="panel panel-default">
  <div class="clearfix"></div>
  <form class="panel-body">
    <div  class="form-group col-xs-6">
      <label for="tutkinnon-nimi" translate>haku-nimi</label>
      <input id="tutkinnon-nimi" type="text" class="form-control" placeholder="{{'haku-tutkinnon-nimi-placeholder'| translate}}" ng-model="query" ng-change="hakuMuuttui()">
    </div>
    <div class="form-group col-xs-6" ng-show="konteksti !== kontekstit[0]">
      <label for="haku-tyyppi" translate>haku-tyyppi</label>
      <select id="haku-tyyppi" ng-model="tutkintotyyppi" class="form-control" ng-change="hakuMuuttui()">
        <option value="" translate>haku-kaikki-tutkinnot</option>
        <option ng-repeat="(koodi, nimi) in tutkintotyypit" value="{{koodi}}" ng-selected="tutkintotyyppi === koodi">{{nimi| translate}}</option>
      </select>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-xs-6">
      <label for="haku-ala" translate>haku-koulutusala</label>
      <select id="haku-ala" ng-model="koulutusala" class="form-control" ng-change="koulutusalaMuuttui()">
        <option value="" translate>haku-kaikki-alat</option>
        <option ng-repeat="ala in koulutusalat" value="{{ala.koodi}}" ng-selected="koulutusala === ala.koodi">{{'koulutusalakoodi-' + ala.koodi| translate}}</option>
      </select>
    </div>
    <div class="form-group col-xs-6" ng-show="konteksti !== kontekstit[0] && koulutusala !== ''">
      <label for="haku-opintoala" translate>haku-opintoala</label>
      <select id="haku-opintoala" ng-model="valittuOpintoala" class="form-control" ng-change="hakuMuuttui()">
        <option value="" translate>haku-kaikki-opintoalat</option>
        <option ng-repeat="ala in opintoalat" value="{{ala}}" ng-selected="valittuOpintoala === ala">{{'opintoalakoodi-' + ala| translate}}</option>
      </select>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-xs-12">
        <label style="display: inline"><input type="checkbox" ng-model="siirtymaAjalla" ng-change="hakuMuuttui()"> {{ 'haku-näytä-siirtymäajalla-olevat' | translate }}</label>
        <button class="btn btn-default btn-sm pull-right" ng-click="tyhjenna()" translate>palauta</button>
    </div>
  </form>
</div>
<div>
  <p>{{'haku-tulosten-määrä'| translate}} {{kokonaismaara}}</p>
</div>
<div>
  <table class="table table-condensed table-striped" ng-show="kokonaismaara > 0">
    <thead>
      <tr>
        <th translate>haku-nimi</th><th translate>haku-koulutusala</th><th translate>haku-voimaantulopvm</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="peruste in perusteet.data">
        <td><a ng-href="#/selaus/{{konteksti}}/{{peruste.id}}"><span ng-bind-html="korosta(valitseKieli(peruste.nimi))"></span></a></td>
        <td>{{'koulutusalakoodi-' + peruste.koulutusala| translate}}</td>
        <td>{{peruste.paivays|date:'dd.MM.yyyy'}}</td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination">
    <li ng-class="{disabled:nykyinenSivu === 0}">
      <a ng-click="edellinenSivu()"><span class="glyphicon glyphicon-backward"></span></a>
    </li>
    <li ng-class="{active : nykyinenSivu === sivu}" data-ng-repeat="sivu in sivut"><a ng-click="haePerusteet(sivu)">{{$index + 1}}</a></li>
    <li ng-class="{disabled: nykyinenSivu + 1 >= sivuja}">
      <a ng-click="seuraavaSivu()"><span class="glyphicon glyphicon-forward"></span></a>
    </li>
  </ul>
</div>
