<div ng-hide="editointi || !onLataaja" class="kommentit">
    <hr>
    <div>
        <div class="kommentti-alue">
            <div>
                <h2>Keskustelu <span ng-if="sisalto">({{ sisalto.$yhteensa }} {{ 'kommenttia' | kaanna }})</span>
                <small-spinner ng-hide="nayta"></small-spinner>
                </h2>
            </div>
            <div ng-show="nayta && sisalto">
            <a ng-model="editoi" ng-hide="editoi" class="action-link" ng-click="editoi = true"><h3 icon-role="add" kaanna="lisaa-kommentti"></h3></a>
            <div ng-show="editoi" class="kommentti-uusi">
                <textarea class="form-control msd-elastic" ng-model="editoitava"></textarea>
                <div class="kommentti-painikkeet">
                    <button class="btn" ng-click="editoi = false" kaanna>peruuta</button>
                    <button class="btn btn-primary" ng-click="lisaaKommentti(sisalto, editoitava); editoi = false; editoitava = ''" kaanna>tallenna</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <kommentti-viesti depth="0" sisalto="sisalto"></kommentti-viesti>
            </div>
        </div>
    </div>
</div>
