<div class="input-group">
    <input ng-model="mlData[activeLang]" class="form-control" type="text">
    <div class="input-group-btn" dropdown is-open="kielivalintaAuki">
        <button type="button" class="btn btn-default dropdown-toggle">
            {{ activeLang | kaanna }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="lang in langs"><a href="" ng-click="vaihdaKieli(lang, $event)">{{ lang | kaanna }}</a></li>
        </ul>
    </div>
</div>
