<div>
  <!-- perusopetus.html -->
  <h1 kaanna>Perusopetuksen opetussuunnitelman perusteet</h1>

  <div id="sivunavi-sisalto-wrapper" ng-class="{'sivunavi-hidden': !isNaviVisible()}">
    <div class="sivunavi-navigaatio">
      <sivunavigaatio2 on-section-change="onSectionChange" header="navi.header" sections="navi.sections" show-one="navi.showOne"></sivunavigaatio2>
    </div>

    <div class="sivunavi-clear"></div>
    <div class="sivunavi-sisalto perusopetus">
      <div class="row">
        <div class="col-md-12">
          <div ng-if="currentSection === 'suunnitelma' && valittuTekstisisalto">
            <h1>{{ valittuTekstisisalto.nimi | kaanna }}</h1>
            <p ng-bind-html="valittuTekstisisalto.teksti | kaanna"></p>
          </div>

          <div ng-if="activeSection === 'vlk' && valittuVuosiluokkakokonaisuus">
            <h1>{{ valittuVuosiluokkakokonaisuus.nimi | kaanna }}</h1>
            <div ng-if="valittuVuosiluokkakokonaisuus.siirtymaEdellisesta">
              <h2>{{ valittuVuosiluokkakokonaisuus.siirtymaEdellisesta.otsikko | kaanna  }}</h2>
              <p ng-bind-html="valittuVuosiluokkakokonaisuus.siirtymaEdellisesta.teksti | kaanna"></p>
            </div>
            <div ng-if="valittuVuosiluokkakokonaisuus.siirtymaSeuraavaan">
              <h2>{{ valittuVuosiluokkakokonaisuus.siirtymaSeuraavaan.otsikko | kaanna  }}</h2>
              <p ng-bind-html="valittuVuosiluokkakokonaisuus.siirtymaSeuraavaan.teksti | kaanna"></p>
            </div>
            <div ng-if="valittuVuosiluokkakokonaisuus.laajaalainenOsaaminen">
              <h2>{{ valittuVuosiluokkakokonaisuus.laajaalainenOsaaminen.otsikko | kaanna  }}</h2>
              <p ng-bind-html="valittuVuosiluokkakokonaisuus.laajaalainenOsaaminen.teksti | kaanna"></p>
            </div>
            <div ng-if="valittuVuosiluokkakokonaisuus.laajaalaisetOsaamiset">
              <h2 kaanna="'laaja-alaiset-osaamiset'"></h2>
              <div ng-repeat="osaaminen in valittuVuosiluokkakokonaisuus.laajaalaisetOsaamiset ">
                <h4>{{ osaamiset[osaaminen.laajaalainenOsaaminen].nimi | kaanna }}</h4>
                <p ng-bind-html="osaaminen.kuvaus | kaanna"></p>
              </div>
            </div>
            <div ng-if="valittuVuosiluokkakokonaisuus.paikallisestiPaatettavatAsiat">
              <h2>{{ valittuVuosiluokkakokonaisuus.paikallisestiPaatettavatAsiat.otsikko | kaanna  }}</h2>
              <p ng-bind-html="valittuVuosiluokkakokonaisuus.paikallisestiPaatettavatAsiat.teksti | kaanna"></p>
            </div>
          </div>

          <div ng-if="activeSection === 'sisalto' && valittuOppiaine && valittuOppiaine.oppiaine && valittuOppiaine.vuosiluokkakokonaisuudet">
            <h1 class="oppiaine-nimi" kaanna="valittuOppiaine.oppiaine.nimi"></h1>
            <div ng-show="currentSection === 'sisalto'" class="vuosiluokkavalitsin">
              <ul class="nav nav-pills">
                <li ng-repeat="(id, kokonaisuus) in valittuOppiaine.vuosiluokkakokonaisuudet" ng-class="{ active: filtterit.valittuKokonaisuus === kokonaisuus.vuosiluokkaKokonaisuus }">
                  <a class="fixme action-link" ng-click="valitseOppiaineenVuosiluokka(kokonaisuus.vuosiluokkaKokonaisuus)">
                    {{ vuosiluokkakokonaisuudetMap[kokonaisuus.vuosiluokkaKokonaisuus].nimi | kaanna }}
                  </a>
                </li>
              </ul>
            </div>

            <div class="clearfix"></div>

            <div>
              <div>
                <h3>{{ valittuOppiaine.oppiaine.tehtava.otsikko | kaanna }}</h3>
                <p ng-bind-html="valittuOppiaine.oppiaine.tehtava.teksti || '-' | kaanna"></p>
              </div>

              <h2>{{ vuosiluokkakokonaisuudetMap[valittuOppiaine.vlks.vuosiluokkaKokonaisuus].nimi | kaanna }}</h2>
              <hr>

              <div ng-hide="filterSisalto.tehtava">
                <h3>{{ valittuOppiaine.vlks.tehtava.otsikko | kaanna }}</h3>
                <p ng-bind-html="valittuOppiaine.vlks.tehtava.teksti || '-' | kaanna"></p>
              </div>

              <div ng-hide="filterSisalto.ohjaus">
                <h3>{{ valittuOppiaine.vlks.ohjaus.otsikko | kaanna }}</h3>
                <p ng-bind-html="valittuOppiaine.vlks.ohjaus.teksti || '-' | kaanna"></p>
              </div>

              <div ng-hide="filterSisalto.tyotavat">
                <h3>{{ valittuOppiaine.vlks.tyotavat.otsikko | kaanna }}</h3>
                <p ng-bind-html="valittuOppiaine.vlks.tyotavat.teksti || '-' | kaanna"></p>
              </div>
              <div ng-hide="filterSisalto.tavoitteet" ng-if="valittuOppiaine.vlks.vuosiluokkaKokonaisuus">
                <h3 kaanna="'perusopetus-tavoitteet'"></h3>
                <div tavoitteet="valittuOppiaine.vlks" oppiaine="valittuOppiaine" osaamiset="osaamiset" vuosiluokka="valittuOppiaine.sisallot"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
