<div>
  <!-- perusopetus.html -->
  <h1 kaanna>Perusopetuksen opetussuunnitelman perusteet</h1>

  <div id="sivunavi-sisalto-wrapper" ng-class="{'sivunavi-hidden': !isNaviVisible()}">
    <div class="sivunavi-navigaatio">
      <sivunavigaatio2 sections="navi.sections" header="navi.header"></sivunavigaatio2>
    </div>

    <div class="sivunavi-clear"></div>
    <div class="sivunavi-sisalto perusopetus">
      <div class="row">
        <div class="col-md-12">
          <div ng-if="activeSection === 'suunnitelma' && valittuTekstisisalto">
            <h1>{{ valittuTekstisisalto.nimi | kaanna }}</h1>
            <p ng-bind-html="valittuTekstisisalto.teksti | kaanna"></p>
          </div>

          <div ng-if="activeSection === 'sisalto' && valittuOppiaine && valittuOppiaine.oppiaine && valittuOppiaine.vuosiluokkakokonaisuudet">
            <h1 class="oppiaine-nimi" kaanna="valittuOppiaine.oppiaine.nimi"></h1>
            <div class="vuosiluokkavalitsin">
              <ul class="nav nav-pills">
                <li ng-repeat="(id, kokonaisuus) in valittuOppiaine.vuosiluokkakokonaisuudet" ng-class="{ active: filtterit.valittuKokonaisuus === kokonaisuus.vuosiluokkaKokonaisuus }">
                  <a class="fixme action-link" ng-click="valitseVuosiluokka(kokonaisuus.vuosiluokkaKokonaisuus)">
                    {{ vuosiluokkakokonaisuudetMap[kokonaisuus.vuosiluokkaKokonaisuus].nimi | kaanna }}
                  </a>
                </li>
              </ul>
            </div>

            <div class="clearfix"></div>

            <div>
              <div>
                <h3>{{ valittuOppiaine.oppiaine.tehtava.otsikko | kaanna }}</h3>
                <p ng-bind-html="valittuOppiaine.oppiaine.tehtava.teksti || '-' | kaanna"></p>
              </div>

              <div ng-hide="filterSisalto.tehtava">
                <h3>{{ valittuOppiaine.vlks.tehtava.otsikko | kaanna }}</h3>
                <p ng-bind-html="valittuOppiaine.vlks.tehtava.teksti || '-' | kaanna"></p>
              </div>

              <div ng-hide="filterSisalto.ohjaus">
                <h3>{{ valittuOppiaine.vlks.ohjaus.otsikko | kaanna }}</h3>
                <p ng-bind-html="valittuOppiaine.vlks.ohjaus.teksti || '-' | kaanna"></p>
              </div>

              <div ng-hide="filterSisalto.tyotavat">
                <h3>{{ valittuOppiaine.vlks.tyotavat.otsikko | kaanna }}</h3>
                <p ng-bind-html="valittuOppiaine.vlks.tyotavat.teksti || '-' | kaanna"></p>
              </div>
              <div ng-hide="filterSisalto.tavoitteet" ng-if="valittuOppiaine.vlks.vuosiluokkaKokonaisuus">
                <h3 kaanna="'perusopetus-tavoitteet'"></h3>
                <div tavoitteet="valittuOppiaine.vlks" osaamiset="osaamiset" vuosiluokka="valittuOppiaine.sisallot"></div>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="activeSection === 'liitteet'">
          <h2 kaanna>Liitteet</h2>
        </div>

      </div>
    </div>
  </div>
</div>
