<div>
  <!-- perusopetus.html -->
  <h1 kaanna>Perusopetuksen opetussuunnitelman perusteet</h1>

  <div id="sivunavi-sisalto-wrapper" ng-class="{'sivunavi-hidden': !isNaviVisible()}">
    <div class="sivunavi-navigaatio">
      <sivunavigaatio2 sections="navi.sections" header="navi.header"></sivunavigaatio2>
    </div>

    <div class="sivunavi-clear"></div>
    <div class="sivunavi-sisalto perusopetus">
      <div class="row">
        <div class="col-md-12">

          <div ng-if="activeSection === 'suunnitelma'">
            <h2 kaanna>Opetussuunnitelma</h2>
          </div>

          <div ng-if="activeSection === 'sisalto'">
            <div class="action-buttons">
              <ul class="nav nav-pills moodit">
                <li ng-class="{active: filtterit.moodi === 'allekkain'}"><a class="action-link" icon-role="align-justify" ng-click="filtterit.moodi = 'allekkain';"></a></li>
                <li ng-class="{active: filtterit.moodi === 'sivutus'}"><a class="action-link" icon-role="pause" ng-click="filtterit.moodi = 'sivutus';"></a></li>
              </ul>
            </div>
            <div ng-if="filtterit.moodi === 'sivutus'">
              <ul class="nav nav-pills">
                <li ng-repeat="vuosiluokka in vuosiluokkakokonaisuudet" ng-class="{ active: filtterit.valittuKokonaisuus === vuosiluokka.id }">
                  <a class="action-link" ng-click="valitseVuosiluokka(vuosiluokka)">{{ vuosiluokka.nimi | kaanna }}</a>
                </li>
              </ul>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ vuosiluokkakokonaisuudetMap[filtterit.valittuKokonaisuus].nimi | kaanna }}</h3>
              </div>
              <div class="panel-body">
                <div ng-if="opvk(oaId)" ng-repeat="(oaId, kokonaisuus) in oppiaineenvk">
                  <h3 class="oppiaine">{{ oppiaineet[oaId].nimi | kaanna}} {{ aineId }}</h3>
                  <div ng-if="opvk(oaId, sisaltoTyyppi)" ng-repeat="sisaltoTyyppi in oppiainesisaltoJarjestys">
                    <h4>{{ opvk(oaId, sisaltoTyyppi).otsikko | kaanna }}</h4>
                    <p>{{ opvk(oaId, sisaltoTyyppi).teksti || '-' | kaanna }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="activeSection === 'liitteet'">
          <h2 kaanna>Liitteet</h2>
        </div>

      </div>
    </div>
  </div>
</div>
