<div id="toolbar" class="navbar-fixed-top ck-toolbar" style="display: none">
    <div id="ck-toolbar-top"></div>
    <div id="ck-toolbar-bottom"></div>
</div>
<div class="row">
    <div class="col-md-12 ep-sisalto-inner">
        <div ng-if="isVaihe()">
            <muokkaus-vaihe model="dataObject" versiot="versiot"></muokkaus-vaihe>
        </div>
        <div ng-if="isOsaaminen()">
            <muokkaus-osaaminen model="dataObject" versiot="versiot" service="aipeService"></muokkaus-osaaminen>
        </div>
        <div ng-if="isOppiaine()">
            <div ui-view></div>
        </div>
    </div>
</div>
