.admin {
  .hallintapainikkeet {
    position: relative;
    float: right;
    top: -32px;
  }

  .tilarajaus {
    float: left;
    margin-right: 8px;
  }

  .rajauslaatikko {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%
  }
}
