$sivunavigaatio-width: 260px;
$border-color: #0C566E;

.esitys {
  .navigaatio {
    float: left;
    width: $sivunavigaatio-width;

    .takaisin {
      margin: 10px;
    }
  }
  .sisalto {
    margin-left: $sivunavigaatio-width;
    padding-left: 20px;

    hr {
      margin-top: 0;
    }

    h1 {
      margin: 0px;
    }

    h2 {
      margin-bottom: 2px;
    }

    .tiedot {
      padding: 5px;
    }

    .painikkeet {
      padding-top: 8px;
      font-size: small;
    }

    .left-space {
      margin-left: 8px;
    }

    .arviointi {
      margin: 5px;
      margin-top: 20px;
      border: 1px solid $border-color;

      .arviointi-otsikko {
	      background: $border-color;
	      color: #fff;
	      padding: 5px;
      }
      .arviointi-sisalto {
	      padding: 10px;
	      h4 {
	        font-weight: bold;
	      }
      }
    }
  }
}
