$kommentti-avatar-margin: 10px;

.kommentit {
  margin-top: 50px;
}

.kommentti-alue {
  margin-top: 0px;
}

.kommentti {
  margin-bottom: 5px;
  padding: 0px;
  background: #fdfdfd;
  h3 {
    padding-top: 8px;
  }
  hr {
    margin-top: 10px;
  }
}

.kommentti-avatar {
  margin: $kommentti-avatar-margin;
}

.kommentti-footer {
  margin-top: 15px;
  .aikaleima {
    color: #888;
    margin-right: 10px;
  }
  .muokattu {
    font-weight: 700;
    margin-right: 0.5em;
  }
  .action-link {
    margin-right: 10px;
  }
}

.kommentti-poistettu {
  padding-left: 5px;
}

.kommentti-painikkeet {
  margin-top: 5px;
  float: right;
}

.kommentti-uusi {
  padding: 5px;
  margin: 2px;
}

.kommentti-sisalto {
  margin-left: $avatar-koko + $kommentti-avatar-margin * 2;

  .avattu-viesti {
    overflow: auto;
    width: 95%;
  }

  .rajattu-viesti {
    overflow: hidden;
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98%;
  }
}

.kommentti-oma {
  background: #f6f6f6;
}
