.modal-dialog {
    width: 1000px;
}

.modal-body {
    .results {
        min-height: 400px;
    }
    .results-amount {
        display: block;
        height: 30px;
        padding: 10px 0 10px 0;
    }

    .popup-navi {
        text-align: center;

        .linkDisabled {
            pointer-events: none;
            color: grey;
        }
    }
}
