.lops2019 {
    .tavoitealue {
        border: 1px solid rgba(6, 82, 107, 0.12);
        background-color: rgba(20, 158, 203, 0.06);
        margin-bottom: 10px;
        padding: 10px;
    }

    .oppiaine {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        padding: 5px 10px;
        margin-bottom: 5px;
    }
}
