.notification-wrapper {
  margin: 0px;
  padding: 0px;
  padding-top: 6px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

.notifications {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 420px;
  top: 0px;
}

.notification-header {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

@mixin notification() {
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  min-height: 32px;
  width: 300px;
  opacity: 0.85;
  margin: 0px;
  margin-top: 0px;
  color: white;
  font-weight: bold;
}

.notification-normal {
  @include notification();
  background: #ccc;
}

.notification-success {
  @include notification();
  background: #5cb85c;
}

.notification-warning {
  @include notification();
  background: #c80;
}

.notification-danger {
  @include notification();
  background: #f55;
}

