.notification-wrapper {
    margin: 0px;
    margin-top: 24px;
    padding: 0px;
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: $z-index-notification;
}

.notifications {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px;
}

@mixin notification() {
    cursor: pointer;
    padding: 0px 5px 0px 2px;
    min-height: 42px;
    width: 70%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 6px #999;
    vertical-align: center;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.49);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.49);
    background-repeat: no-repeat;
    background-position: 7px 6px;
}

.notification-body {
    padding: 6px;
}

.notification-picture {
    margin-right: 4px;
    float: left;
    width: 28px;
    height: 29px;
    display: inline-block;
}

.notification-message {
    margin: 6px 0px 0px 37px;
    float: left;
    font-weight: normal;
}

.notification-normal {
    @include notification();
    background-color: #e4f4f9;
    background-image: url("../images/notify-info.png");
    color: #4987b3;
}

.notification-success {
    @include notification();
    background-color: #e3f4e5;
    background-image: url("../images/notify-success.png");
    color: #4b8947;
}

.notification-warning {
    @include notification();
    background-color: #fcf3d3;
    background-image: url("../images/notify-alert.png");
    color: #a07c3a;
}

.notification-danger {
    @include notification();
    background: $error-vari;
    color: #fff;
}

.jarjestelmavirhe {
    min-height: 60px;
    background: beige;
    border-radius: 5px;
}

.jarjestelmavirhe-kuva {
    padding-top: 26px;
    padding-left: 22px;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 32px;
    position: relative;
    width: 65px;
    height: 64px;
    display: inline-block;
    float: left;
}

.jarjestelmavirhe-viesti {
    margin-left: 128px;
    min-height: 60px;
}

.jarjestelmavirhe-ok {
    margin-top: 12px;
    margin-left: 50%;
    button {
        width: 60px;
    }
}

.alert-error {
    background-repeat: no-repeat;
    background-position: 8px 10px;
    background-image: url("../images/notify-alert.png");
    padding-left: 46px;
}

.inline-alert {
    font-size: 12px;
    font-weight: normal;
    color: red;
}
