.notification-wrapper {
  margin: 0px;
  padding: 0px;
  padding-top: 6px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.notifications {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0px;
}

@mixin notification() {
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  min-height: 32px;
  width: 70%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 2px 2px 6px #999;
  vertical-align: center;
}

.notification-body {
  padding: 6px;
}

.notification-picture {
  margin-right: 4px;
  float: left;
  width: 20px;
  height: 20px;
  display: inline-block;
  opacity: 0.2;
  background: #222;
}

.notification-message {
  float: left;
  font-weight: normal;
}

.notification-normal {
  @include notification();
  background: #e5f4f9;
  color: #4987b3;
}

.notification-success {
  @include notification();
  background: #e4f4e5;
  color: #4b8947;
}

.notification-warning {
  @include notification();
  background: #fcf3d3;
  color: #a07c3a;
}

.notification-danger {
  @include notification();
  background: #d9534f;
  color: #fff;
}
