.tag-action-buttons {
  position: relative;
}

#tag-filter-add-dialog {
  border: 1px solid #ccc;
  background-color: white;
  min-width: 300px;
  min-height: 300px;
  top: -300px;
  position: absolute;
}
