.osaaminen {
  .editing {
    .panel-body {
      border: 1px solid #ccc;
      border-top: none !important;
    }
    .panel-heading {
      border: 1px solid #ccc !important;
    }
  }
  .yleiskuvaus-toggle {
    margin: 15px 0 10px;
    display: block;
  }

  .yleiskuvaus {
    padding: 10px;
    border: 1px solid #ccc;
    //background-color: #f6f6f6;
  }
  .panel + .panel {
    margin-top: 15px;
  }
}

ul.vuosiluokat {
  list-style-type: none;
  @include content-columns(3, 20px);
  li input {
    top: 0;
  }
}

/* PROTO --> */

.tag-action-buttons {
  position: relative;
}

#tag-filter-add-dialog {
  border: 1px solid #ccc;
  background-color: white;
  min-width: 300px;
  min-height: 300px;
  top: -300px;
  position: absolute;
}

.multichoice {
  margin-bottom: 0;
  &.condensed {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
  .toggle-all {
    display: block !important;
    label {
      font-style: italic;
    }
  }
  .level1 {
    padding-left: 1.5em;
  }
  .level2 {
    padding-left: 3em;
  }
}

.inner-accordion {
  .panel-heading .badge {
    margin-right: -15px;
  }
}

.oppiaine {
  color: $brand-primary;
  font-weight: 700;
}

.perusopetus {
  .nav-pills {
    margin-bottom: 15px;
  }
  .moodit {
    margin-top: -40px;
  }
}
