$sisalto-chevron-color: $brand-primary;
$sisalto-chevron-size: 40px;
$first-level-bg: #f1f1f1;
$sisalto-hover-bg: #eee;
.suoritustapa-valinta {
  margin-bottom: 5px;
}
.main-content {
  .sisalto-list-element:hover, .li:hover {
    background: $sisalto-hover-bg;
  }
  .angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 0;
  }
  .angular-ui-tree-node {
    min-height: 0px;
  }
}

@mixin tablecell() {
  display: table-cell;
  vertical-align: middle;
}

.sisalto-list-element {
  min-height: 40px;
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: white;
  h3 {
    margin: 0;
    font-size: 115%;
    font-weight: bold;
    display: inline;
    strong {
      color: lighten($brand-primary, 15%);
    }
  }
  .draghandle {
    @include tablecell();
    font-size: $sisalto-chevron-size*0.5;
    width: $sisalto-chevron-size;
    height: $sisalto-chevron-size;
    cursor: move;
    color: #999;
  }
  .otsikko {
    outline: 0;
    display: table-row;
    margin-left: $sisalto-chevron-size * 1.6;
    color: rgb(51,51,51);
    &:hover, & *:hover {
      text-decoration: none;
    }
    h3 {
      @include tablecell();
    }
    .ryhma-info {
      @include tablecell();
    }
    .muokattu-info {
      @include tablecell();
      text-align: right;
    }

    .badge-tyoryhma {
      background: #feba00;
      color: #333333;
      margin-left: 5px;
    }

    .lukko {
      top: -20px;
      position: relative;
      float: right;
    }
  }
  .chevron {
    display: table-cell;
    vertical-align: middle;
    font-size: $sisalto-chevron-size*0.5;
    width: $sisalto-chevron-size;
    height: $sisalto-chevron-size;
    padding: 0 0 0 6px;
    color: $sisalto-chevron-color;
    cursor: pointer;
  }
}

.tutkinto-sisalto {
  margin: -30px auto 100px auto;

  .tiivistelma {
    margin-bottom: 40px;
  }

  .selite {
    font-size: 18px;
    text-align: center;
    margin: 40px;
  }

  .suoritustapa {
    font-size: 16px;
  }

  .actions {
    height: 50px;
  }

  .tutkinto {
    .usericon {
      position: relative;
      top: 5px;
    }

    .toolbar-input {
      margin-bottom: 5px;
      max-width: 24em;
    }
    .open-close {
      margin: 0 10px;
    }
    h2 {
      padding-bottom: 7px;
      margin-bottom: 20px;
    }
  }
  .rakenteen-muokkaus {
    h2 {
      border-bottom: none;
      margin-bottom: 5px;
    }
    margin-bottom: 20px;
  }

  .nav {
    margin-bottom: 22px;
  }

  .nav-tabs>li>a {
    cursor: pointer;
    padding: 20px;
    background: none;
    filter: none;
    background: #fafafa;
    &:hover {
      background: #fff;
    }
  }

  .nav-tabs>li.active {
    &>a, &>a:hover, &>a:focus {
      padding: 20px;
      background: #fff;
    }
  }
}
