$sivunavi-leveys: 280px;
$sivunavi-takaisin-korkeus: 50px;
$sivunavi-sisennys: 20px;
$glyph-padding-left: 10px;
$linkkiteksti-padding-left: 30px;

.sivunavi-wrapper {
  margin-left: 0;
  margin-right: 0;
  .sivunavi-linkit {
    width: 100%;
  }
  .sivunavi-sisalto {
    h1 {
      margin-top: 0;
    }
  }
  .piilota {
    display: none !important;
  }
  .sivunavi {
    .list-group {
      &.ng-hide-add, &.ng-hide-remove {
        transition: max-height 0.2s ease;
      }
      &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
        overflow: hidden;
        max-height: 0px;
      }
      &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
        overflow: hidden;
        max-height: 100px;
      }
      margin-bottom: 0px;
      .list-group-item {
        padding: 0;
        border-radius: 0 !important;
        .glyphicon {
          padding-top: 12px;
          padding-left: $glyph-padding-left;
          color: black;
          float: left;
          display: block;
        }
      }
      .list-group {
        .list-group-item {
          border: 0;
          .glyphicon {
            padding-left: $glyph-padding-left + $sivunavi-sisennys;
          }
          .linkkiteksti {
            padding-left: $linkkiteksti-padding-left + $sivunavi-sisennys;
          }
          .list-group {
            .list-group-item {
              .glyphicon {
                padding-left: $glyph-padding-left + 2*$sivunavi-sisennys;
              }
              .linkkiteksti {
                padding-left: $linkkiteksti-padding-left + 2*$sivunavi-sisennys;
              }
              .list-group {
                .list-group-item {
                  .glyphicon {
                    padding-left: $glyph-padding-left + 3*$sivunavi-sisennys;
                  }
                  .linkkiteksti {
                    padding-left: $linkkiteksti-padding-left + 3*$sivunavi-sisennys;
                  }
                  .list-group {
                    .list-group-item {
                      .glyphicon {
                        padding-left: $glyph-padding-left + 4*$sivunavi-sisennys;
                      }
                      .linkkiteksti {
                        padding-left: $linkkiteksti-padding-left + 4*$sivunavi-sisennys;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .list-group-static {
        background-color: #fafafa;
        border-radius: 0px;
        padding: 10px 15px;
      }
    }
    a {
      &:active {
        outline: 0;
      }
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 8px;
      &.navi-aktiivinen {
        background-color: $list-group-link-color;
        color: white;
        font-weight: 700;
      }
    }
  }

  .sivunavi-takaisin {
    width: $sivunavi-leveys;
    float: left;
    .glyphicon {
      color: black;
    }
    height: $sivunavi-takaisin-korkeus;
  }

  .sivunavi {
    .linkkiteksti {
      display: block;
      padding-left: $linkkiteksti-padding-left;
      outline: 0;
    }
    .submenu-toggler {
      float: left;
      display: block;
      width: 30px;
      height: 30px;
    }
  }

  $sivunavi-toggle-leveys: 40px;
  $sivunavi-toggle-korkeus: 50px;
  $sivunavi-valinta-korkeus: $sivunavi-toggle-korkeus;
  $sivunavi-shadow: 6px;

  /* Pienellä näytöllä sivunavista tulee kelluva ja kollapsoituva */
  @media (max-width: $screen-md-max) {
    .sivunavi-toggler {
      position: relative;
      width: $sivunavi-toggle-leveys;
      height: $sivunavi-toggle-korkeus;
      left: $sivunavi-leveys;
      top: 20px;
      display: block;
      background-color: white;
      box-shadow: 0 0 $sivunavi-shadow black;
      cursor: pointer;
      .sivunavi-valinta {
        width: $sivunavi-toggle-leveys;
        height: $sivunavi-valinta-korkeus;
        text-align: center;
        .glyphicon {
          color: black;
          font-size: 20px;
          line-height: $sivunavi-valinta-korkeus;
          float: none;
        }
      }
    }
    .sivunavi-linkit {
      margin-top: -$sivunavi-toggle-korkeus;
    }
    .sivunavi {
      display: block;
      position: absolute;
      left: -20px;
      width: $sivunavi-leveys;
      z-index: 1030;
      box-shadow: 0 0 $sivunavi-shadow black;
    }
    .sivunavi-collapsed {
      left: -20px - $sivunavi-leveys;
      box-shadow: none;
    }
    .sivunavi-open {
      left: -20px;
    }
    .sivunavi.sivunavi-open-add, .sivunavi.sivunavi-collapsed-add {
      transition: left 0.2s;
    }
    .sivunavi-takaisin {
      float: none;
    }
    .sivunavi-sisalto {
      margin: 0 0 50px 30px;
    }
  }

  /* Suurella näytöllä sivunavi näytetään vasemmassa laidassa */
  @media (min-width: $screen-lg-min) {
    .sivunavi-toggler {
      display: none;
    }
    .sivunavi-sisempi-wrapper {
      display: block;
      float: left;
      width: $sivunavi-leveys;
    }
    .sivunavi-linkit {
      float: left;
    }
    .sivunavi-sisalto {
      margin: $sivunavi-takaisin-korkeus 0 50px $sivunavi-leveys + 80px;
      overflow: visible;
    }
  }
}

.sivunavi-sisalto.disable {
  margin-left: 0;
  margin-top: 0;
}

.sivunavi-wrapper.osiot-piilossa {
  .sivunavi-sisempi-wrapper {
    width: 100%;
  }
  .sivunavi-sisalto {
    margin-left: 0;
  }
}

/* sivunavigaatio2 --> */
.sivunavi-outer {
  clear: both;
}
$sivunavi-level-zero: 15px;
$sivunavi-level-padding: 20px;
@mixin sn-padding($level) {
  padding-left: $sivunavi-level-zero + $level*$sivunavi-level-padding;
}
.sivunavi-box {
  .list-group-item {
    border-radius: 0 !important;
  }
  .level { @include sn-padding(0); }
  .level1 { @include sn-padding(1); }
  .level2 { @include sn-padding(2); }
  .level3 { @include sn-padding(3); }
  .level4, .level5, .level6 { @include sn-padding(4); }
  .matched {
    background-color: lighten($nappi-vari, 5);
  }
  .input-group {
    margin-bottom: 15px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $brand-primary;
    font-size: 110%;
    font-weight: 700;
    color: white;
  }
  .sivunavi-tc-item {
    margin-bottom: 20px;
  }
  .active, .active a {
    background-color: $brand-primary;
    color: white;
  }
  .item:hover:not(.active) {
    background-color: #eee;
  }
}
