$sivunavi-leveys: 280px;
$sivunavi-takaisin-korkeus: 50px;
$sivunavi-toggle-leveys: 40px;
$sivunavi-toggle-korkeus: 50px;
$sivunavi-valinta-korkeus: $sivunavi-toggle-korkeus;
$sivunavi-shadow: 6px;

.sivunavi-outer {
  clear: both;
  width: $sivunavi-leveys;
  .no-results {
    color: $secondary-lighter;
    font-style: italic;
  }
}
.sivunavi-hidden {
  .sivunavi-outer {
    display: none !important;
  }
  .sivunavi-sisalto {
    margin-left: 0;
  }
}
.sivunavi-hidden:not(.show-back) .sivunavi-navigaatio {
  display: none !important;
}
$sivunavi-level-zero: 15px;
$sivunavi-level-padding: 20px;
@mixin sn-padding($level) {
  padding-left: $sivunavi-level-zero + $level*$sivunavi-level-padding;
}
.sivunavi-box {
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  label {
    font-weight: 300;
  }
  label > input {
    top: 0px;
    margin-right: 5px;
  }
  .list-group {
    margin-bottom: 0px;
  }
  .inner-accordion {
    border: 0;
    .panel-heading {
      background-color: inherit;
      padding-left: 0;
    }
    .panel-collapse .panel-body {
      border-top: 0;
    }
  }
  .menu .panel-body {
    padding: 0px;
    margin: -1px;
  }
  .panel-group {
    margin-bottom: 0px;
  }
  .panel {
    box-shadow: none;
  }
  .panel + .panel {
    margin-top: -1px;
  }
  .panel-chosen > .panel-heading {
    background-color: darken(#f5f5f5, 10%);
    .panel-title {
      font-weight: 700;
    }
  }
  .accordion-toggle {
    &:hover, &:focus, &:hover *, &:focus * {
      text-decoration: none;
    }
    cursor: pointer;
  }
  .list-group-item {
    border-radius: 0 !important;
  }
  .list-group-item:not(.active) {
    border-top: none;
  }
  .level, .level0 {
    border-top: 1px solid #ddd !important;
    &.active {
      border-color: $brand-primary !important;
    }
  }
  $sn-levels: 0, 1, 2, 3, 4, 5, 6, 7, 8;
  @each $i in $sn-levels {
    .level#{$i} { @include sn-padding($i); }
  }
  .matched {
    background-color: lighten($nappi-vari, 5);
  }
  .input-group {
    margin-bottom: 15px;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $brand-primary;
    font-size: 110%;
    font-weight: 700;
    color: white;
    border-bottom: none;
    text-align: center;
  }
  .empty-header {
    height: 1px;
    border: 0;
    background-color: #ddd;
    padding: 0;
    margin: 0;
  }
  .sivunavi-tc-item {
    margin-bottom: 20px;
  }
  .active, .active a {
    background-color: #e6e6e6;
    color: $brand-primary;
    font-weight: 700;
  }
  .list-group-item {
    &.active, &.active:focus, &.active:hover {
      background-color: #e6e6e6;
      color: $brand-primary;
    }
  }
  .item {
    .toggler {
      display: block;
      float: left;
      width: 20px;
      min-height: 1px;
      .glyphicon, .glyphicon:hover {
        text-decoration: none;
        color: black;
      }
    }
    .linktext {
      display: block;
      margin-left: 22px;
      overflow-x: hidden;
    }
    &:hover:not(.active) {
      background-color: #f2f2f2;
    }
    &:active, &:focus {
      outline: 0;
    }
    // TODO animation problem when using search term
    /*&.ng-hide-add, &.ng-hide-remove {
      transition: max-height 0.2s ease;
    }
    &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
      overflow: hidden;
      max-height: 0px;
    }
    &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
      overflow: hidden;
      max-height: 80px;
    }*/
  }
}

.sivunavi-navigaatio {
  float: left;
  width: $sivunavi-leveys;
}

.sivunavi-takaisin {
  a {
    font-size: 140%;
    .glyphicon {
      font-size: 25px;
      top: 4px;
    }
  }
}

.sivunavi-toggler-wrapper {
  position: relative;
}
.sivunavi-sisalto {
 h1 {
   margin-top: 0;
 }
}

/* Pienellä näytöllä sivunavista tulee kelluva ja kollapsoituva */
@media (max-width: $screen-md-max) {
  .sivunavi-outer {
    .sivunavi-toggler {
      position: absolute;
      width: $sivunavi-toggle-leveys;
      height: $sivunavi-toggle-korkeus;
      left: $sivunavi-leveys;
      top: 20px;
      display: block;
      background-color: white;
      box-shadow: 0 0 $sivunavi-shadow black;
      cursor: pointer;
      .sivunavi-valinta {
        width: $sivunavi-toggle-leveys;
        height: $sivunavi-valinta-korkeus;
        text-align: center;
        .glyphicon {
          color: black;
          font-size: 20px;
          line-height: $sivunavi-valinta-korkeus;
          float: none;
        }
      }
    }
  }
  .sivunavi-box {
    display: block;
    position: absolute;
    top: 40px;
    left: -20px;
    width: $sivunavi-leveys;
    z-index: 1030;
    box-shadow: 0 0 $sivunavi-shadow black;
    #sivunavi-footer-content.has-content button {
      margin: 10px 15px;
    }
    .header {
      border: 0;
    }
    &.sivunavi-collapsed {
      left: -20px - $sivunavi-leveys;
      box-shadow: none;
    }
    &.sivunavi-open {
      left: -20px;
    }
    &.sivunavi-open-add, &.sivunavi-collapsed-add {
      transition: left 0.2s;
    }
  }
  .sivunavi-sisalto {
    margin-top: 15px;
    margin-left: 10px;
  }
  .sivunavi-takaisin {
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
  }
  .sivunavi-clear {
    clear: both;
    display: block;
    height: 1px;
  }
}
/* Suurella näytöllä sivunavi näytetään vasemmassa laidassa */
@media (min-width: $screen-lg-min) {
  .sivunavi-outer {
    .sivunavi-toggler {
      display: none;
    }
  }
  .sivunavi-sisalto {
    margin-left: $sivunavi-leveys + 40px;
    margin-top: $sivunavi-takaisin-korkeus + 20px;
    overflow: visible;
  }
  .sivunavi-takaisin {
    margin-top: -50px;
    height: $sivunavi-takaisin-korkeus;
  }
  .sivunavi-clear {
    display: none;
  }
}

#sivunavi-footer-content.has-content {
  background-color: white;
  border-right: 1px solid #ddd;
  button {
    margin: 10px 0px;
  }
}
