$spinner-size: 30px;
$spinner-transform-x: 15px;
$spinner-transform-y: 14px;
#global-spinner {
  &.ng-hide-add, &.ng-hide-remove {
    transition: opacity 0.2s;
  }
  &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
    opacity: 0;
  }
  &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
    opacity: 0.6;
  }

  position: fixed;
  z-index: 1050;
  top: 20px;
  right: 20px;
  opacity: 0.6;
  background: transparent;
  color: black;
  width: $spinner-size;
  height: $spinner-size;
  .glyphicon {
    font-size: $spinner-size;
    line-height: $spinner-size;
  }
  $spin-duration: 1.0s;
  .spin {
    -webkit-animation: spin $spin-duration infinite linear;
    -moz-animation: spin $spin-duration infinite linear;
    -o-animation: spin $spin-duration infinite linear;
    animation: spin $spin-duration infinite linear;
    -webkit-transform-origin: $spinner-transform-x $spinner-transform-y;
     transform-origin: $spinner-transform-x $spinner-transform-y;
     -ms-transform-origin: $spinner-transform-x $spinner-transform-y;
  }
}

@-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.small-spinner {
  margin-left: 7px;
}
