.taiteenala-sisalto {
    .otsikko {
        margin-top: 30px;
    }
    .taiteenala-kentta {
        margin: 15px;
        .tovp-header {
            margin-top: 30px;
        }

        .tovp-body {
            margin-top: 6px;
        }
    }
}
