.tekstihaku {
    .murut {
        .muru {
            padding: 8px;
        }
    }

    .hakutulokset {
        .hakutulos {
            span.match {
                font-weight: bold;
                background: #ffffc7;
            }
        }
    }
}
