.tekstikappale {
    h3 {
        margin-top: 0;
    }
    .list-group-item {
        border: 0;
    }
}

.edit-tekstikappale {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
