#otsikkotiedot table {
  margin-top: 1.5em;
  margin-bottom: 2em;
  th, td {
    padding-right: 1em;
  }
}

.revisio {

}

.tutkinnon-osa-koodi {
  color: #999;
}

.osio-otsikko {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 120%;
  color: $brand-primary;
}

#tutkinnon-osa-tiedot {
  .well, .panel, .panel-heading {
    border-radius: 0;
  }
  .well, .panel {
    margin-left: 20px;
  }
  .panel-body h3 {
    margin-bottom: 8px;
  }
  .pelkka-teksti {
    background-color: transparent;
  }
}

.arvioinnin-kohdealue {
  border: 0px none;
  box-shadow: none;
  margin-left: 0px !important;
  & > .panel-heading {
    padding-left: 0;
  }
  .panel-heading {
    background-color: transparent;
    padding-bottom: 0px;
  }
  .panel-body {
    border: 0px none !important;
    padding-top: 0;
  }
  a {
    cursor: pointer;
  }
  h4 {
    font-size: 14px;
    font-weight: bolder;
  }
}

.arvioinnin-kohde {
  border: 0px none;
  box-shadow: none;
  margin-left: 0px !important;
  .list-group-item {
    padding: 5px 5px;
  }
  .taso-otsikko {
    padding-top: 5px;
    padding-left: 20px;
  }
  h4 {
    padding-top: 0;
  }
}

.muokkaus-lisays {
  border: 0px none;
  box-shadow: none;
  padding-left: 0;
  &.panel-footer.panel {
    background-color: transparent;
    border: 0px none;
    box-shadow: none;
  }
  .panel-body {
    padding: 0;
    padding-top: 15px;
  }
  label {
    display: block;
    font-weight: normal;
  }
}

.muokkaus-lisaa-osio {
  background-color: transparent;
  border: 0px none;
  box-shadow: none;
  margin-bottom: 150px;
}

.muokkaus-kohdealue {
  padding-left: 5px;
}

.muokkaus-napit {
  padding-top: 6px;
}

#muokattavat-kentat {
  .list-group-item {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .list-group-item, .panel:not(.arviointi-kohdealueet) {
    border: 0px none;
    box-shadow: none;
  }
  ul.ui-sortable li {
    cursor: move;
  }
  ul.ui-sortable-disabled li {
    cursor: default;
  }
}

.arviointi-kohdealueet {
  .toggler {
    font-size: 80%;
    display: inline-block;
    margin-left: 2em;
  }
}