.tutke2 {
  .osa-alue {
    .panel-title {
      line-height: 1.75em;
      input {
        font-size: 20px;
        height: 34px;
      }
    }
    .muokkaus-napit {
      padding-top: 4px;
    }
  }
  .panel-heading {
    .glyphicon, .otsikko {
      cursor: pointer;
    }
    .otsikko {
      font-size: 120%;
    }
    select {
      margin-left: 10px;
    }
    a {
      &:hover, &:focus, &:active, & *:hover, & *:focus, & *:active {
        text-decoration: none;
      }
    }
  }
  .kohde-edit {
    padding: 10px;
  }
  .lead {
    font-size: 110%;
    font-style: italic;
  }
}
