.tutke2 {
  .osa-alue-navi {
    margin-bottom: 15px;
    ul {
      list-style-type: none;
      display: inline;
      padding-left: 1em;
      li {
        display: inline-block;
        margin-right: 0.4em;
        &:not(:first-child):before {
          content: "|";
          margin-right: 0.4em;
        }
      }
    }
  }
  .osa-alue {
    .panel-title {
      line-height: 1.75em;
      input {
        font-size: 20px;
        height: 34px;
      }
    }
    .muokkaus-napit {
      padding-top: 4px;
    }
  }
  .panel-heading {
    .glyphicon, .otsikko {
      cursor: pointer;
    }
    .otsikko {
      font-size: 120%;
    }
    select {
      margin-left: 10px;
    }
    a {
      &:hover, &:focus, &:active, & *:hover, & *:focus, & *:active {
        text-decoration: none;
      }
    }
  }
  .kohde-edit {
    padding: 10px;
  }
  .lead {
    font-size: 110%;
    font-style: italic;
  }
  
  .osaamistavoitteet-table td {
      padding-right: 5px;
      padding-bottom: 5px;
  }
  
  input.osa-alue-nimi {
      width:90%
  }
}

.osa-alue-tabs {
    padding-top: 10px;
    // margin: 0 auto 100px auto;
    font-size: 16px;

    .nav {
        margin-bottom: 22px;
    }

    .nav-tabs>li>a {
        cursor: pointer;
        padding: 10px;
        background: none;
        filter: none;
        background: #fafafa;
        &:hover {
            background: #fff;
        }
    }

    .nav-tabs>li.active {
        &>a, &>a:hover, &>a:focus {
            padding: 10px;
            background: #fff;
        }
    }
}

hr.mujuviiva {
    border: 0px none;
    color: #DDD;
    height: 1px;
    background: none repeat scroll 0% 0% #DDD;
}

.osaamistavoite-box {
    border: 1px solid #ddd;
    padding: 10px;
}