$borderspec: 2px solid #777;
.navitable {
  margin-top: -2px;
  label {
    font-weight: 300;
  }
  tr.collapsed {
    background-color: #bbb;
  }
  .active {
    background-color: lighten($brand-primary, 50%);
  }
  width: 1000px;
  font-size: 20px;
  border: $borderspec;
  ul {
    list-style-type: none;
  }
  td {
    border: $borderspec;
    vertical-align: middle;
    &.osaalue-otsikko {
      padding-left: 1em;
      padding-right: 1em;
    }
    &.osaalue-tiedot {
      width: 50%;
    }
    .osiot {
      padding: 0;
      ul {
        margin: 0;
        padding: 0;
        li {
          padding: 0.3em 1em;
        }
      }
    }
    table {
      width: 100%;
      border: none;
      td {
        border: none;
        padding: 0.3em 1em;
        &:not(:last-child) {
          border-right: $borderspec;
        }
      }
      tr:not(:last-child) {
        td {
          border-bottom: $borderspec;
        }
      }
    }
  }
  .alue-content {
    padding: 1em;
    font-size: 14px;
  }
}
