/* Override bootstrap defaults here */

$brand-primary: #0c566e;
$list-group-link-color: $brand-primary;
$icon-font-path: 'fonts/';
$breadcrumb-bg: transparent;

/* Own variables */

$valinta-vari: rgb(210, 236, 245);

$statusbadge-height: 100px;
$statusbadge-width: 120px;