/* Override bootstrap defaults here */

$brand-primary: #0c566e;
$list-group-link-color: $brand-primary;
$icon-font-path: 'fonts/';
$breadcrumb-bg: transparent;
$panel-border-radius: 0px;

/* Own variables */

$valinta-vari: rgb(210, 236, 245);
$erotin-vari: #149ecb;
$error-vari: #f2dede;

$statusbadge-height: 100px;
$statusbadge-width: 120px;