/* Override bootstrap defaults here */

$brand-primary: #0c566e;
$list-group-link-color: $brand-primary;
$icon-font-path: 'fonts/';
$breadcrumb-bg: transparent;
$panel-border-radius: 0px;

/* Own variables */

$valinta-vari: rgb(210, 236, 245);
$erotin-vari: #149ecb;
$error-vari: #f2dede;
$secondary-lighter: #808080;
$nappi-vari: #d2ecf5;
$nappi-active-vari: #9fdbf0;
$header-background: #06526B;

$statusbadge-height: 90px;
$statusbadge-width: 95px;

$placeholder-color: #999999;
$z-index-notification: 3000;
