.max-sm-leveys {
  @media (min-width: $screen-sm-min) {
    max-width: $screen-sm-min;
  }
}

.iso-valinta {
  cursor: pointer;
  border: 1px solid $nav-tabs-border-color;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  &:hover {
    border: 1px solid black;
  }
  h3 {
    margin-bottom: 20px;
  }
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  margin-bottom: 30px;
  .btn {
    margin-left: 10px;
  }
}

.modal-body {
  .form-horizontal {
    margin-left: 10px;
    margin-right: 20px;
  }
}

button {
  .glyphicon {
    margin-right: 5px;
  }
}

.jarjestelmavirhe {
  min-height: 60px;
  background: beige;
  border-radius: 5px;
}

.jarjestelmavirhe-kuva {
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 32px;
  position: relative;
  width: 65px;
  height: 64px;
  display: inline-block;
  background: #222;
  opacity: 0.2;
  float: left;
}

.jarjestelmavirhe-viesti {
  margin-left: 128px;
  min-height: 60px;
}

.jarjestelmavirhe-ok {
  margin-top: 12px;
  margin-left: 50%;
}

.jarjestelmavirhe-ok button {
  width: 60px;
}
